node-red/flows/ma-cue-mapper.json
[
    {
        "id": "macm-tab",
        "type": "tab",
        "label": "MA Cue Mapper",
        "disabled": false,
        "info": "MA Cue Mapper v0.2 — maps friendly labels to MA cues per space.\nFile scheme: /config/ma-cue-mapper-config.json + /data/ma-cue-mapping.json",
        "env": []
    },
    {
        "id": "macm-page",
        "type": "ui-page",
        "name": "MA Cue Mapper",
        "ui": "macm-base",
        "path": "/ma-cue-mapper",
        "icon": "mdi-playlist-edit",
        "layout": "grid",
        "theme": "macm-theme",
        "order": 10,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "macm-base",
        "type": "ui-base",
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "allowAnonymous": false,
        "path": "/ma-mapper",
        "showPathInSidebar": false,
        "navigationStyle": "default",
        "headerContent": "page"
    },
    {
        "id": "macm-theme",
        "type": "ui-theme",
        "name": "MA Cue Mapper Theme",
        "colors": {
            "surface": "#121212",
            "primary": "#80cbc4",
            "bgPage": "#0d0d1a",
            "groupBg": "#1b1b2e",
            "groupOutline": "#333344"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "6px"
        }
    },
    {
        "id": "macm-map-grp",
        "type": "ui-group",
        "page": "macm-page",
        "name": "Cue Mappings",
        "width": "12",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "macm-startup-inj",
        "type": "inject",
        "z": "macm-tab",
        "name": "Startup (once)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.3,
        "payload": "/config/ma-cue-mapper-config.json",
        "payloadType": "str",
        "topic": "startup",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "macm-set-cfgpath-fn"
            ]
        ]
    },
    {
        "id": "macm-set-cfgpath-fn",
        "type": "function",
        "z": "macm-tab",
        "name": "Set config path",
        "func": "// Set path to ma-cue-mapper-config.json\nmsg.filename = msg.payload || '/config/ma-cue-mapper-config.json';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 60,
        "wires": [
            [
                "macm-cfg-file-in"
            ]
        ]
    },
    {
        "id": "macm-cfg-file-in",
        "type": "file in",
        "z": "macm-tab",
        "name": "Read ma-cue-mapper-config.json",
        "filename": "",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": true,
        "encoding": "none",
        "allProps": false,
        "x": 540,
        "y": 60,
        "wires": [
            [
                "macm-parse-cfg-fn"
            ]
        ]
    },
    {
        "id": "macm-parse-cfg-fn",
        "type": "function",
        "z": "macm-tab",
        "name": "Parse config",
        "func": "// Parse ma-cue-mapper-config.json\nvar cfg = {};\ntry {\n    cfg = JSON.parse(msg.payload);\n} catch(e) {\n    node.warn('[MA Cue Mapper] Config parse error, using defaults: ' + e.message);\n}\ncfg.mappingFile = cfg.mappingFile || '/data/ma-cue-mapping.json';\nflow.set('ma_cue_cfg', cfg);\nnode.status({ fill: 'green', shape: 'dot', text: 'Config loaded' });\nmsg.filename = cfg.mappingFile;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 60,
        "wires": [
            [
                "macm-map-file-in"
            ]
        ]
    },
    {
        "id": "macm-cfg-catch",
        "type": "catch",
        "z": "macm-tab",
        "name": "Config file missing",
        "scope": [
            "macm-cfg-file-in"
        ],
        "uncaught": false,
        "x": 540,
        "y": 160,
        "wires": [
            [
                "macm-default-cfg-fn"
            ]
        ]
    },
    {
        "id": "macm-default-cfg-fn",
        "type": "function",
        "z": "macm-tab",
        "name": "Create default config",
        "func": "// Config file missing — create defaults\nvar defaultCfg = {\n    \"_comment\": \"MA Cue Mapper — Node-RED configuration\",\n    \"mappingFile\": \"/data/ma-cue-mapping.json\"\n};\nflow.set('ma_cue_cfg', defaultCfg);\nnode.warn('[MA Cue Mapper] Config not found — writing defaults');\nmsg.filename = '/config/ma-cue-mapper-config.json';\nmsg.payload  = JSON.stringify(defaultCfg, null, 2);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 160,
        "wires": [
            [
                "macm-write-cfg-file"
            ]
        ]
    },
    {
        "id": "macm-write-cfg-file",
        "type": "file",
        "z": "macm-tab",
        "name": "Write ma-cue-mapper-config.json",
        "filename": "",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 1030,
        "y": 160,
        "wires": [
            [
                "macm-after-write-cfg-fn"
            ]
        ]
    },
    {
        "id": "macm-after-write-cfg-fn",
        "type": "function",
        "z": "macm-tab",
        "name": "Set mapping path",
        "func": "// After writing default config, continue to mapping read\nvar cfg = flow.get('ma_cue_cfg') || {};\nmsg.filename = cfg.mappingFile || '/data/ma-cue-mapping.json';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 160,
        "wires": [
            [
                "macm-map-file-in"
            ]
        ]
    },
    {
        "id": "macm-map-file-in",
        "type": "file in",
        "z": "macm-tab",
        "name": "Read ma-cue-mapping.json",
        "filename": "",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": true,
        "encoding": "none",
        "allProps": false,
        "x": 1010,
        "y": 60,
        "wires": [
            [
                "macm-parse-map-fn"
            ]
        ]
    },
    {
        "id": "macm-parse-map-fn",
        "type": "function",
        "z": "macm-tab",
        "name": "Parse mapping",
        "func": "// Parse ma-cue-mapping.json\nvar mapping = {};\ntry {\n    mapping = JSON.parse(msg.payload);\n} catch(e) {\n    node.warn('[MA Cue Mapper] Mapping parse error, starting empty: ' + e.message);\n}\nmapping.a1  = (mapping.a1  && typeof mapping.a1  === 'object' && !Array.isArray(mapping.a1))  ? mapping.a1  : {};\nmapping.a2  = (mapping.a2  && typeof mapping.a2  === 'object' && !Array.isArray(mapping.a2))  ? mapping.a2  : {};\nmapping.a3  = (mapping.a3  && typeof mapping.a3  === 'object' && !Array.isArray(mapping.a3))  ? mapping.a3  : {};\nmapping.ls  = (mapping.ls  && typeof mapping.ls  === 'object' && !Array.isArray(mapping.ls))  ? mapping.ls  : {};\nmapping.cmd = (mapping.cmd && typeof mapping.cmd === 'object' && !Array.isArray(mapping.cmd)) ? mapping.cmd : {};\nmapping.mx  = (mapping.mx  && typeof mapping.mx  === 'object' && !Array.isArray(mapping.mx))  ? mapping.mx  : {};\nflow.set('ma_cue_mapping', mapping);\nvar count = Object.keys(mapping.a1).length + Object.keys(mapping.a2).length +\n            Object.keys(mapping.a3).length + Object.keys(mapping.ls).length +\n            Object.keys(mapping.cmd).length + Object.keys(mapping.mx).length;\nnode.status({ fill: 'green', shape: 'dot', text: 'Mapping loaded: ' + count + ' entries' });\nmsg.payload = mapping;\nmsg.topic   = 'ma/cue-map/updated';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 60,
        "wires": [
            [
                "macm-ui-tmpl"
            ]
        ]
    },
    {
        "id": "macm-map-catch",
        "type": "catch",
        "z": "macm-tab",
        "name": "Mapping file missing",
        "scope": [
            "macm-map-file-in"
        ],
        "uncaught": false,
        "x": 1010,
        "y": 260,
        "wires": [
            [
                "macm-default-map-fn"
            ]
        ]
    },
    {
        "id": "macm-default-map-fn",
        "type": "function",
        "z": "macm-tab",
        "name": "Empty mapping",
        "func": "// Mapping file missing — start with empty mapping\nvar emptyMapping = { a1: {}, a2: {}, a3: {}, ls: {}, cmd: {}, mx: {} };\nflow.set('ma_cue_mapping', emptyMapping);\nnode.warn('[MA Cue Mapper] Mapping not found — writing empty mapping');\nvar cfg = flow.get('ma_cue_cfg') || {};\nmsg.filename = cfg.mappingFile || '/data/ma-cue-mapping.json';\nmsg.payload  = JSON.stringify(emptyMapping, null, 2);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 260,
        "wires": [
            [
                "macm-write-default-map"
            ]
        ]
    },
    {
        "id": "macm-write-default-map",
        "type": "file",
        "z": "macm-tab",
        "name": "Write empty ma-cue-mapping.json",
        "filename": "",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 1490,
        "y": 260,
        "wires": [
            [
                "macm-after-write-default-fn"
            ]
        ]
    },
    {
        "id": "macm-after-write-default-fn",
        "type": "function",
        "z": "macm-tab",
        "name": "Init UI (empty mapping)",
        "func": "// After writing default mapping, initialise UI\nvar mapping = flow.get('ma_cue_mapping') || { a1: {}, a2: {}, a3: {}, ls: {}, cmd: {}, mx: {} };\nmsg.payload = mapping;\nmsg.topic   = 'ma/cue-map/updated';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1730,
        "y": 260,
        "wires": [
            [
                "macm-ui-tmpl"
            ]
        ]
    },
    {
        "id": "macm-ui-tmpl",
        "type": "ui-template",
        "z": "macm-tab",
        "group": "macm-map-grp",
        "page": "",
        "ui": "",
        "name": "Cue Mapper UI",
        "order": 1,
        "width": "12",
        "height": "14",
        "format": "<template>\n  <div style=\"padding:12px;color:#e0e0e0;font-size:0.92em\">\n    <!-- Space selector row -->\n    <div style=\"display:flex;align-items:center;gap:12px;margin-bottom:16px;flex-wrap:wrap\">\n      <span style=\"color:#80cbc4;font-weight:600\">Space:</span>\n      <select v-model=\"selectedSpace\" @change=\"cancelEdit\"\n              style=\"background:#1e1e2e;color:#e0e0e0;border:1px solid #444;padding:6px 12px;border-radius:4px;cursor:pointer\">\n        <option value=\"a1\">Atrium 1</option>\n        <option value=\"a2\">Atrium 2</option>\n        <option value=\"a3\">Atrium 3</option>\n        <option value=\"ls\">Landscape</option>\n        <option value=\"cmd\">Commands</option>\n        <option value=\"mx\">Macros</option>\n      </select>\n      <button @click=\"startAdd\"\n              style=\"background:#1e3a5f;color:#80cbc4;border:1px solid #2d6a9f;padding:6px 14px;border-radius:4px;cursor:pointer;font-weight:600\">\n        + Add Entry\n      </button>\n\n      <!-- Sort controls -->\n      <span style=\"margin-left:auto;color:#aaa;font-size:0.85em\">Sort:</span>\n      <button @click=\"toggleSort('label')\"\n              :style=\"sortBtnStyle('label')\"\n              style=\"padding:6px 10px;border-radius:4px;cursor:pointer;border:1px solid #555;background:#0d0d1a;color:#e0e0e0\">\n        Label {{ sortIndicator('label') }}\n      </button>\n      <button @click=\"toggleSort('type')\"\n              :style=\"sortBtnStyle('type')\"\n              style=\"padding:6px 10px;border-radius:4px;cursor:pointer;border:1px solid #555;background:#0d0d1a;color:#e0e0e0\">\n        Type {{ sortIndicator('type') }}\n      </button>\n      <button @click=\"toggleSort('target')\"\n              :style=\"sortBtnStyle('target')\"\n              style=\"padding:6px 10px;border-radius:4px;cursor:pointer;border:1px solid #555;background:#0d0d1a;color:#e0e0e0\">\n        Target {{ sortIndicator('target') }}\n      </button>\n      <button v-if=\"!isCmdOrMx\" @click=\"toggleSort('cue')\"\n              :style=\"sortBtnStyle('cue')\"\n              style=\"padding:6px 10px;border-radius:4px;cursor:pointer;border:1px solid #555;background:#0d0d1a;color:#e0e0e0\">\n        Cue {{ sortIndicator('cue') }}\n      </button>\n    </div>\n\n    <!-- Mapping table -->\n    <table style=\"width:100%;border-collapse:collapse;margin-bottom:20px\">\n      <thead>\n        <tr style=\"border-bottom:2px solid #444\">\n          <th @click=\"toggleSort('label')\" title=\"Sort by Label\"\n              style=\"text-align:left;padding:6px 8px;color:#80cbc4;cursor:pointer;user-select:none\">\n            Label <span style=\"color:#888\">{{ sortIndicator('label') }}</span>\n          </th>\n          <th @click=\"toggleSort('type')\" title=\"Sort by Type\"\n              style=\"text-align:left;padding:6px 8px;color:#80cbc4;cursor:pointer;user-select:none\">\n            Type <span style=\"color:#888\">{{ sortIndicator('type') }}</span>\n          </th>\n          <th @click=\"toggleSort('target')\" title=\"Sort by Target\"\n              style=\"text-align:left;padding:6px 8px;color:#80cbc4;cursor:pointer;user-select:none\">\n            Target <span style=\"color:#888\">{{ sortIndicator('target') }}</span>\n          </th>\n          <th v-if=\"!isCmdOrMx\" @click=\"toggleSort('cue')\" title=\"Sort by Cue\"\n              style=\"text-align:left;padding:6px 8px;color:#80cbc4;cursor:pointer;user-select:none\">\n            Cue <span style=\"color:#888\">{{ sortIndicator('cue') }}</span>\n          </th>\n          <th style=\"text-align:left;padding:6px 8px;color:#80cbc4\">Notes</th>\n          <th style=\"padding:6px 8px;color:#80cbc4\">Actions</th>\n        </tr>\n      </thead>\n\n      <tbody>\n        <tr v-if=\"sortedEntries.length === 0\">\n          <td :colspan=\"isCmdOrMx ? 5 : 6\" style=\"padding:12px 8px;color:#777;font-style:italic\">\n            No entries for this space. Click &quot;+ Add Entry&quot; to create one.\n          </td>\n        </tr>\n\n        <tr v-for=\"row in sortedEntries\" :key=\"row.lid\"\n            style=\"border-bottom:1px solid #2a2a3e\"\n            :style=\"{ background: editingLabelId === row.lid ? '#1e2d3e' : 'transparent' }\">\n          <td style=\"padding:6px 8px;color:#ffd54f;font-weight:600\">{{ row.entry.displayName }}</td>\n          <td style=\"padding:6px 8px\">\n            <span :style=\"{ color: typeColor(row.entry.type) }\">{{ typeLabel(row.entry.type) }}</span>\n          </td>\n          <td style=\"padding:6px 8px;color:#80cbc4;font-family:monospace;max-width:260px;word-break:break-word\">\n            {{ entryTarget(row.entry) }}\n          </td>\n          <td v-if=\"!isCmdOrMx\" style=\"padding:6px 8px;font-family:monospace\">{{ row.entry.cue }}</td>\n          <td style=\"padding:6px 8px;color:#888;font-size:0.85em\">{{ row.entry.notes }}</td>\n          <td style=\"padding:6px 8px;white-space:nowrap\">\n            <button @click=\"editEntry(row.lid, row.entry)\"\n                    style=\"background:#2d4a2d;color:#81c784;border:1px solid #81c784;padding:3px 9px;border-radius:3px;cursor:pointer;margin-right:4px;font-size:0.85em\">Edit</button>\n            <button @click=\"sendFire(row.lid)\"\n                    style=\"background:#2d3a4a;color:#80cbc4;border:1px solid #80cbc4;padding:3px 9px;border-radius:3px;cursor:pointer;margin-right:4px;font-size:0.85em\">Send</button>\n            <button @click=\"deleteEntry(row.lid)\"\n                    style=\"background:#4a1e1e;color:#ef9a9a;border:1px solid #ef9a9a;padding:3px 9px;border-radius:3px;cursor:pointer;font-size:0.85em\">Delete</button>\n          </td>\n        </tr>\n      </tbody>\n    </table>\n\n    <!-- Add / Edit form -->\n    <div v-if=\"showForm\"\n      style=\"background:#1b1b2e;padding:16px;border-radius:6px;border:1px solid #444;margin-bottom:12px\">\n      <div style=\"font-weight:600;color:#80cbc4;margin-bottom:12px\">\n        {{ editingLabelId ? ('Edit: ' + form.displayName) : 'Add New Entry' }}\n      </div>\n      <div style=\"display:grid;grid-template-columns:1fr 1fr;gap:12px\">\n        <div>\n          <label style=\"display:block;color:#aaa;margin-bottom:4px;font-size:0.85em\">Label (Display Name) *</label>\n          <input v-model=\"form.displayName\" type=\"text\" placeholder=\"e.g. Green Look\"\n                 style=\"width:100%;background:#0d0d1a;color:#e0e0e0;border:1px solid #555;padding:6px 10px;border-radius:4px;box-sizing:border-box\"/>\n        </div>\n        <div>\n          <label style=\"display:block;color:#aaa;margin-bottom:4px;font-size:0.85em\">Type *</label>\n          <select v-model=\"form.type\" @change=\"onTypeChange\"\n                  style=\"width:100%;background:#0d0d1a;color:#e0e0e0;border:1px solid #555;padding:6px 10px;border-radius:4px;box-sizing:border-box;cursor:pointer\">\n            <option v-if=\"!isCmdOrMx\" value=\"sequenceCue\">Sequence Cue</option>\n            <option v-if=\"!isCmdOrMx\" value=\"executorCue\">Executor Cue</option>\n            <option v-if=\"selectedSpace === 'cmd'\" value=\"command\">Command</option>\n            <option v-if=\"selectedSpace === 'mx'\" value=\"macro\">Macro</option>\n          </select>\n        </div>\n        <div v-if=\"form.type === 'sequenceCue'\">\n          <label style=\"display:block;color:#aaa;margin-bottom:4px;font-size:0.85em\">Sequence # *</label>\n          <input v-model=\"form.sequence\" type=\"text\" placeholder=\"e.g. 3\"\n                 style=\"width:100%;background:#0d0d1a;color:#e0e0e0;border:1px solid #555;padding:6px 10px;border-radius:4px;box-sizing:border-box\"/>\n        </div>\n        <div v-if=\"form.type === 'executorCue'\">\n          <label style=\"display:block;color:#aaa;margin-bottom:4px;font-size:0.85em\">Executor # *</label>\n          <input v-model=\"form.executor\" type=\"text\" placeholder=\"e.g. 1.201\"\n                 style=\"width:100%;background:#0d0d1a;color:#e0e0e0;border:1px solid #555;padding:6px 10px;border-radius:4px;box-sizing:border-box\"/>\n        </div>\n        <div v-if=\"form.type === 'sequenceCue' || form.type === 'executorCue'\">\n          <label style=\"display:block;color:#aaa;margin-bottom:4px;font-size:0.85em\">Cue # *</label>\n          <input v-model=\"form.cue\" type=\"text\" placeholder=\"e.g. 7\"\n                 style=\"width:100%;background:#0d0d1a;color:#e0e0e0;border:1px solid #555;padding:6px 10px;border-radius:4px;box-sizing:border-box\"/>\n        </div>\n        <div v-if=\"form.type === 'macro'\">\n          <label style=\"display:block;color:#aaa;margin-bottom:4px;font-size:0.85em\">Macro # or Name *</label>\n          <input v-model=\"form.macro\" type=\"text\" placeholder=\"e.g. 5 or MyMacro\"\n                 style=\"width:100%;background:#0d0d1a;color:#e0e0e0;border:1px solid #555;padding:6px 10px;border-radius:4px;box-sizing:border-box\"/>\n        </div>\n        <div v-if=\"form.type === 'command'\" style=\"grid-column:1/-1\">\n          <label style=\"display:block;color:#aaa;margin-bottom:4px;font-size:0.85em\">Commands * (one per line)</label>\n          <textarea v-model=\"form.commandsText\" rows=\"4\"\n                    placeholder=\"e.g. Go+ Page 1 Executor 201 Cue 2\"\n                    style=\"width:100%;background:#0d0d1a;color:#e0e0e0;border:1px solid #555;padding:6px 10px;border-radius:4px;box-sizing:border-box;font-family:monospace;resize:vertical\"></textarea>\n        </div>\n        <div>\n          <label style=\"display:block;color:#aaa;margin-bottom:4px;font-size:0.85em\">Notes</label>\n          <input v-model=\"form.notes\" type=\"text\" placeholder=\"Optional\"\n                 style=\"width:100%;background:#0d0d1a;color:#e0e0e0;border:1px solid #555;padding:6px 10px;border-radius:4px;box-sizing:border-box\"/>\n        </div>\n      </div>\n      <div style=\"display:flex;gap:10px;margin-top:14px\">\n        <button @click=\"saveEntry\"\n                style=\"background:#1e3a1e;color:#81c784;border:1px solid #81c784;padding:7px 20px;border-radius:4px;cursor:pointer;font-weight:600\">Save</button>\n        <button @click=\"cancelEdit\"\n                style=\"background:#2a2a3e;color:#aaa;border:1px solid #555;padding:7px 20px;border-radius:4px;cursor:pointer\">Cancel</button>\n      </div>\n    </div>\n\n    <!-- Status bar -->\n    <div v-if=\"statusMsg\"\n         style=\"padding:8px 12px;border-radius:4px;font-size:0.9em\"\n         :style=\"{\n           background: statusError ? '#4a1e1e' : '#1e3a1e',\n           color: statusError ? '#ef9a9a' : '#81c784',\n           border: '1px solid ' + (statusError ? '#ef9a9a' : '#81c784')\n         }\">\n      {{ statusMsg }}\n    </div>\n  </div>\n</template>\n\n<script>\nexport default {\n  data() {\n    return {\n      mapping: { a1: {}, a2: {}, a3: {}, ls: {}, cmd: {}, mx: {} },\n      selectedSpace: 'a1',\n      showForm: false,\n      editingLabelId: null,\n      form: { displayName: '', type: 'sequenceCue', sequence: '', executor: '', cue: '', macro: '', commandsText: '', notes: '' },\n      statusMsg: '',\n      statusError: false,\n\n      // Sorting\n      sortBy: 'label',\n      sortDir: 'asc'\n    };\n  },\n\n  mounted() {\n    this.send({ payload: { action: 'getMapping' } });\n  },\n\n  computed: {\n    currentEntries() { return this.mapping[this.selectedSpace] || {}; },\n    isCmdOrMx() { return this.selectedSpace === 'cmd' || this.selectedSpace === 'mx'; },\n\n    sortedEntries() {\n      var entries = Object.keys(this.currentEntries).map((lid) => ({\n        lid,\n        entry: this.currentEntries[lid]\n      }));\n\n      var dir = this.sortDir === 'asc' ? 1 : -1;\n\n      function normStr(v) { return (v == null) ? '' : String(v).toLowerCase(); }\n      function toNum(v) { var n = Number(v); return Number.isFinite(n) ? n : null; }\n\n      var sortBy = this.sortBy;\n      var self = this;\n\n      entries.sort(function(a, b) {\n        var ea = a.entry || {};\n        var eb = b.entry || {};\n\n        if (sortBy === 'label') {\n          var la = normStr(ea.displayName), lb = normStr(eb.displayName);\n          if (la < lb) return -1 * dir;\n          if (la > lb) return  1 * dir;\n          return a.lid.localeCompare(b.lid) * dir;\n        }\n\n        if (sortBy === 'type') {\n          var ta = normStr(ea.type), tb = normStr(eb.type);\n          if (ta < tb) return -1 * dir;\n          if (ta > tb) return  1 * dir;\n          return 0;\n        }\n\n        if (sortBy === 'target') {\n          var za = normStr(self.entryTarget(ea));\n          var zb = normStr(self.entryTarget(eb));\n          if (za < zb) return -1 * dir;\n          if (za > zb) return  1 * dir;\n          return 0;\n        }\n\n        if (sortBy === 'cue') {\n          var na = toNum(ea.cue), nb = toNum(eb.cue);\n          if (na != null && nb != null) {\n            if (na < nb) return -1 * dir;\n            if (na > nb) return  1 * dir;\n            return 0;\n          }\n          var ca = normStr(ea.cue), cb = normStr(eb.cue);\n          if (ca < cb) return -1 * dir;\n          if (ca > cb) return  1 * dir;\n          return 0;\n        }\n\n        return 0;\n      });\n\n      return entries;\n    }\n  },\n\n  watch: {\n    msg: {\n      handler(m) {\n        if (!m) return;\n        if (m.topic === 'ma/cue-map/updated' && m.payload) {\n          this.mapping = Object.assign({ a1: {}, a2: {}, a3: {}, ls: {}, cmd: {}, mx: {} }, m.payload);\n          this.setStatus('Mapping loaded ✓', false);\n        } else if (m.topic === 'ma/cue-map/fire/ok' && m.payload) {\n          this.setStatus('Sent: ' + (m.payload.info || JSON.stringify(m.payload.command)), false);\n        } else if (m.topic === 'ma/cue-map/error' && m.payload) {\n          this.setStatus(m.payload.error || 'Error', true);\n        }\n      },\n      deep: true\n    }\n  },\n\n  methods: {\n    typeLabel(type) {\n      var labels = { sequenceCue: 'Sequence', executorCue: 'Executor', command: 'Command', macro: 'Macro' };\n      return labels[type] || type;\n    },\n    typeColor(type) {\n      var colors = { sequenceCue: '#ce93d8', executorCue: '#81c784', command: '#ffb74d', macro: '#64b5f6' };\n      return colors[type] || '#e0e0e0';\n    },\n    entryTarget(entry) {\n      if (entry.type === 'sequenceCue') return 'Seq ' + (entry.sequence || '');\n      if (entry.type === 'executorCue') return 'Exec ' + (entry.executor || '');\n      if (entry.type === 'command') return (entry.commands || []).join(' | ');\n      if (entry.type === 'macro') return 'Macro ' + entry.macro;\n      return '';\n    },\n\n    toggleSort(col) {\n      if (this.sortBy === col) {\n        this.sortDir = (this.sortDir === 'asc') ? 'desc' : 'asc';\n      } else {\n        this.sortBy = col;\n        this.sortDir = 'asc';\n      }\n    },\n    sortIndicator(col) {\n      if (this.sortBy !== col) return '';\n      return this.sortDir === 'asc' ? '▲' : '▼';\n    },\n    sortBtnStyle(col) {\n      if (this.sortBy !== col) return {};\n      return { borderColor: '#80cbc4', color: '#80cbc4' };\n    },\n\n    setStatus(msg, isError) {\n      this.statusMsg = msg;\n      this.statusError = isError;\n      setTimeout(() => { this.statusMsg = ''; }, 4000);\n    },\n    onTypeChange() {\n      this.form.sequence = '';\n      this.form.executor = '';\n      this.form.cue = '';\n      this.form.macro = '';\n      this.form.commandsText = '';\n    },\n    startAdd() {\n      this.editingLabelId = null;\n      var defaultType = this.selectedSpace === 'cmd' ? 'command' : this.selectedSpace === 'mx' ? 'macro' : 'sequenceCue';\n      this.form = { displayName: '', type: defaultType, sequence: '', executor: '', cue: '', macro: '', commandsText: '', notes: '' };\n      this.showForm = true;\n    },\n    editEntry(lid, entry) {\n      this.editingLabelId = lid;\n      // Normalize type if entry has a stale/incompatible type for the current space\n      var entryType = entry.type;\n      if (this.selectedSpace === 'cmd' && entryType !== 'command') entryType = 'command';\n      else if (this.selectedSpace === 'mx' && entryType !== 'macro') entryType = 'macro';\n      else if (!this.isCmdOrMx && (entryType === 'command' || entryType === 'macro')) entryType = 'sequenceCue';\n      this.form = {\n        displayName: entry.displayName,\n        type: entryType,\n        sequence: entry.sequence || '',\n        executor: entry.executor || '',\n        cue: entry.cue || '',\n        macro: entry.macro || '',\n        commandsText: (entry.commands || []).join('\\n'),\n        notes: entry.notes || ''\n      };\n      this.showForm = true;\n    },\n    cancelEdit() {\n      this.showForm = false;\n      this.editingLabelId = null;\n      this.form = { displayName: '', type: 'sequenceCue', sequence: '', executor: '', cue: '', macro: '', commandsText: '', notes: '' };\n    },\n    saveEntry() {\n      if (!this.form.displayName.trim()) { this.setStatus('Label is required', true); return; }\n      if (this.form.type === 'sequenceCue') {\n        if (!this.form.cue)      { this.setStatus('Cue number is required', true); return; }\n        if (!this.form.sequence) { this.setStatus('Sequence number is required', true); return; }\n      } else if (this.form.type === 'executorCue') {\n        if (!this.form.cue)      { this.setStatus('Cue number is required', true); return; }\n        if (!this.form.executor) { this.setStatus('Executor number is required', true); return; }\n      } else if (this.form.type === 'command') {\n        var cmds = this.form.commandsText.split('\\n').map(function(s) { return s.trim(); }).filter(function(s) { return s.length > 0; });\n        if (cmds.length === 0) { this.setStatus('At least one command is required', true); return; }\n      } else if (this.form.type === 'macro') {\n        if (!this.form.macro.trim()) { this.setStatus('Macro number or name is required', true); return; }\n      }\n      var entryData = Object.assign({}, this.form);\n      if (this.form.type === 'command') {\n        entryData.commands = this.form.commandsText.split('\\n').map(function(s) { return s.trim(); }).filter(function(s) { return s.length > 0; });\n      }\n      this.send({ payload: { action: 'save', space: this.selectedSpace, entry: entryData, editingLabelId: this.editingLabelId } });\n      this.cancelEdit();\n    },\n    deleteEntry(lid) {\n      var name = (this.currentEntries[lid] && this.currentEntries[lid].displayName) || lid;\n      if (!confirm('Delete \"' + name + '\"?')) return;\n      this.send({ payload: { action: 'delete', space: this.selectedSpace, labelId: lid } });\n    },\n    sendFire(lid) {\n      this.send({ payload: { action: 'fire', space: this.selectedSpace, labelId: lid } });\n    }\n  }\n};\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1460,
        "y": 60,
        "wires": [
            [
                "macm-action-switch"
            ]
        ]
    },
    {
        "id": "macm-action-switch",
        "type": "switch",
        "z": "macm-tab",
        "name": "Route action",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "save",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "delete",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "fire",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 1700,
        "y": 60,
        "wires": [
            [
                "macm-save-fn"
            ],
            [
                "macm-del-fn"
            ],
            [
                "macm-fire-fn"
            ]
        ]
    },
    {
        "id": "macm-save-fn",
        "type": "function",
        "z": "macm-tab",
        "name": "Save mapping entry",
        "func": "'use strict';\nvar mapping = flow.get('ma_cue_mapping') || { a1: {}, a2: {}, a3: {}, ls: {}, cmd: {}, mx: {} };\nvar data    = msg.payload || {};\nvar space   = data.space;\nvar entry   = data.entry || {};\nvar oldId   = data.editingLabelId || null;\n\nif (!entry.displayName || !entry.displayName.trim()) {\n    node.warn('[MA Cue Mapper] Save: displayName required');\n    return null;\n}\nif (!['a1','a2','a3','ls','cmd','mx'].includes(space)) {\n    node.warn('[MA Cue Mapper] Save: invalid space: ' + space);\n    return null;\n}\n\n// Normalize labelId (trim/lowercase/underscore/strip)\nvar labelId = entry.displayName.trim().toLowerCase()\n    .replace(/\\s+/g, '_')\n    .replace(/[^a-z0-9_]/g, '')\n    .replace(/_+/g, '_')\n    .replace(/^_+|_+$/g, '');\n\nif (!labelId) {\n    node.warn('[MA Cue Mapper] Save: cannot normalize label: ' + entry.displayName);\n    return null;\n}\n\nif (!mapping[space]) mapping[space] = {};\n\n// If editing and labelId changed, remove old entry\nif (oldId && oldId !== labelId) {\n    delete mapping[space][oldId];\n}\n\nvar record = {\n    displayName: entry.displayName.trim(),\n    type: entry.type,\n    notes: entry.notes || ''\n};\n\n// Enforce type/space compatibility\nvar cueSpaces = ['a1','a2','a3','ls'];\nif (cueSpaces.includes(space) && (entry.type === 'command' || entry.type === 'macro')) {\n    node.warn('[MA Cue Mapper] Save: type ' + entry.type + ' is not allowed in space ' + space);\n    return null;\n}\nif (space === 'cmd' && entry.type !== 'command') {\n    node.warn('[MA Cue Mapper] Save: only command type allowed in cmd space');\n    return null;\n}\nif (space === 'mx' && entry.type !== 'macro') {\n    node.warn('[MA Cue Mapper] Save: only macro type allowed in mx space');\n    return null;\n}\n\nif (entry.type === 'sequenceCue') {\n    if (!entry.sequence) { node.warn('[MA Cue Mapper] Save: sequence required for sequenceCue'); return null; }\n    if (!entry.cue)      { node.warn('[MA Cue Mapper] Save: cue required for sequenceCue');      return null; }\n    record.sequence = String(entry.sequence);\n    record.cue      = String(entry.cue);\n} else if (entry.type === 'executorCue') {\n    if (!entry.executor) { node.warn('[MA Cue Mapper] Save: executor required for executorCue'); return null; }\n    if (!entry.cue)      { node.warn('[MA Cue Mapper] Save: cue required for executorCue');      return null; }\n    record.executor = String(entry.executor);\n    record.cue      = String(entry.cue);\n} else if (entry.type === 'command') {\n    // Accept commands as array (from UI) or as newline-separated string (commandsText)\n    var rawCmds = Array.isArray(entry.commands)\n        ? entry.commands\n        : String(entry.commandsText || entry.commands || '').split('\\n');\n    var cmds = rawCmds.map(function(c) { return String(c).trim(); }).filter(function(c) { return c.length > 0; });\n    if (cmds.length === 0) {\n        node.warn('[MA Cue Mapper] Save: at least one command required for command type');\n        return null;\n    }\n    record.commands = cmds;\n} else if (entry.type === 'macro') {\n    var macroVal = entry.macro;\n    if (macroVal == null || String(macroVal).trim() === '') {\n        node.warn('[MA Cue Mapper] Save: macro number/name required for macro type');\n        return null;\n    }\n    record.macro = String(macroVal).trim();\n} else {\n    node.warn('[MA Cue Mapper] Save: invalid type: ' + entry.type);\n    return null;\n}\n\nmapping[space][labelId] = record;\nflow.set('ma_cue_mapping', mapping);\nnode.log('[MA Cue Mapper] Saved: ' + space + '/' + labelId);\n\nvar cfg = flow.get('ma_cue_cfg') || {};\nmsg.filename   = cfg.mappingFile || '/data/ma-cue-mapping.json';\nmsg.payload    = JSON.stringify(mapping, null, 2);\nmsg.cueMapping = mapping;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1940,
        "y": 20,
        "wires": [
            [
                "macm-write-map-fn"
            ]
        ]
    },
    {
        "id": "macm-del-fn",
        "type": "function",
        "z": "macm-tab",
        "name": "Delete mapping entry",
        "func": "'use strict';\nvar mapping = flow.get('ma_cue_mapping') || { a1: {}, a2: {}, a3: {}, ls: {}, cmd: {}, mx: {} };\nvar data    = msg.payload || {};\nvar space   = data.space;\nvar labelId = data.labelId;\n\nif (!mapping[space] || !mapping[space][labelId]) {\n    node.warn('[MA Cue Mapper] Delete: not found: ' + space + '/' + labelId);\n    return null;\n}\n\ndelete mapping[space][labelId];\nflow.set('ma_cue_mapping', mapping);\nnode.log('[MA Cue Mapper] Deleted: ' + space + '/' + labelId);\n\nvar cfg = flow.get('ma_cue_cfg') || {};\nmsg.filename   = cfg.mappingFile || '/data/ma-cue-mapping.json';\nmsg.payload    = JSON.stringify(mapping, null, 2);\nmsg.cueMapping = mapping;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1940,
        "y": 80,
        "wires": [
            [
                "macm-write-map-fn"
            ]
        ]
    },
    {
        "id": "macm-write-map-fn",
        "type": "file",
        "z": "macm-tab",
        "name": "Write ma-cue-mapping.json",
        "filename": "",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 2180,
        "y": 50,
        "wires": [
            [
                "macm-after-write-edit-fn"
            ]
        ]
    },
    {
        "id": "macm-after-write-edit-fn",
        "type": "function",
        "z": "macm-tab",
        "name": "Refresh UI after edit",
        "func": "// Refresh UI after save/delete\nvar mapping = flow.get('ma_cue_mapping') || { a1: {}, a2: {}, a3: {}, ls: {}, cmd: {}, mx: {} };\nmsg.payload = mapping;\nmsg.topic   = 'ma/cue-map/updated';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2420,
        "y": 50,
        "wires": [
            [
                "macm-ui-tmpl"
            ]
        ]
    },
    {
        "id": "macm-fire-fn",
        "type": "function",
        "z": "macm-tab",
        "name": "Resolve & fire cue",
        "func": "'use strict';\nvar mapping = flow.get('ma_cue_mapping') || { a1: {}, a2: {}, a3: {}, ls: {}, cmd: {}, mx: {} };\nvar data    = msg.payload || {};\nvar space   = data.space || msg.space;\nvar labelId = data.labelId;\n\n// Support external trigger: { space, label } — normalize label to labelId\nif (!labelId) {\n    var rawLabel = data.label || msg.label;\n    if (!rawLabel) {\n        node.warn('[MA Cue Mapper] Fire: no labelId or label provided');\n        return null;\n    }\n    // Normalize labelId (trim/lowercase/underscore/strip)\n    labelId = rawLabel.trim().toLowerCase()\n        .replace(/\\s+/g, '_')\n        .replace(/[^a-z0-9_]/g, '')\n        .replace(/_+/g, '_')\n        .replace(/^_+|_+$/g, '');\n}\n\nif (!['a1','a2','a3','ls','cmd','mx'].includes(space)) {\n    node.warn('[MA Cue Mapper] Fire: invalid space: ' + space);\n    return null;\n}\n\nvar entry = (mapping[space] || {})[labelId];\nif (!entry) {\n    node.warn('[MA Cue Mapper] Fire: not found: ' + space + '/' + labelId);\n    msg.topic   = 'ma/cue-map/error';\n    msg.payload = { error: 'Not found: \"' + labelId + '\" in ' + space };\n    return [null, msg];\n}\n\nvar cuePayload;\nvar info;\n\nif (entry.type === 'sequenceCue') {\n    cuePayload = { action: 'goSequenceCue', sequence: entry.sequence, cue: entry.cue };\n    info = 'Go+ Sequence ' + entry.sequence + ' Cue ' + entry.cue;\n} else if (entry.type === 'executorCue') {\n    cuePayload = { action: 'goExecutorCue', zones: [entry.executor], cue: entry.cue };\n    info = 'Go+ Page (executor) ' + entry.executor + ' Cue ' + entry.cue;\n} else if (entry.type === 'command') {\n    cuePayload = { action: 'goCmd', commands: entry.commands };\n    info = (entry.commands || []).join(' | ');\n} else if (entry.type === 'macro') {\n    cuePayload = { action: 'goMacro', macro: entry.macro };\n    info = 'Go+ Macro ' + entry.macro;\n} else {\n    node.warn('[MA Cue Mapper] Fire: unknown type: ' + entry.type);\n    return null;\n}\n\nnode.log('[MA Cue Mapper] Fire: ' + space + '/' + entry.displayName + ' \\u2192 ' + info);\n\nreturn [\n    { payload: cuePayload },\n    { topic: 'ma/cue-map/fire/ok', payload: { space: space, labelId: labelId, info: info, command: cuePayload } }\n];\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1940,
        "y": 140,
        "wires": [
            [
                "ma-control-fn"
            ],
            [
                "macm-fire-dbg",
                "macm-ui-tmpl"
            ]
        ]
    },
    {
        "id": "macm-resolve-link-in",
        "type": "link in",
        "z": "macm-tab",
        "name": "Resolve cue by label",
        "links": [],
        "x": 1700,
        "y": 140,
        "wires": [
            [
                "macm-fire-fn"
            ]
        ]
    },
    {
        "id": "macm-fire-dbg",
        "type": "debug",
        "z": "macm-tab",
        "name": "Fire result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2180,
        "y": 140,
        "wires": []
    },
    {
        "id": "macm-write-catch",
        "type": "catch",
        "z": "macm-tab",
        "name": "File write error",
        "scope": [
            "macm-write-cfg-file",
            "macm-write-default-map",
            "macm-write-map-fn"
        ],
        "uncaught": false,
        "x": 2180,
        "y": 200,
        "wires": [
            [
                "macm-write-err-dbg"
            ]
        ]
    },
    {
        "id": "macm-write-err-dbg",
        "type": "debug",
        "z": "macm-tab",
        "name": "File write error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2420,
        "y": 200,
        "wires": []
    }
]