node-red/flows/ma-integration.json
[
  {
    "id": "ma-tab",
    "type": "tab",
    "label": "MA Integration v0.1",
    "disabled": false,
    "info": "grandMA3 OSC integration test flow — FlowFuse Dashboard 2.0. Owner gate, multi-zone executor cue (a1/a2/a3/ls with All-zones sync), and sequence cue controls."
  },

  {
    "id": "ma-d2-base",
    "type": "ui-base",
    "name": "MA Dashboard",
    "path": "/dashboard",
    "includeClientData": true,
    "acceptsClientConfig": ["ui-notification", "ui-control"]
  },
  {
    "id": "ma-d2-page",
    "type": "ui-page",
    "name": "MA Integration v0.1",
    "ui": "ma-d2-base",
    "path": "/ma",
    "icon": "mdi:led-strip",
    "layout": "notebook",
    "order": 1,
    "disp": true
  },
  {
    "id": "ma-d2-owner-grp",
    "type": "ui-group",
    "name": "Owner Control",
    "page": "ma-d2-page",
    "width": 6,
    "height": 1,
    "order": 1,
    "showTitle": true,
    "className": ""
  },
  {
    "id": "ma-d2-zones-grp",
    "type": "ui-group",
    "name": "Zone Selection",
    "page": "ma-d2-page",
    "width": 6,
    "height": 1,
    "order": 2,
    "showTitle": true,
    "className": ""
  },
  {
    "id": "ma-d2-exec-grp",
    "type": "ui-group",
    "name": "Executor Cue",
    "page": "ma-d2-page",
    "width": 6,
    "height": 1,
    "order": 3,
    "showTitle": true,
    "className": ""
  },
  {
    "id": "ma-d2-seq-grp",
    "type": "ui-group",
    "name": "Sequence Cue",
    "page": "ma-d2-page",
    "width": 6,
    "height": 1,
    "order": 4,
    "showTitle": true,
    "className": ""
  },

  {
    "id": "ma-init-inj",
    "type": "inject",
    "z": "ma-tab",
    "name": "Init MA config on deploy",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "payload": "{\"targets\":[{\"host\":\"10.154.10.103\",\"port\":8000,\"label\":\"Primary RPU\"},{\"host\":\"10.154.10.104\",\"port\":8000,\"label\":\"Backup\"}],\"zoneExecutor\":{\"a1\":\"1.101\",\"a2\":\"1.102\",\"a3\":\"1.103\",\"ls\":\"1.104\"}}",
    "payloadType": "json",
    "topic": "",
    "x": 160,
    "y": 60,
    "wires": [["ma-init-fn"]]
  },
  {
    "id": "ma-init-fn",
    "type": "function",
    "z": "ma-tab",
    "name": "Store MA config + OSC helper",
    "func": "'use strict';\nflow.set('ma_config', msg.payload);\n// Only initialise runtime state on first deploy; preserve values across redeploys\nif (flow.get('ma_owner') === undefined) flow.set('ma_owner', null);\nif (!flow.get('ma_zones')) flow.set('ma_zones', { a1: false, a2: false, a3: false, ls: false });\nif (flow.get('ma_exec_cue') === undefined) flow.set('ma_exec_cue', 1);\nif (flow.get('ma_seq_id') === undefined) flow.set('ma_seq_id', 1);\nif (flow.get('ma_seq_cue') === undefined) flow.set('ma_seq_cue', 1);\nvar dgram = require('dgram');\nfunction oscString(str) {\n    var len = Buffer.byteLength(str, 'utf8') + 1;\n    var padded = Math.ceil(len / 4) * 4;\n    var buf = Buffer.alloc(padded, 0);\n    buf.write(str, 0, 'utf8');\n    return buf;\n}\nfunction encodeOscCmd(v) {\n    return Buffer.concat([oscString('/cmd'), oscString(',s'), oscString(v)]);\n}\nfunction maOscBroadcast(cmdString, targets) {\n    return new Promise(function(resolve, reject) {\n        var buf = encodeOscCmd(cmdString);\n        var socket = dgram.createSocket('udp4');\n        if (socket.unref) socket.unref();\n        var sent = [], errors = [];\n        var remaining = targets.length;\n        socket.on('error', function(sockErr) {\n            try { socket.close(); } catch(e){}\n            reject(sockErr);\n        });\n        if (remaining === 0) {\n            try { socket.close(); } catch(e){}\n            resolve({ cmdString: cmdString, sent: sent, errors: errors });\n            return;\n        }\n        var finish = function() {\n            try {\n                socket.close(function() {\n                    if (errors.length === targets.length) reject(new Error(errors.join('; ')));\n                    else resolve({ cmdString: cmdString, sent: sent, errors: errors });\n                });\n            } catch(e) {\n                if (errors.length === targets.length) reject(new Error(errors.join('; ')));\n                else resolve({ cmdString: cmdString, sent: sent, errors: errors });\n            }\n        };\n        targets.forEach(function(t) {\n            socket.send(buf, 0, buf.length, t.port, t.host, function(err) {\n                if (err) errors.push(t.host + ':' + t.port + ' - ' + err.message);\n                else sent.push(t.host + ':' + t.port);\n                if (--remaining === 0) finish();\n            });\n        });\n    });\n}\nflow.set('ma_broadcast', maOscBroadcast);\nreturn null;",
    "outputs": 0,
    "x": 440,
    "y": 60,
    "wires": []
  },

  {
    "id": "ma-d2-btn-nodered",
    "type": "ui-button",
    "z": "ma-tab",
    "group": "ma-d2-owner-grp",
    "order": 1,
    "width": "3",
    "height": "1",
    "name": "Set owner: nodered",
    "label": "Own: nodered",
    "tooltip": "Claim MA owner as 'nodered' — UI commands execute; watchout commands blocked",
    "color": "",
    "bgcolor": "#1565c0",
    "className": "",
    "icon": "",
    "iconPosition": "left",
    "payload": "nodered",
    "payloadType": "str",
    "topic": "ma/setOwner",
    "topicType": "str",
    "buttonColor": "",
    "textColor": "",
    "iconColor": "",
    "enableClick": true,
    "enablePointerdown": false,
    "enablePointerup": false,
    "x": 160,
    "y": 160,
    "wires": [["ma-d2-set-owner-fn"]]
  },
  {
    "id": "ma-d2-btn-watchout",
    "type": "ui-button",
    "z": "ma-tab",
    "group": "ma-d2-owner-grp",
    "order": 2,
    "width": "3",
    "height": "1",
    "name": "Set owner: watchout",
    "label": "Own: watchout",
    "tooltip": "Claim MA owner as 'watchout' — UI commands are blocked until cleared",
    "color": "",
    "bgcolor": "#e65100",
    "className": "",
    "icon": "",
    "iconPosition": "left",
    "payload": "watchout",
    "payloadType": "str",
    "topic": "ma/setOwner",
    "topicType": "str",
    "buttonColor": "",
    "textColor": "",
    "iconColor": "",
    "enableClick": true,
    "enablePointerdown": false,
    "enablePointerup": false,
    "x": 160,
    "y": 240,
    "wires": [["ma-d2-set-owner-fn"]]
  },
  {
    "id": "ma-d2-btn-clear",
    "type": "ui-button",
    "z": "ma-tab",
    "group": "ma-d2-owner-grp",
    "order": 3,
    "width": "3",
    "height": "1",
    "name": "Clear owner",
    "label": "Clear owner",
    "tooltip": "Release MA owner gate — any caller can send commands",
    "color": "",
    "bgcolor": "#616161",
    "className": "",
    "icon": "",
    "iconPosition": "left",
    "payload": "",
    "payloadType": "str",
    "topic": "ma/setOwner",
    "topicType": "str",
    "buttonColor": "",
    "textColor": "",
    "iconColor": "",
    "enableClick": true,
    "enablePointerdown": false,
    "enablePointerup": false,
    "x": 150,
    "y": 320,
    "wires": [["ma-d2-set-owner-fn"]]
  },
  {
    "id": "ma-d2-set-owner-fn",
    "type": "function",
    "z": "ma-tab",
    "name": "Set ma.owner",
    "func": "'use strict';\nvar owner = msg.payload === '' ? null : msg.payload;\nflow.set('ma_owner', owner);\nmsg.payload = { action: 'setOwner', owner: owner, setBy: 'ui' };\nmsg.topic = 'ma/owner';\nreturn msg;",
    "outputs": 1,
    "x": 420,
    "y": 240,
    "wires": [["ma-d2-owner-dbg"]]
  },
  {
    "id": "ma-d2-owner-dbg",
    "type": "debug",
    "z": "ma-tab",
    "name": "Owner status",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload.owner",
    "statusType": "auto",
    "x": 640,
    "y": 240,
    "wires": []
  },

  {
    "id": "ma-d2-sw-all",
    "type": "ui-switch",
    "z": "ma-tab",
    "group": "ma-d2-zones-grp",
    "order": 1,
    "width": "6",
    "height": "1",
    "name": "All zones",
    "label": "All zones",
    "tooltip": "Toggle all zones on/off simultaneously",
    "className": "",
    "stateField": "payload",
    "stateType": "msg",
    "passthru": false,
    "depassthru": false,
    "topic": "zone/all",
    "topicType": "str",
    "onvalue": "true",
    "onvalueType": "bool",
    "offvalue": "false",
    "offvalueType": "bool",
    "oncolor": "",
    "offcolor": "",
    "animate": false,
    "x": 150,
    "y": 460,
    "wires": [["ma-d2-zone-sync-fn"]]
  },
  {
    "id": "ma-d2-sw-a1",
    "type": "ui-switch",
    "z": "ma-tab",
    "group": "ma-d2-zones-grp",
    "order": 2,
    "width": "3",
    "height": "1",
    "name": "Zone a1",
    "label": "a1  (Exec 1.101)",
    "tooltip": "Zone a1 — MA Executor 1.101",
    "className": "",
    "stateField": "payload",
    "stateType": "msg",
    "passthru": false,
    "depassthru": false,
    "topic": "zone/a1",
    "topicType": "str",
    "onvalue": "true",
    "onvalueType": "bool",
    "offvalue": "false",
    "offvalueType": "bool",
    "oncolor": "",
    "offcolor": "",
    "animate": false,
    "x": 150,
    "y": 540,
    "wires": [["ma-d2-zone-sync-fn"]]
  },
  {
    "id": "ma-d2-sw-a2",
    "type": "ui-switch",
    "z": "ma-tab",
    "group": "ma-d2-zones-grp",
    "order": 3,
    "width": "3",
    "height": "1",
    "name": "Zone a2",
    "label": "a2  (Exec 1.102)",
    "tooltip": "Zone a2 — MA Executor 1.102",
    "className": "",
    "stateField": "payload",
    "stateType": "msg",
    "passthru": false,
    "depassthru": false,
    "topic": "zone/a2",
    "topicType": "str",
    "onvalue": "true",
    "onvalueType": "bool",
    "offvalue": "false",
    "offvalueType": "bool",
    "oncolor": "",
    "offcolor": "",
    "animate": false,
    "x": 150,
    "y": 620,
    "wires": [["ma-d2-zone-sync-fn"]]
  },
  {
    "id": "ma-d2-sw-a3",
    "type": "ui-switch",
    "z": "ma-tab",
    "group": "ma-d2-zones-grp",
    "order": 4,
    "width": "3",
    "height": "1",
    "name": "Zone a3",
    "label": "a3  (Exec 1.103)",
    "tooltip": "Zone a3 — MA Executor 1.103",
    "className": "",
    "stateField": "payload",
    "stateType": "msg",
    "passthru": false,
    "depassthru": false,
    "topic": "zone/a3",
    "topicType": "str",
    "onvalue": "true",
    "onvalueType": "bool",
    "offvalue": "false",
    "offvalueType": "bool",
    "oncolor": "",
    "offcolor": "",
    "animate": false,
    "x": 150,
    "y": 700,
    "wires": [["ma-d2-zone-sync-fn"]]
  },
  {
    "id": "ma-d2-sw-ls",
    "type": "ui-switch",
    "z": "ma-tab",
    "group": "ma-d2-zones-grp",
    "order": 5,
    "width": "3",
    "height": "1",
    "name": "Zone ls",
    "label": "ls   (Exec 1.104)",
    "tooltip": "Zone ls — MA Executor 1.104",
    "className": "",
    "stateField": "payload",
    "stateType": "msg",
    "passthru": false,
    "depassthru": false,
    "topic": "zone/ls",
    "topicType": "str",
    "onvalue": "true",
    "onvalueType": "bool",
    "offvalue": "false",
    "offvalueType": "bool",
    "oncolor": "",
    "offcolor": "",
    "animate": false,
    "x": 150,
    "y": 780,
    "wires": [["ma-d2-zone-sync-fn"]]
  },
  {
    "id": "ma-d2-zone-sync-fn",
    "type": "function",
    "z": "ma-tab",
    "name": "Zone Sync",
    "func": "'use strict';\n// Outputs: [sw-all, sw-a1, sw-a2, sw-a3, sw-ls]\n// passthru:false on each switch prevents incoming state msgs from re-firing\n// output, so updating switches here never creates feedback loops.\nvar topic = msg.topic;\nvar val = !!msg.payload;\nvar zones = flow.get('ma_zones') || { a1: false, a2: false, a3: false, ls: false };\nif (topic === 'zone/all') {\n    zones.a1 = val;\n    zones.a2 = val;\n    zones.a3 = val;\n    zones.ls = val;\n} else {\n    var zone = topic.split('/')[1];\n    if (zone && Object.prototype.hasOwnProperty.call(zones, zone)) {\n        zones[zone] = val;\n    }\n}\nflow.set('ma_zones', zones);\nvar allOn = zones.a1 && zones.a2 && zones.a3 && zones.ls;\nreturn [\n    [{ payload: allOn,    topic: 'zone/all' }],\n    [{ payload: zones.a1, topic: 'zone/a1'  }],\n    [{ payload: zones.a2, topic: 'zone/a2'  }],\n    [{ payload: zones.a3, topic: 'zone/a3'  }],\n    [{ payload: zones.ls, topic: 'zone/ls'  }]\n];",
    "outputs": 5,
    "x": 430,
    "y": 620,
    "wires": [
      ["ma-d2-sw-all"],
      ["ma-d2-sw-a1"],
      ["ma-d2-sw-a2"],
      ["ma-d2-sw-a3"],
      ["ma-d2-sw-ls"]
    ]
  },

  {
    "id": "ma-d2-cue-num",
    "type": "ui-number-input",
    "z": "ma-tab",
    "group": "ma-d2-exec-grp",
    "order": 1,
    "width": "3",
    "height": "1",
    "name": "Executor cue number",
    "label": "Cue #",
    "tooltip": "Executor cue number to jump to",
    "className": "",
    "passthru": true,
    "mode": "number",
    "min": 1,
    "max": 9999,
    "step": 1,
    "wrap": false,
    "topic": "ma/cue",
    "topicType": "str",
    "x": 170,
    "y": 900,
    "wires": [["ma-d2-store-cue-fn"]]
  },
  {
    "id": "ma-d2-store-cue-fn",
    "type": "function",
    "z": "ma-tab",
    "name": "Store exec cue",
    "func": "flow.set('ma_exec_cue', msg.payload);\nreturn null;",
    "outputs": 0,
    "x": 420,
    "y": 900,
    "wires": []
  },
  {
    "id": "ma-d2-exec-btn",
    "type": "ui-button",
    "z": "ma-tab",
    "group": "ma-d2-exec-grp",
    "order": 2,
    "width": "3",
    "height": "1",
    "name": "Go Executor Cue",
    "label": "▶ Go Executor Cue",
    "tooltip": "Send: Go+ Executor <zone> Cue <cue#> for each selected zone",
    "color": "",
    "bgcolor": "#2e7d32",
    "className": "",
    "icon": "",
    "iconPosition": "left",
    "payload": "go",
    "payloadType": "str",
    "topic": "ma/goExecutorCue",
    "topicType": "str",
    "buttonColor": "",
    "textColor": "",
    "iconColor": "",
    "enableClick": true,
    "enablePointerdown": false,
    "enablePointerup": false,
    "x": 160,
    "y": 980,
    "wires": [["ma-d2-exec-cue-fn"]]
  },
  {
    "id": "ma-d2-exec-cue-fn",
    "type": "function",
    "z": "ma-tab",
    "name": "goExecutorCue",
    "func": "'use strict';\nvar cfg = flow.get('ma_config') || {};\nvar TARGETS = cfg.targets || [\n    { host: '10.154.10.103', port: 8000 },\n    { host: '10.154.10.104', port: 8000 }\n];\nvar broadcast = flow.get('ma_broadcast');\nif (!broadcast) {\n    node.error('[MA] Broadcast helper not initialised — redeploy the flow');\n    return null;\n}\nvar ZONE_EXECUTOR = cfg.zoneExecutor || {\n    a1: '1.101', a2: '1.102', a3: '1.103', ls: '1.104'\n};\n// UI commands are blocked only when a non-nodered owner holds the gate\nvar currentOwner = flow.get('ma_owner') || null;\nif (currentOwner !== null && currentOwner !== 'nodered') {\n    node.warn('[MA] goExecutorCue blocked — current owner: ' + currentOwner);\n    node.send([null, { payload: { success: false, blocked: true, action: 'goExecutorCue', owner: currentOwner }, topic: 'ma/blocked' }]);\n    return null;\n}\nfunction resolveExecutor(zone) {\n    return ZONE_EXECUTOR[zone] !== undefined ? ZONE_EXECUTOR[zone] : String(zone);\n}\nvar zones = flow.get('ma_zones') || { a1: false, a2: false, a3: false, ls: false };\nvar selectedZones = ['a1', 'a2', 'a3', 'ls'].filter(function(z) { return zones[z]; });\nif (selectedZones.length === 0) {\n    node.warn('[MA] goExecutorCue — no zones selected');\n    return null;\n}\nvar cue = flow.get('ma_exec_cue') || 1;\nasync function execute() {\n    var results = [];\n    for (var i = 0; i < selectedZones.length; i++) {\n        var z = selectedZones[i];\n        var cmdString = 'Go+ Executor ' + resolveExecutor(z) + ' Cue ' + cue;\n        var result = await broadcast(cmdString, TARGETS);\n        results.push({ zone: z, success: result.errors.length === 0, cmdString: result.cmdString, sent: result.sent, errors: result.errors });\n    }\n    return results;\n}\nexecute()\n    .then(function(results) {\n        var allSent = results.every(function(r) { return r.errors.length === 0; });\n        node.send([{ payload: { action: 'goExecutorCue', zones: selectedZones, cue: cue, success: allSent, results: results }, topic: 'ma/goExecutorCue' }, null]);\n    })\n    .catch(function(err) {\n        node.send([{ payload: { action: 'goExecutorCue', zones: selectedZones, cue: cue, success: false, error: err.message }, topic: 'ma/goExecutorCue' }, null]);\n    });\nreturn null;",
    "outputs": 2,
    "x": 420,
    "y": 980,
    "wires": [
      ["ma-d2-exec-sent-dbg"],
      ["ma-d2-exec-blkd-dbg"]
    ]
  },
  {
    "id": "ma-d2-exec-sent-dbg",
    "type": "debug",
    "z": "ma-tab",
    "name": "Executor -> Sent",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 660,
    "y": 940,
    "wires": []
  },
  {
    "id": "ma-d2-exec-blkd-dbg",
    "type": "debug",
    "z": "ma-tab",
    "name": "Executor -> Blocked",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 670,
    "y": 1020,
    "wires": []
  },

  {
    "id": "ma-d2-seq-id-num",
    "type": "ui-number-input",
    "z": "ma-tab",
    "group": "ma-d2-seq-grp",
    "order": 1,
    "width": "3",
    "height": "1",
    "name": "Sequence ID",
    "label": "Sequence #",
    "tooltip": "MA sequence ID",
    "className": "",
    "passthru": true,
    "mode": "number",
    "min": 1,
    "max": 9999,
    "step": 1,
    "wrap": false,
    "topic": "ma/seqId",
    "topicType": "str",
    "x": 160,
    "y": 1120,
    "wires": [["ma-d2-store-seq-id-fn"]]
  },
  {
    "id": "ma-d2-store-seq-id-fn",
    "type": "function",
    "z": "ma-tab",
    "name": "Store seq id",
    "func": "flow.set('ma_seq_id', msg.payload);\nreturn null;",
    "outputs": 0,
    "x": 420,
    "y": 1120,
    "wires": []
  },
  {
    "id": "ma-d2-seq-cue-num",
    "type": "ui-number-input",
    "z": "ma-tab",
    "group": "ma-d2-seq-grp",
    "order": 2,
    "width": "3",
    "height": "1",
    "name": "Sequence cue number",
    "label": "Cue #",
    "tooltip": "Sequence cue number to jump to",
    "className": "",
    "passthru": true,
    "mode": "number",
    "min": 1,
    "max": 9999,
    "step": 1,
    "wrap": false,
    "topic": "ma/seqCue",
    "topicType": "str",
    "x": 170,
    "y": 1200,
    "wires": [["ma-d2-store-seq-cue-fn"]]
  },
  {
    "id": "ma-d2-store-seq-cue-fn",
    "type": "function",
    "z": "ma-tab",
    "name": "Store seq cue",
    "func": "flow.set('ma_seq_cue', msg.payload);\nreturn null;",
    "outputs": 0,
    "x": 430,
    "y": 1200,
    "wires": []
  },
  {
    "id": "ma-d2-seq-btn",
    "type": "ui-button",
    "z": "ma-tab",
    "group": "ma-d2-seq-grp",
    "order": 3,
    "width": "3",
    "height": "1",
    "name": "Go Sequence Cue",
    "label": "▶ Go Sequence Cue",
    "tooltip": "Send: Go+ Sequence <id> Cue <cue#>",
    "color": "",
    "bgcolor": "#1565c0",
    "className": "",
    "icon": "",
    "iconPosition": "left",
    "payload": "go",
    "payloadType": "str",
    "topic": "ma/goSequenceCue",
    "topicType": "str",
    "buttonColor": "",
    "textColor": "",
    "iconColor": "",
    "enableClick": true,
    "enablePointerdown": false,
    "enablePointerup": false,
    "x": 160,
    "y": 1280,
    "wires": [["ma-d2-seq-cue-fn"]]
  },
  {
    "id": "ma-d2-seq-cue-fn",
    "type": "function",
    "z": "ma-tab",
    "name": "goSequenceCue",
    "func": "'use strict';\nvar cfg = flow.get('ma_config') || {};\nvar TARGETS = cfg.targets || [\n    { host: '10.154.10.103', port: 8000 },\n    { host: '10.154.10.104', port: 8000 }\n];\nvar broadcast = flow.get('ma_broadcast');\nif (!broadcast) {\n    node.error('[MA] Broadcast helper not initialised — redeploy the flow');\n    return null;\n}\nvar currentOwner = flow.get('ma_owner') || null;\nif (currentOwner !== null && currentOwner !== 'nodered') {\n    node.warn('[MA] goSequenceCue blocked — current owner: ' + currentOwner);\n    node.send([null, { payload: { success: false, blocked: true, action: 'goSequenceCue', owner: currentOwner }, topic: 'ma/blocked' }]);\n    return null;\n}\nvar seq = flow.get('ma_seq_id') || 1;\nvar cue = flow.get('ma_seq_cue') || 1;\nvar cmdString = 'Go+ Sequence ' + seq + ' Cue ' + cue;\nbroadcast(cmdString, TARGETS)\n    .then(function(result) {\n        node.send([{ payload: { action: 'goSequenceCue', seq: seq, cue: cue, success: result.errors.length === 0, cmdString: result.cmdString, sent: result.sent, errors: result.errors }, topic: 'ma/goSequenceCue' }, null]);\n    })\n    .catch(function(err) {\n        node.send([{ payload: { action: 'goSequenceCue', seq: seq, cue: cue, success: false, error: err.message }, topic: 'ma/goSequenceCue' }, null]);\n    });\nreturn null;",
    "outputs": 2,
    "x": 420,
    "y": 1280,
    "wires": [
      ["ma-d2-seq-sent-dbg"],
      ["ma-d2-seq-blkd-dbg"]
    ]
  },
  {
    "id": "ma-d2-seq-sent-dbg",
    "type": "debug",
    "z": "ma-tab",
    "name": "Sequence -> Sent",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 660,
    "y": 1240,
    "wires": []
  },
  {
    "id": "ma-d2-seq-blkd-dbg",
    "type": "debug",
    "z": "ma-tab",
    "name": "Sequence -> Blocked",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 670,
    "y": 1320,
    "wires": []
  }
]
