.flows.json.backup
[
    {
        "id": "19fbd7cf3882c4ad",
        "type": "tab",
        "label": "Home",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8ccf58caed82bbf6",
        "type": "tab",
        "label": "Audio UI",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "68070fdec3517672",
        "type": "tab",
        "label": "Lighting",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4427b69f42325844",
        "type": "tab",
        "label": "Watchout Integration v0.1",
        "disabled": false,
        "info": "Watchout 7 HTTP API integration with manual timeline discovery."
    },
    {
        "id": "ma-tab",
        "type": "tab",
        "label": "MA Integration v0.1",
        "disabled": false,
        "info": "grandMA3 OSC integration test flow — FlowFuse Dashboard 2.0. Owner gate, multi-zone executor cue (a1/a2/a3/ls with All-zones sync), and sequence cue controls."
    },
    {
        "id": "22f501abaf7e8db6",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "f34314dbb36334ec",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "icon",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "6f21f95d494aa53c",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "a9e4285e36ef776f",
        "type": "ui-theme",
        "name": "Yellow Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#9f00f5",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "9d013935d2e3f2be",
        "type": "ui-theme",
        "name": "Purple Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#9f00f5",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "9ada0fbe8e910d7e",
        "type": "ui-page",
        "name": "Watchout",
        "ui": "f34314dbb36334ec",
        "path": "/watchout",
        "icon": "mdi-video-box",
        "layout": "grid",
        "theme": "6f21f95d494aa53c",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 5,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "f4d4b5c1c3b0a1ae",
        "type": "ui-group",
        "name": "Timeline Discovery",
        "page": "9ada0fbe8e910d7e",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ef07ffba08e94be9",
        "type": "ui-group",
        "name": "Mapping Status",
        "page": "9ada0fbe8e910d7e",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "dfba414e3e61e11b",
        "type": "ui-group",
        "name": "Live State",
        "page": "9ada0fbe8e910d7e",
        "width": 6,
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ma-d2-page",
        "type": "ui-page",
        "name": "MA Integration v0.1",
        "ui": "f34314dbb36334ec",
        "path": "/ma",
        "icon": "mdi-floor-lamp",
        "layout": "notebook",
        "theme": "a9e4285e36ef776f",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 4,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "ma-d2-owner-grp",
        "type": "ui-group",
        "name": "Owner Control",
        "page": "ma-d2-page",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ma-d2-zones-grp",
        "type": "ui-group",
        "name": "Zone Selection",
        "page": "ma-d2-page",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": ""
    },
    {
        "id": "ma-d2-exec-grp",
        "type": "ui-group",
        "name": "Executor Cue",
        "page": "ma-d2-page",
        "width": 6,
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": ""
    },
    {
        "id": "ma-d2-seq-grp",
        "type": "ui-group",
        "name": "Sequence Cue",
        "page": "ma-d2-page",
        "width": 6,
        "height": 1,
        "order": 4,
        "showTitle": true,
        "className": ""
    },
    {
        "id": "73c2ce73a1d6ef7e",
        "type": "ui-page",
        "name": "Audio",
        "ui": "f34314dbb36334ec",
        "path": "/page4",
        "icon": "mdi-volume-high",
        "layout": "notebook",
        "theme": "9d013935d2e3f2be",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "89a49ec7808083dd",
        "type": "ui-group",
        "name": "Atrium 1 - Audio",
        "page": "73c2ce73a1d6ef7e",
        "width": "6",
        "height": "2",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "7e30cf5b81ad4ba0",
        "type": "ui-group",
        "name": "All Atriums - Presets",
        "page": "73c2ce73a1d6ef7e",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "776ce3db31f8095d",
        "type": "ui-group",
        "name": "Atrium 2 - Audio",
        "page": "73c2ce73a1d6ef7e",
        "width": 6,
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "d8304d5bd63f01b7",
        "type": "ui-group",
        "name": "Atrium 3 - Audio",
        "page": "73c2ce73a1d6ef7e",
        "width": 6,
        "height": 1,
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "41344ce3bde093a7",
        "type": "ui-page",
        "name": "Lighting",
        "ui": "f34314dbb36334ec",
        "path": "/page5",
        "icon": "lightbulb-on-10",
        "layout": "notebook",
        "theme": "a9e4285e36ef776f",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 3,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "bb2a29f0c26b5f4b",
        "type": "ui-group",
        "name": "All Atriums",
        "page": "41344ce3bde093a7",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "83d9dff356017e09",
        "type": "ui-group",
        "name": "Atrium 1",
        "page": "41344ce3bde093a7",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "5548920792beed1d",
        "type": "ui-group",
        "name": "Atrium 2",
        "page": "41344ce3bde093a7",
        "width": 6,
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "cc68bbcbdc68bae5",
        "type": "ui-group",
        "name": "Atrium 3",
        "page": "41344ce3bde093a7",
        "width": 6,
        "height": 1,
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "8dd9d92e5b5cc9e6",
        "type": "ui-page",
        "name": "Home",
        "ui": "f34314dbb36334ec",
        "path": "/page1",
        "icon": "home",
        "layout": "notebook",
        "theme": "9d013935d2e3f2be",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "5176b798f54b89e5",
        "type": "ui-group",
        "name": "Content",
        "page": "8dd9d92e5b5cc9e6",
        "width": 6,
        "height": 1,
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "fbb25d9fdfc45a2e",
        "type": "ui-group",
        "name": "OSC",
        "page": "8dd9d92e5b5cc9e6",
        "width": 6,
        "height": 1,
        "order": 5,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "eb81b8a7b3fd12cb",
        "type": "ui-group",
        "name": "Landscape",
        "page": "41344ce3bde093a7",
        "width": 6,
        "height": 1,
        "order": 5,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "4863f41be8c6af42",
        "type": "ui-group",
        "name": "Playing",
        "page": "8dd9d92e5b5cc9e6",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "5ecf38be0d49e017",
        "type": "ui-group",
        "name": "Playing Details",
        "page": "8dd9d92e5b5cc9e6",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "8ad5a7c72deac7fb",
        "type": "ui-group",
        "name": "Direct Commands",
        "page": "8dd9d92e5b5cc9e6",
        "width": 6,
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "b67850082a42953b",
        "type": "debug",
        "z": "22f501abaf7e8db6",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 80,
        "wires": []
    },
    {
        "id": "1c2eed29583d5845",
        "type": "ui-switch",
        "z": "22f501abaf7e8db6",
        "name": "Atrium 1",
        "label": "Atrium 1",
        "group": "5176b798f54b89e5",
        "order": 4,
        "width": "1",
        "height": "1",
        "passthru": false,
        "decouple": false,
        "topic": "atrium1",
        "topicType": "str",
        "style": "",
        "className": "",
        "layout": "row-left",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 580,
        "y": 120,
        "wires": [
            [
                "d6beb04373ede17a",
                "b67850082a42953b"
            ]
        ]
    },
    {
        "id": "46bcfecf67235d0b",
        "type": "function",
        "z": "22f501abaf7e8db6",
        "name": "Switch function",
        "func": "// 1. Get the true/false state from the \"All\" switch\nlet state = msg.payload;\n\n// 2. Save this state to the flow context so the individual logic knows about it\nflow.set('atrium1', state);\nflow.set('atrium2', state);\nflow.set('atrium3', state);\n\n// 3. Send the payload to all 3 outputs to update the individual UI switches\nreturn [\n    { payload: state }, // Goes to Atrium 1\n    { payload: state }, // Goes to Atrium 2\n    { payload: state }  // Goes to Atrium 3\n];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 160,
        "wires": [
            [
                "1c2eed29583d5845"
            ],
            [
                "91c470650daf0a59"
            ],
            [
                "c17e459f49532f0a"
            ]
        ]
    },
    {
        "id": "d6beb04373ede17a",
        "type": "function",
        "z": "22f501abaf7e8db6",
        "name": "3 switches logic",
        "func": "// 1. msg.topic tells us which switch triggered this (atrium1, atrium2, or atrium3)\n// Update that specific atrium's state in the flow context\nflow.set(msg.topic, msg.payload);\n\n// 2. Read the current state of all 3 atriums\nlet a1 = flow.get('atrium1') || false;\nlet a2 = flow.get('atrium2') || false;\nlet a3 = flow.get('atrium3') || false;\n\n// 3. Check if ALL of them are true\nlet allChecked = (a1 && a2 && a3);\n\n// 4. Send this result to the \"All Atriums\" switch to update its UI\nreturn { payload: allChecked };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 160,
        "wires": [
            [
                "f9ee4e381fb57347"
            ]
        ]
    },
    {
        "id": "f9ee4e381fb57347",
        "type": "ui-switch",
        "z": "22f501abaf7e8db6",
        "name": "All Atriums",
        "label": "All Atriums",
        "group": "5176b798f54b89e5",
        "order": 3,
        "width": "0",
        "height": "0",
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-left",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 210,
        "y": 160,
        "wires": [
            [
                "46bcfecf67235d0b",
                "82b04cc89922f807"
            ]
        ]
    },
    {
        "id": "91c470650daf0a59",
        "type": "ui-switch",
        "z": "22f501abaf7e8db6",
        "name": "Atrium 2",
        "label": "Atrium 2",
        "group": "5176b798f54b89e5",
        "order": 5,
        "width": "1",
        "height": "1",
        "passthru": false,
        "decouple": false,
        "topic": "atrium2",
        "topicType": "str",
        "style": "",
        "className": "",
        "layout": "row-left",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 580,
        "y": 160,
        "wires": [
            [
                "d6beb04373ede17a"
            ]
        ]
    },
    {
        "id": "c17e459f49532f0a",
        "type": "ui-switch",
        "z": "22f501abaf7e8db6",
        "name": "Atrium 3",
        "label": "Atrium 3",
        "group": "5176b798f54b89e5",
        "order": 6,
        "width": "1",
        "height": "1",
        "passthru": false,
        "decouple": false,
        "topic": "atrium3",
        "topicType": "str",
        "style": "",
        "className": "",
        "layout": "row-left",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 580,
        "y": 200,
        "wires": [
            [
                "d6beb04373ede17a"
            ]
        ]
    },
    {
        "id": "82b04cc89922f807",
        "type": "debug",
        "z": "22f501abaf7e8db6",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 100,
        "wires": []
    },
    {
        "id": "ma3_osc_receiver",
        "type": "udp in",
        "z": "19fbd7cf3882c4ad",
        "name": "OSC In p8001",
        "iface": "",
        "port": "8001",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "osc_decode"
            ]
        ]
    },
    {
        "id": "osc_decode",
        "type": "osc",
        "z": "19fbd7cf3882c4ad",
        "name": "Decode OSC",
        "path": "",
        "metadata": true,
        "x": 330,
        "y": 100,
        "wires": [
            [
                "a9103b8bd1668d6f"
            ]
        ]
    },
    {
        "id": "osc_router",
        "type": "switch",
        "z": "19fbd7cf3882c4ad",
        "name": "Route by Address",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 550,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "debug_fader",
        "type": "debug",
        "z": "19fbd7cf3882c4ad",
        "name": "Fader Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 60,
        "wires": []
    },
    {
        "id": "debug_key",
        "type": "debug",
        "z": "19fbd7cf3882c4ad",
        "name": "Key Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 770,
        "y": 100,
        "wires": []
    },
    {
        "id": "debug_cmd",
        "type": "debug",
        "z": "19fbd7cf3882c4ad",
        "name": "CMD Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 770,
        "y": 140,
        "wires": []
    },
    {
        "id": "7957f612965dc40e",
        "type": "ui-dropdown",
        "z": "19fbd7cf3882c4ad",
        "group": "5176b798f54b89e5",
        "name": "",
        "label": "Select Content:",
        "tooltip": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "chips": false,
        "clearable": false,
        "options": [
            {
                "label": "show1",
                "value": "show1",
                "type": "str"
            },
            {
                "label": "",
                "value": "show2",
                "type": "str"
            },
            {
                "label": "",
                "value": "Ambiance1",
                "type": "str"
            },
            {
                "label": "",
                "value": "Ambiance2",
                "type": "str"
            },
            {
                "label": "",
                "value": "Ambiance3",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "typeIsComboBox": true,
        "msgTrigger": "onChange",
        "x": 160,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "404ab17db164e013",
        "type": "ui-text",
        "z": "19fbd7cf3882c4ad",
        "group": "fbb25d9fdfc45a2e",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Incoming OSC messages",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 450,
        "y": 200,
        "wires": []
    },
    {
        "id": "b73208e817114238",
        "type": "debug",
        "z": "19fbd7cf3882c4ad",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 240,
        "wires": []
    },
    {
        "id": "a9103b8bd1668d6f",
        "type": "change",
        "z": "19fbd7cf3882c4ad",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 160,
        "y": 200,
        "wires": [
            [
                "404ab17db164e013",
                "b73208e817114238"
            ]
        ]
    },
    {
        "id": "0e56c5eee42c1798",
        "type": "ui-button",
        "z": "19fbd7cf3882c4ad",
        "group": "5176b798f54b89e5",
        "name": "Go",
        "label": "Go",
        "order": 7,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "463a6aec86248f58",
        "type": "comment",
        "z": "19fbd7cf3882c4ad",
        "name": "Direct Buttons",
        "info": "",
        "x": 140,
        "y": 700,
        "wires": []
    },
    {
        "id": "e21a825cd1bdee8a",
        "type": "comment",
        "z": "19fbd7cf3882c4ad",
        "name": "Video Content",
        "info": "",
        "x": 150,
        "y": 940,
        "wires": []
    },
    {
        "id": "d9d64d57ab75a9f2",
        "type": "comment",
        "z": "19fbd7cf3882c4ad",
        "name": "Testing",
        "info": "",
        "x": 130,
        "y": 160,
        "wires": []
    },
    {
        "id": "ef9885992d74b203",
        "type": "ui-text-input",
        "z": "19fbd7cf3882c4ad",
        "group": "fbb25d9fdfc45a2e",
        "name": "Osc message",
        "label": "OSC Messsage",
        "order": 2,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "tooltip": "",
        "delay": "0",
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": false,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 160,
        "y": 1160,
        "wires": [
            [
                "b564d65ab1be896e"
            ]
        ]
    },
    {
        "id": "0d9db2284f2bff29",
        "type": "ui-button-group",
        "z": "19fbd7cf3882c4ad",
        "name": "OSC Port choice",
        "group": "fbb25d9fdfc45a2e",
        "order": 1,
        "width": 6,
        "height": 1,
        "label": "Destination",
        "className": "",
        "rounded": true,
        "useThemeColors": true,
        "passthru": true,
        "options": [
            {
                "label": "QLab",
                "icon": "",
                "value": "53000",
                "valueType": "num",
                "color": "#009933"
            },
            {
                "label": "GrandMa",
                "icon": "",
                "value": "8000",
                "valueType": "num",
                "color": "#999999"
            }
        ],
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 1240,
        "wires": [
            [
                "2c13c807c664eac3"
            ]
        ]
    },
    {
        "id": "557570a035650704",
        "type": "osc",
        "z": "19fbd7cf3882c4ad",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 450,
        "y": 1200,
        "wires": [
            [
                "7d8570d211d2f5e4",
                "93238ced297b7a99"
            ]
        ]
    },
    {
        "id": "03625a79e8807adc",
        "type": "inject",
        "z": "19fbd7cf3882c4ad",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "/cue/1/start",
        "payloadType": "str",
        "x": 150,
        "y": 1200,
        "wires": [
            [
                "b564d65ab1be896e"
            ]
        ]
    },
    {
        "id": "71bb1df31241f8e7",
        "type": "inject",
        "z": "19fbd7cf3882c4ad",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "/cue/1/start",
        "x": 150,
        "y": 1320,
        "wires": [
            [
                "eee292bfd74fad2f"
            ]
        ]
    },
    {
        "id": "eee292bfd74fad2f",
        "type": "osc",
        "z": "19fbd7cf3882c4ad",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 330,
        "y": 1320,
        "wires": [
            [
                "dce7dd7dbe94f72b"
            ]
        ]
    },
    {
        "id": "dce7dd7dbe94f72b",
        "type": "udp out",
        "z": "19fbd7cf3882c4ad",
        "name": "",
        "addr": "host.docker.internal",
        "iface": "",
        "port": "53000",
        "ipv": "udp4",
        "outport": "53000",
        "base64": false,
        "multicast": "false",
        "x": 550,
        "y": 1320,
        "wires": []
    },
    {
        "id": "2c13c807c664eac3",
        "type": "change",
        "z": "19fbd7cf3882c4ad",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "oscPort",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "b564d65ab1be896e",
        "type": "function",
        "z": "19fbd7cf3882c4ad",
        "name": "function 2",
        "func": "let inputStr = msg.payload.trim();\nlet spaceIndex = inputStr.indexOf(\" \");\n\nif (spaceIndex !== -1) {\n    // A space was found! Split into Address and Argument\n    msg.topic = inputStr.substring(0, spaceIndex); // Gets \"/cmd\"\n    \n    let argStr = inputStr.substring(spaceIndex + 1).trim(); // Gets '\"Off Timecode 2\"'\n    \n    // Remove literal quotes if you typed them, the OSC node doesn't need them\n    if (argStr.startsWith('\"') && argStr.endsWith('\"')) {\n        argStr = argStr.slice(1, -1);\n    }\n    \n    msg.payload = argStr; // Set the argument\n} else {\n    // No spaces found (like \"/cue/1/start\"). The whole thing is the address.\n    msg.topic = inputStr;\n    msg.payload = \"\";\n}\n\n// Grab the port we saved from the button group (default to 53000)\nmsg.port = flow.get(\"oscPort\") || 53000; \n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1200,
        "wires": [
            [
                "557570a035650704"
            ]
        ]
    },
    {
        "id": "7d8570d211d2f5e4",
        "type": "udp out",
        "z": "19fbd7cf3882c4ad",
        "name": "",
        "addr": "host.docker.internal",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 650,
        "y": 1200,
        "wires": []
    },
    {
        "id": "93238ced297b7a99",
        "type": "debug",
        "z": "19fbd7cf3882c4ad",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 1160,
        "wires": []
    },
    {
        "id": "2d2254fa590379b5",
        "type": "comment",
        "z": "19fbd7cf3882c4ad",
        "name": "Osc Outputter!",
        "info": "",
        "x": 160,
        "y": 1120,
        "wires": []
    },
    {
        "id": "0ab3ea59ee1611f6",
        "type": "http request",
        "z": "19fbd7cf3882c4ad",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "persist": false,
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 330,
        "y": 1480,
        "wires": [
            []
        ]
    },
    {
        "id": "0e9d8e3e23b6e557",
        "type": "subflow:22f501abaf7e8db6",
        "z": "19fbd7cf3882c4ad",
        "name": "",
        "x": 360,
        "y": 980,
        "wires": []
    },
    {
        "id": "30ad428777cde808",
        "type": "ui-button-group",
        "z": "19fbd7cf3882c4ad",
        "name": "Destination",
        "group": "5176b798f54b89e5",
        "order": 2,
        "width": 6,
        "height": 1,
        "label": "",
        "className": "",
        "rounded": false,
        "useThemeColors": true,
        "passthru": false,
        "options": [
            {
                "label": "All Atriums",
                "icon": "",
                "value": "option_0",
                "valueType": "str",
                "color": "#009933"
            },
            {
                "label": "Atrium 1",
                "icon": "",
                "value": "option_1",
                "valueType": "str",
                "color": "#999999"
            },
            {
                "label": "Atrium 2",
                "icon": "",
                "value": "option_2",
                "valueType": "str",
                "color": "#ff6666"
            },
            {
                "label": "Atrium 3",
                "icon": "",
                "value": "option_3",
                "valueType": "str",
                "color": "#009999"
            }
        ],
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "b6b121d650f4a7e1",
        "type": "comment",
        "z": "19fbd7cf3882c4ad",
        "name": "Playing 1",
        "info": "",
        "x": 140,
        "y": 320,
        "wires": []
    },
    {
        "id": "2daab7503299d678",
        "type": "ui-text",
        "z": "19fbd7cf3882c4ad",
        "group": "4863f41be8c6af42",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Atrium 1:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "Ambience 2",
        "valueType": "str",
        "x": 140,
        "y": 360,
        "wires": []
    },
    {
        "id": "28f4e78eedb5d8bb",
        "type": "ui-text",
        "z": "19fbd7cf3882c4ad",
        "group": "4863f41be8c6af42",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Atrium 2:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "Ambience 2",
        "valueType": "str",
        "x": 140,
        "y": 400,
        "wires": []
    },
    {
        "id": "7b596c2fe3a41cb4",
        "type": "ui-text",
        "z": "19fbd7cf3882c4ad",
        "group": "4863f41be8c6af42",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Atrium 3:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "Show 1",
        "valueType": "str",
        "x": 140,
        "y": 440,
        "wires": []
    },
    {
        "id": "80960ee867ec11c5",
        "type": "comment",
        "z": "19fbd7cf3882c4ad",
        "name": "Playing 1",
        "info": "",
        "x": 140,
        "y": 520,
        "wires": []
    },
    {
        "id": "5cc3af05ed1020bd",
        "type": "ui-template",
        "z": "19fbd7cf3882c4ad",
        "group": "5ecf38be0d49e017",
        "page": "",
        "ui": "",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<head>\n<style>\ntable {\n  font-family: arial, sans-serif;\n  border-collapse: collapse;\n  width: 100%;\n}\n\ntd, th {\n  border: 1px solid #dddddd;\n  text-align: left;\n  padding: 8px;\n}\n\ntr:nth-child(even) {\n  background-color: #dddddd;\n}\n</style>\n</head>\n<body>\n\n<table>\n  <tr>\n    <th style=\"width:20%\"></th>\n    <th style=\"width:20%\">Atrium 1</th>\n    <th style=\"width:20%\">Atrium 2</th>\n    <th style=\"width:20%\">Atrium 3</th>\n    <th style=\"width:20%\">Landscape</th>\n  </tr>\n  <tr>\n    <th>Video</th>\n    <td>Ambiance 1</td>\n    <td>Ambiance 2</td>\n    <td>Show 1</td>\n    <td>Ambiance 1</td>\n  </tr>\n  <tr>\n    <th>Lighting</th>\n    <td>Ambiance 1</td>\n    <td>Ambiance 2</td>\n    <td>Show 1</td>\n    <td>Ambiance 1</td>\n  </tr>\n  <tr>\n    <th>Audio</th>\n    <td>BG Music</td>\n    <td>BG Music</td>\n    <td>Show 1</td>\n    <td>BG Music</td>\n  </tr>\n</table>\n\n</body>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 140,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "8b9aee18b610f4ad",
        "type": "ui-template",
        "z": "19fbd7cf3882c4ad",
        "d": true,
        "group": "8ad5a7c72deac7fb",
        "page": "",
        "ui": "",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <div v-if=\"visible\" class=\"nr-modal-backdrop\" @click.self=\"cancel\">\n    <div class=\"nr-modal\" role=\"dialog\" aria-modal=\"true\" :aria-label=\"title\">\n      <div class=\"nr-modal-header\">\n        <div class=\"nr-modal-title\">{{ title }}</div>\n      </div>\n\n      <div class=\"nr-modal-body\">\n        <div class=\"nr-modal-message\" v-html=\"message\"></div>\n      </div>\n\n      <div class=\"nr-modal-actions\">\n        <button class=\"nr-btn nr-btn-cancel\" @click=\"cancel\">\n          {{ cancelText }}\n        </button>\n        <button class=\"nr-btn nr-btn-confirm\" @click=\"confirm\">\n          {{ confirmText }}\n        </button>\n      </div>\n    </div>\n  </div>\n</template>\n\n<script>\nexport default {\n  data() {\n    return {\n      visible: false,\n      title: \"Confirm\",\n      message: \"Are you sure?\",\n      confirmText: \"Confirm\",\n      cancelText: \"Cancel\",\n      actionId: null,\n    };\n  },\n  methods: {\n    open(payload) {\n      this.title = payload?.title ?? \"Confirm\";\n      this.message = payload?.message ?? \"Are you sure?\";\n      this.confirmText = payload?.confirmText ?? \"Confirm\";\n      this.cancelText = payload?.cancelText ?? \"Cancel\";\n      this.actionId = payload?.actionId ?? null;\n      this.visible = true;\n    },\n    close() {\n      this.visible = false;\n    },\n    confirm() {\n      this.$emit(\"send\", { payload: { actionId: this.actionId, choice: \"confirm\" } });\n      this.close();\n    },\n    cancel() {\n      this.$emit(\"send\", { payload: { actionId: this.actionId, choice: \"cancel\" } });\n      this.close();\n    },\n  },\n  mounted() {\n    // Dashboard 2 pushes msg updates into the component; `this.msg` is reactive\n    // We'll watch for \"open\" messages.\n    this.$watch(\n      () => this.msg,\n      (msg) => {\n        const p = msg?.payload;\n        if (p && p.open === true) this.open(p);\n        if (p && p.open === false) this.close();\n      },\n      { deep: true }\n    );\n  },\n};\n</script>\n\n<style>\n/* Backdrop */\n.nr-modal-backdrop {\n  position: fixed;\n  inset: 0;\n  background: rgba(0,0,0,0.65);\n  display: flex;\n  align-items: center;\n  justify-content: center;\n  z-index: 9999;\n  padding: 24px;\n}\n\n/* Modal */\n.nr-modal {\n  width: min(720px, 100%);\n  background: #111827;           /* dark slate */\n  color: #f9fafb;\n  border: 2px solid rgba(255,255,255,0.12);\n  border-radius: 14px;\n  box-shadow: 0 20px 60px rgba(0,0,0,0.5);\n  overflow: hidden;\n}\n\n/* Header */\n.nr-modal-header {\n  padding: 18px 20px;\n  border-bottom: 1px solid rgba(255,255,255,0.10);\n}\n.nr-modal-title {\n  font-size: 28px;               /* big text */\n  font-weight: 700;\n  letter-spacing: 0.2px;\n}\n\n/* Body */\n.nr-modal-body {\n  padding: 18px 20px 6px 20px;\n}\n.nr-modal-message {\n  font-size: 20px;               /* big message text */\n  line-height: 1.35;\n}\n\n/* Actions */\n.nr-modal-actions {\n  display: flex;\n  gap: 12px;\n  justify-content: flex-end;\n  padding: 16px 20px 20px 20px;\n}\n\n.nr-btn {\n  font-size: 18px;\n  padding: 12px 16px;\n  border-radius: 12px;\n  border: 0;\n  cursor: pointer;\n  min-width: 140px;\n}\n\n.nr-btn-cancel {\n  background: rgba(255,255,255,0.12);\n  color: #f9fafb;\n}\n.nr-btn-cancel:hover {\n  background: rgba(255,255,255,0.18);\n}\n\n.nr-btn-confirm {\n  background: #dc2626;           /* red confirm */\n  color: white;\n}\n.nr-btn-confirm:hover {\n  background: #b91c1c;\n}\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 310,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "de05e3ee40a21958",
        "type": "ui-button",
        "z": "19fbd7cf3882c4ad",
        "group": "8ad5a7c72deac7fb",
        "name": "Show 1",
        "label": "Show 1",
        "order": 2,
        "width": "1",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "yooo",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 140,
        "y": 740,
        "wires": [
            [
                "8b9aee18b610f4ad",
                "d2339c4649d7dc3c"
            ]
        ]
    },
    {
        "id": "594549b308c6e08b",
        "type": "ui-button",
        "z": "19fbd7cf3882c4ad",
        "group": "8ad5a7c72deac7fb",
        "name": "Show 2",
        "label": "Show 2",
        "order": 3,
        "width": "1",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "Are you sure?",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 140,
        "y": 780,
        "wires": [
            [
                "d2339c4649d7dc3c"
            ]
        ]
    },
    {
        "id": "d2339c4649d7dc3c",
        "type": "ui-notification",
        "z": "19fbd7cf3882c4ad",
        "ui": "f34314dbb36334ec",
        "position": "center center",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "10",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": true,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "",
        "x": 340,
        "y": 780,
        "wires": [
            [
                "41a75805e7d72d9e"
            ]
        ]
    },
    {
        "id": "41a75805e7d72d9e",
        "type": "debug",
        "z": "19fbd7cf3882c4ad",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 780,
        "wires": []
    },
    {
        "id": "3e0b9b879c2d5a92",
        "type": "ui-button",
        "z": "19fbd7cf3882c4ad",
        "group": "8ad5a7c72deac7fb",
        "name": "Show 3",
        "label": "Show 3",
        "order": 4,
        "width": "1",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "Are you sure?",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 140,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "fa2385ea484452fd",
        "type": "ui-button",
        "z": "19fbd7cf3882c4ad",
        "group": "8ad5a7c72deac7fb",
        "name": "Show 4",
        "label": "Show 4",
        "order": 5,
        "width": "1",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "Are you sure?",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 140,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "8725c52de1c071e8",
        "type": "ui-button",
        "z": "8ccf58caed82bbf6",
        "group": "89a49ec7808083dd",
        "name": "Low",
        "label": "Low",
        "order": 5,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "format-vertical-align-bottom",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "0e4f765c4dd29779",
        "type": "ui-slider",
        "z": "8ccf58caed82bbf6",
        "group": "89a49ec7808083dd",
        "name": "Master",
        "label": "Master",
        "tooltip": "",
        "order": 1,
        "width": "1",
        "height": "6",
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "always",
        "showTicks": "always",
        "min": 0,
        "max": "20",
        "step": "0",
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 130,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "049a39b65c2efc57",
        "type": "ui-slider",
        "z": "8ccf58caed82bbf6",
        "group": "89a49ec7808083dd",
        "name": "Show",
        "label": "Show",
        "tooltip": "",
        "order": 2,
        "width": "1",
        "height": "6",
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "always",
        "showTicks": "always",
        "min": 0,
        "max": "20",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 250,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "3e1460e236ca9b75",
        "type": "ui-slider",
        "z": "8ccf58caed82bbf6",
        "group": "89a49ec7808083dd",
        "name": "BGM",
        "label": "BGM",
        "tooltip": "",
        "order": 3,
        "width": "1",
        "height": "6",
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "always",
        "showTicks": "always",
        "min": 0,
        "max": "20",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 370,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "8029a84c6abf95c3",
        "type": "ui-button",
        "z": "8ccf58caed82bbf6",
        "group": "7e30cf5b81ad4ba0",
        "name": "Low",
        "label": "Low",
        "order": 1,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "format-vertical-align-bottom",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "4b50afec00256704",
        "type": "ui-button",
        "z": "8ccf58caed82bbf6",
        "group": "89a49ec7808083dd",
        "name": "Mid",
        "label": "Mid",
        "order": 6,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "format-vertical-align-center",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 250,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "8a140f122db8ef9b",
        "type": "ui-button",
        "z": "8ccf58caed82bbf6",
        "group": "89a49ec7808083dd",
        "name": "High",
        "label": "High",
        "order": 7,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "format-vertical-align-top",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 370,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "da47bec7c7ddb466",
        "type": "ui-text",
        "z": "8ccf58caed82bbf6",
        "group": "89a49ec7808083dd",
        "order": 4,
        "width": "3",
        "height": "1",
        "name": "Presets",
        "label": "Presets",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 140,
        "y": 240,
        "wires": []
    },
    {
        "id": "55f7bbd4d3580c14",
        "type": "ui-button",
        "z": "8ccf58caed82bbf6",
        "group": "7e30cf5b81ad4ba0",
        "name": "Mid",
        "label": "Mid",
        "order": 2,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "format-vertical-align-center",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 250,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "fcf86f5ffb8e3d10",
        "type": "ui-button",
        "z": "8ccf58caed82bbf6",
        "group": "7e30cf5b81ad4ba0",
        "name": "High",
        "label": "High",
        "order": 3,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "format-vertical-align-top",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 370,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "51e0a8b5cfba66a9",
        "type": "comment",
        "z": "8ccf58caed82bbf6",
        "name": "All Atriums",
        "info": "",
        "x": 140,
        "y": 60,
        "wires": []
    },
    {
        "id": "838b237fda8b4c63",
        "type": "comment",
        "z": "8ccf58caed82bbf6",
        "name": "Atrium 1",
        "info": "",
        "x": 140,
        "y": 160,
        "wires": []
    },
    {
        "id": "acd1c3b6a97697c9",
        "type": "ui-button",
        "z": "8ccf58caed82bbf6",
        "group": "776ce3db31f8095d",
        "name": "Low",
        "label": "Low",
        "order": 5,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "format-vertical-align-bottom",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "cfdcf9e80392923c",
        "type": "ui-slider",
        "z": "8ccf58caed82bbf6",
        "group": "776ce3db31f8095d",
        "name": "Master",
        "label": "Master",
        "tooltip": "",
        "order": 1,
        "width": "1",
        "height": "6",
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": 0,
        "max": "20",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 130,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "f4acd7b1bdedd06b",
        "type": "ui-slider",
        "z": "8ccf58caed82bbf6",
        "group": "776ce3db31f8095d",
        "name": "Show",
        "label": "Show",
        "tooltip": "",
        "order": 2,
        "width": "1",
        "height": "6",
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": 0,
        "max": "20",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 250,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "86e1cd1bbe06244e",
        "type": "ui-slider",
        "z": "8ccf58caed82bbf6",
        "group": "776ce3db31f8095d",
        "name": "BGM",
        "label": "BGM",
        "tooltip": "",
        "order": 3,
        "width": "1",
        "height": "6",
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": 0,
        "max": "20",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 370,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "7187d9b665e9d8b6",
        "type": "ui-button",
        "z": "8ccf58caed82bbf6",
        "group": "776ce3db31f8095d",
        "name": "Mid",
        "label": "Mid",
        "order": 6,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "format-vertical-align-center",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 250,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "2007da442246a4dd",
        "type": "ui-button",
        "z": "8ccf58caed82bbf6",
        "group": "776ce3db31f8095d",
        "name": "High",
        "label": "High",
        "order": 7,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "format-vertical-align-top",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 370,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "df85ebbd7ad23694",
        "type": "ui-text",
        "z": "8ccf58caed82bbf6",
        "group": "776ce3db31f8095d",
        "order": 4,
        "width": "3",
        "height": "1",
        "name": "Presets",
        "label": "Presets",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 140,
        "y": 420,
        "wires": []
    },
    {
        "id": "a99b51244285bfd8",
        "type": "comment",
        "z": "8ccf58caed82bbf6",
        "name": "Atrium 2",
        "info": "",
        "x": 140,
        "y": 340,
        "wires": []
    },
    {
        "id": "209ed37f613266bf",
        "type": "ui-button",
        "z": "8ccf58caed82bbf6",
        "group": "d8304d5bd63f01b7",
        "name": "Low",
        "label": "Low",
        "order": 6,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "format-vertical-align-bottom",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "6e47787a9b676845",
        "type": "ui-slider",
        "z": "8ccf58caed82bbf6",
        "group": "d8304d5bd63f01b7",
        "name": "Master",
        "label": "Master",
        "tooltip": "",
        "order": 1,
        "width": "1",
        "height": "6",
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": 0,
        "max": "20",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 130,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "50a61419112295fc",
        "type": "ui-slider",
        "z": "8ccf58caed82bbf6",
        "group": "d8304d5bd63f01b7",
        "name": "Show",
        "label": "Show",
        "tooltip": "",
        "order": 2,
        "width": "1",
        "height": "6",
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": 0,
        "max": "20",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 250,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "9d7589a2828a98c5",
        "type": "ui-slider",
        "z": "8ccf58caed82bbf6",
        "group": "d8304d5bd63f01b7",
        "name": "BGM",
        "label": "BGM",
        "tooltip": "",
        "order": 3,
        "width": "1",
        "height": "6",
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": 0,
        "max": "20",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 370,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "b1768b05f237232b",
        "type": "ui-button",
        "z": "8ccf58caed82bbf6",
        "group": "d8304d5bd63f01b7",
        "name": "Mid",
        "label": "Mid",
        "order": 8,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "format-vertical-align-center",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 250,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "ba663ac70227a002",
        "type": "ui-button",
        "z": "8ccf58caed82bbf6",
        "group": "d8304d5bd63f01b7",
        "name": "High",
        "label": "High",
        "order": 7,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "format-vertical-align-top",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 370,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "299d1925005c0283",
        "type": "ui-text",
        "z": "8ccf58caed82bbf6",
        "group": "d8304d5bd63f01b7",
        "order": 4,
        "width": "3",
        "height": "1",
        "name": "Presets",
        "label": "Presets",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 140,
        "y": 600,
        "wires": []
    },
    {
        "id": "97d57a98c47dca4b",
        "type": "comment",
        "z": "8ccf58caed82bbf6",
        "name": "Atrium 2",
        "info": "",
        "x": 140,
        "y": 520,
        "wires": []
    },
    {
        "id": "e91da1ec.03c17",
        "type": "ui-template",
        "z": "8ccf58caed82bbf6",
        "d": true,
        "group": "d8304d5bd63f01b7",
        "page": "",
        "ui": "",
        "name": "Vertical Slider",
        "order": 5,
        "width": 2,
        "height": 6,
        "format": "<div style=\"text-align: center;\">Slider</div>\n<input ng-init=\"output(msg)\" class=\"sliderV size2x6\" type=\"range\" min=0 max=100 step=1 ng-model=\"msg.payload\" aria-label=\"volume\" ng-change=\"output(msg)\">\n\n<script>\n(function($scope) {\n    $scope.output = function(key) {\n        if ($scope.hasOwnProperty(\"msg\")){\n            if ($scope.msg.hasOwnProperty(\"socketid\") || $scope.msg.payload !== 50){ //this prevents output at 50% from initialization on ng-change\n\t\t        $scope.send({payload:$scope.msg.payload, socketid:$scope.msg.socketid});\n            }\n        }\n        \n    };\n})(scope);\n</script>\n\n<style>\ninput[type='range'].sliderH {\n  margin-top: 60px;\n  width: 80px;\n  height: 240px;\n  padding: 0;\n  overflow: unset;\n  cursor: grab;\n}\ninput[type='range'].sliderV {\n  transform: rotateZ(-90deg);\n  margin-top: 60px;\n  writing-mode: bt-lr;\n  width: 80%;\n  padding: 0;\n  overflow: unset;\n  cursor: grab;\n  height: 8px;\n  margin-left: -100px;\n}\n.size1x6 {\n    height: 8px !important;\n    margin-left: -100px !important;\n}\n.size2x6 {\n    height: 13px !important;\n    margin-left: -80px !important;\n}\n.size1x6::-webkit-slider-thumb {\n    height: 23px !important;\n    width: 42px !important;\n}\n.size2x6::-webkit-slider-thumb{\n    height: 43px !important;\n    width: 72px !important;\n}\n@media screen and (-webkit-min-device-pixel-ratio: 0) {\n  input[type='range'].sliderH {\n    -webkit-appearance: none;\n    width: 240px;\n    height: 10px;\n    margin-top: 30px;\n    margin-left: 30px;\n    outline: 0;\n    border-radius: 5px;\n    background-color: #0b0b0b;\n    box-shadow: inset 1px 1px 0 1px #6d6d6d;\n  }\n}\n@media screen and (-webkit-min-device-pixel-ratio: 0) {\n  input[type='range'].sliderV {\n    -webkit-appearance: none;\n    -webkit-transform: rotate(270deg);\n    width: 240px;\n    height: 10px;\n    margin-top: 140px;\n    outline: 0;\n    border-radius: 5px;\n    background-color: #0b0b0b;\n    box-shadow: inset 1px 1px 0 1px #6d6d6d;\n  }\n}\ninput[type='range']::-ms-track {\n  width: 10px;\n  height: 240px;\n  border-radius: 5px;\n  background-color: #0b0b0b;\n  box-shadow: inset 1px 1px 0 1px #6d6d6d;\n  border: 0;\n}\ninput[type='range']::-moz-range-track {\n    transform: rotateZ(-90deg);\n  width: 10px;\n  height: 240px;\n  border-radius: 5px;\n  background-color: #0b0b0b;\n  box-shadow: inset 1px 1px 0 1px #6d6d6d;\n  border: 0;\n}\ninput[type='range']::-webkit-slider-thumb {\n  width: 72px;\n  height: 32px;\n  -webkit-appearance: none;\n  background-image: -webkit-linear-gradient(left, #0f0f0f, #2e2e2e 4%, #0f0f0f 8%, #000 47%, #808080 48%, #808080 52%, #000 53%, #1a1a1a 96%, #2e2e2e);\n  box-shadow: 5px -10px 20px 0 #1a1a1a;\n}\ninput[type='range']::-ms-thumb {\n  width: 32px;\n  height: 72px;\n  border: 0;\n  box-shadow: -10px -5px 20px 0 #1a1a1a;\n  background-image: -ms-linear-gradient(bottom, #0f0f0f, #2e2e2e 4%, #0f0f0f 8%, #000 47%, #808080 48%, #808080 52%, #000 53%, #1a1a1a 96%, #2e2e2e);\n}\ninput[type='range']::-ms-tooltip {\n  display: none;\n}\ninput[type='range']::-moz-range-thumb {\n  width: 32px;\n  height: 72px;\n  border: 0;\n  box-shadow: -10px -5px 20px 0 #1a1a1a;\n  background-image: -moz-linear-gradient(bottom, #0f0f0f, #2e2e2e 4%, #0f0f0f 8%, #000 47%, #808080 48%, #808080 52%, #000 53%, #1a1a1a 96%, #2e2e2e);\n  border-radius: 0;\n  transform: rotateZ(-90deg);\n}\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "templateScope": "local",
        "className": "",
        "x": 600,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "f000b5350e394e35",
        "type": "comment",
        "z": "68070fdec3517672",
        "name": "All Atriums",
        "info": "",
        "x": 100,
        "y": 80,
        "wires": []
    },
    {
        "id": "3fac49674c85bc3b",
        "type": "comment",
        "z": "68070fdec3517672",
        "name": "Atrium 1",
        "info": "",
        "x": 100,
        "y": 260,
        "wires": []
    },
    {
        "id": "f10b01408eb4ed35",
        "type": "comment",
        "z": "68070fdec3517672",
        "name": "Atrium 2",
        "info": "",
        "x": 100,
        "y": 460,
        "wires": []
    },
    {
        "id": "c2a5b4e6d730bed2",
        "type": "ui-button",
        "z": "68070fdec3517672",
        "group": "bb2a29f0c26b5f4b",
        "name": "Look 1",
        "label": "Look 1",
        "order": 2,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "numeric-1-circle-outline",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 90,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "29d4054fc51b0758",
        "type": "ui-button",
        "z": "68070fdec3517672",
        "group": "bb2a29f0c26b5f4b",
        "name": "Look 2",
        "label": "Look 2",
        "order": 3,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "numeric-2-circle-outline",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 210,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "7743f1efe044de83",
        "type": "ui-button",
        "z": "68070fdec3517672",
        "group": "83d9dff356017e09",
        "name": "Look 1",
        "label": "Look 1",
        "order": 1,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "numeric-1-circle-outline",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 90,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "dff86a1b4023c1e0",
        "type": "ui-button",
        "z": "68070fdec3517672",
        "group": "83d9dff356017e09",
        "name": "Look 2",
        "label": "Look 2",
        "order": 2,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "numeric-2-circle-outline",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 210,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "f5aabc68642d7003",
        "type": "ui-button",
        "z": "68070fdec3517672",
        "group": "5548920792beed1d",
        "name": "Look 1",
        "label": "Look 1",
        "order": 1,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "numeric-1-circle-outline",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 90,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "55221f070eb0914e",
        "type": "ui-button",
        "z": "68070fdec3517672",
        "group": "5548920792beed1d",
        "name": "Look 2",
        "label": "Look 2",
        "order": 2,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "numeric-2-circle-outline",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 210,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "f03989ab5817b69d",
        "type": "ui-button-group",
        "z": "68070fdec3517672",
        "name": "Destination",
        "group": "bb2a29f0c26b5f4b",
        "order": 1,
        "width": 6,
        "height": "2",
        "label": "",
        "className": "",
        "rounded": true,
        "useThemeColors": true,
        "passthru": false,
        "options": [
            {
                "label": "All Atriums",
                "icon": "",
                "value": "option_0",
                "valueType": "str",
                "color": "#009933"
            },
            {
                "label": "Atrium 1",
                "icon": "",
                "value": "option_1",
                "valueType": "str",
                "color": "#999999"
            },
            {
                "label": "Atrium 2",
                "icon": "",
                "value": "option_2",
                "valueType": "str",
                "color": "#ff6666"
            },
            {
                "label": "Atrium 3",
                "icon": "",
                "value": "option_3",
                "valueType": "str",
                "color": "#009999"
            },
            {
                "label": "Landscape",
                "icon": "",
                "value": "option_4",
                "valueType": "str",
                "color": "#cccc00"
            }
        ],
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "0eaf2ea794d92795",
        "type": "ui-button",
        "z": "68070fdec3517672",
        "group": "bb2a29f0c26b5f4b",
        "name": "Look 3",
        "label": "Look 3",
        "order": 4,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "numeric-3-circle-outline",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 330,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "91c0af9b1da5b8bf",
        "type": "ui-button",
        "z": "68070fdec3517672",
        "group": "bb2a29f0c26b5f4b",
        "name": "Look 4",
        "label": "Look 4",
        "order": 5,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "numeric-4-circle-outline",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 450,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "cd9a6261ae15ae21",
        "type": "inject",
        "z": "4427b69f42325844",
        "name": "Init config on deploy",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"host\": \"localhost\", \"port\": 3019, \"storageFile\": \"/data/watchout/timeline-mapping.json\"}",
        "payloadType": "json",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "fe421eeaa6db7a28"
            ]
        ]
    },
    {
        "id": "fe421eeaa6db7a28",
        "type": "function",
        "z": "4427b69f42325844",
        "name": "Store config",
        "func": "flow.set('watchout_config', msg.payload);\nreturn null;",
        "outputs": 0,
        "x": 380,
        "y": 80,
        "wires": []
    },
    {
        "id": "e5f774b7399fb58e",
        "type": "function",
        "z": "4427b69f42325844",
        "name": "Discover timelines",
        "func": "/**\n * Watchout Timeline Discovery — Node-RED Function Node\n *\n * Trigger this node by wiring an \"inject\" or dashboard ui_button node to it.\n * It fetches timelines from Watchout, compares them to the stored mapping,\n * stores the pending diff in flow context, and outputs a message suitable\n * for displaying the diff in a UI template node.\n *\n * Flow context variables used:\n *   flow.get('watchout_config')   — { host, port, storageFile }\n *   flow.get('watchout_mapping')  — { [contentId]: timelineId }\n *   flow.get('watchout_pending')  — pending new mapping (awaiting confirmation)\n *\n * Output msg.payload:\n *   {\n *     status:     'diff_ready' | 'no_changes' | 'error',\n *     hasChanges: boolean,\n *     diff:       { added: [], removed: [], unchanged: [], changed: [] },\n *     newMapping: { [contentId]: timelineId },\n *     diffLines:  string[],   // human-readable lines for display\n *     error:      string      // only on status === 'error'\n *   }\n */\n\n'use strict';\n\nconst http = require('http');\n\n// ─── Config ────────────────────────────────────────────────────────────────\n\nconst cfg = flow.get('watchout_config') || {};\nconst host = cfg.host || 'localhost';\nconst port = cfg.port || 3019;\nconst REQUEST_TIMEOUT_MS = 10000;\n\n// ─── Helpers ───────────────────────────────────────────────────────────────\n\nfunction httpGet(path) {\n    return new Promise((resolve, reject) => {\n        const options = {\n            hostname: host,\n            port: port,\n            path: path,\n            method: 'GET',\n            headers: { 'Content-Type': 'application/json' },\n        };\n        const req = http.request(options, (res) => {\n            let data = '';\n            res.on('data', (chunk) => { data += chunk; });\n            res.on('end', () => {\n                try {\n                    resolve({ statusCode: res.statusCode, body: JSON.parse(data) });\n                } catch (e) {\n                    resolve({ statusCode: res.statusCode, body: data });\n                }\n            });\n            res.on('error', reject);\n        });\n        req.on('error', reject);\n        req.setTimeout(REQUEST_TIMEOUT_MS, () => req.destroy(new Error('Request timed out')));\n        req.end();\n    });\n}\n\nfunction parseTimelineName(name) {\n    if (!name || name.startsWith('_')) return null;\n    return name.trim().toLowerCase().replace(/\\s+/g, '_').replace(/[^a-z0-9_]/g, '');\n}\n\nfunction compareMapping(oldMap, newMap) {\n    const oldKeys = Object.keys(oldMap);\n    const newKeys = Object.keys(newMap);\n    return {\n        removed:   oldKeys.filter(k => !(k in newMap)),\n        added:     newKeys.filter(k => !(k in oldMap)),\n        unchanged: oldKeys.filter(k => (k in newMap) && oldMap[k] === newMap[k]),\n        changed:   oldKeys.filter(k => (k in newMap) && oldMap[k] !== newMap[k]),\n    };\n}\n\nfunction formatDiff(diff) {\n    const lines = [];\n    diff.removed.forEach(n   => lines.push(`❌ Removed  : Timeline '${n}' no longer exists`));\n    diff.added.forEach(n     => lines.push(`✨ Added    : New timeline '${n}' discovered`));\n    diff.changed.forEach(n   => lines.push(`🔄 Changed  : Timeline '${n}' ID has changed`));\n    diff.unchanged.forEach(n => lines.push(`✓  Unchanged: '${n}'`));\n    return lines;\n}\n\n// ─── Main ──────────────────────────────────────────────────────────────────\n\nasync function discover() {\n    let result;\n    try {\n        result = await httpGet('/v0/timelines');\n    } catch (err) {\n        return { status: 'error', error: `Connection failed: ${err.message}` };\n    }\n\n    if (result.statusCode !== 200) {\n        return { status: 'error', error: `Watchout returned HTTP ${result.statusCode}` };\n    }\n\n    const timelines = Array.isArray(result.body) ? result.body : [];\n\n    // Build new mapping\n    const newMapping = {};\n    timelines.forEach(tl => {\n        const contentId = parseTimelineName(tl.name);\n        if (contentId) {\n            newMapping[contentId] = String(tl.id);\n        }\n    });\n\n    // Compare with stored mapping\n    const storedMapping = flow.get('watchout_mapping') || {};\n    const diff = compareMapping(storedMapping, newMapping);\n    const hasChanges = diff.added.length > 0 || diff.removed.length > 0 || diff.changed.length > 0;\n\n    // Store pending mapping (not saved until confirmed)\n    flow.set('watchout_pending', newMapping);\n\n    return {\n        status:     hasChanges ? 'diff_ready' : 'no_changes',\n        hasChanges,\n        diff,\n        newMapping,\n        diffLines:  formatDiff(diff),\n    };\n}\n\n// Execute and pass result downstream\ndiscover().then(payload => {\n    node.send({ payload, topic: 'watchout/discovery' });\n}).catch(err => {\n    node.send({ payload: { status: 'error', error: err.message }, topic: 'watchout/discovery' });\n});\n\nreturn null; // async — result sent in promise callback\n",
        "outputs": 1,
        "x": 380,
        "y": 160,
        "wires": [
            [
                "wo2-diff-template"
            ]
        ]
    },
    {
        "id": "906ddd42b6519da7",
        "type": "switch",
        "z": "4427b69f42325844",
        "name": "Confirm or Cancel?",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "confirm",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "cancel",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 340,
        "y": 500,
        "wires": [
            [
                "875bb4dee64b5621"
            ],
            [
                "90fc635211cc47aa"
            ]
        ]
    },
    {
        "id": "875bb4dee64b5621",
        "type": "function",
        "z": "4427b69f42325844",
        "name": "Confirm & Save mapping",
        "func": "/**\n * Watchout Discovery Confirm — Node-RED Function Node\n *\n * Wire this node from a dashboard [Confirm & Save] button or HTTP endpoint.\n * It takes the pending mapping stored by the discovery node and persists it\n * to both flow context and the file system.\n *\n * Flow context variables used:\n *   flow.get('watchout_pending')  — the new mapping to confirm\n *   flow.set('watchout_mapping')  — updated with confirmed mapping\n *   flow.get('watchout_config')   — { storageFile } (optional path override)\n *\n * Output msg.payload:\n *   { status: 'saved' | 'nothing_pending' | 'error', mapping: {}, savedAt: string }\n */\n\n'use strict';\n\nconst fs   = require('fs');\nconst path = require('path');\n\nconst pending = flow.get('watchout_pending');\n\nif (!pending) {\n    node.send({ payload: { status: 'nothing_pending' }, topic: 'watchout/confirm' });\n    return null;\n}\n\n// Persist to flow context\nflow.set('watchout_mapping', pending);\nflow.set('watchout_pending', null);\n\n// Persist to file\nconst cfg         = flow.get('watchout_config') || {};\nconst storageFile = cfg.storageFile || path.join(__dirname, '../data/timeline-mapping.json');\n\ntry {\n    const dir = path.dirname(storageFile);\n    if (!fs.existsSync(dir)) fs.mkdirSync(dir, { recursive: true });\n    const data = { mapping: pending, lastSaved: new Date().toISOString() };\n    fs.writeFileSync(storageFile, JSON.stringify(data, null, 2));\n    node.log('[WatchoutHTTP] Timeline mapping saved to ' + storageFile);\n} catch (err) {\n    node.warn('[WatchoutHTTP] Could not save mapping to file: ' + err.message);\n    node.send({ payload: { status: 'error', error: err.message }, topic: 'watchout/confirm' });\n    return null;\n}\n\nconst savedAt = new Date().toISOString();\nnode.send({\n    payload: { status: 'saved', mapping: pending, savedAt },\n    topic:   'watchout/confirm',\n});\n\nreturn null;\n",
        "outputs": 1,
        "x": 580,
        "y": 460,
        "wires": [
            [
                "wo2-status-template"
            ]
        ]
    },
    {
        "id": "90fc635211cc47aa",
        "type": "function",
        "z": "4427b69f42325844",
        "name": "Cancel discovery",
        "func": "/**\n * Watchout Discovery Cancel — Node-RED Function Node\n *\n * Wire this node from a dashboard [Cancel] button.\n * Clears the pending mapping without saving anything.\n *\n * Flow context variables modified:\n *   flow.set('watchout_pending', null)\n *\n * Output msg.payload:\n *   { status: 'cancelled' }\n */\n\n'use strict';\n\nflow.set('watchout_pending', null);\n\nnode.send({ payload: { status: 'cancelled' }, topic: 'watchout/cancel' });\n\nreturn null;\n",
        "outputs": 1,
        "x": 580,
        "y": 540,
        "wires": [
            [
                "wo2-status-template"
            ]
        ]
    },
    {
        "id": "daee275525f680d7",
        "type": "http in",
        "z": "4427b69f42325844",
        "name": "POST /watchout/control",
        "url": "/watchout/control",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "f0c71955340cf294"
            ]
        ]
    },
    {
        "id": "f0c71955340cf294",
        "type": "function",
        "z": "4427b69f42325844",
        "name": "Execute timeline control",
        "func": "/**\n * Watchout Timeline Control — Node-RED Function Node\n *\n * Accepts an incoming message with a command and executes it against Watchout.\n *\n * Input msg.payload:\n *   {\n *     command:   'start' | 'stop' | 'pause' | 'setVar' | 'getState',\n *     contentId: string,    // for start / stop / pause  (looked up in mapping)\n *     varName:   string,    // for setVar\n *     varValue:  any,       // for setVar\n *   }\n *\n * Output msg.payload:\n *   {\n *     success:    boolean,\n *     command:    string,\n *     timelineId: string,   // resolved timeline ID (start / stop / pause)\n *     statusCode: number,\n *     body:       any,\n *     error:      string    // only on failure\n *   }\n *\n * Flow context variables used:\n *   flow.get('watchout_config')   — { host, port }\n *   flow.get('watchout_mapping')  — { [contentId]: timelineId }\n */\n\n'use strict';\n\nconst http = require('http');\n\n// ─── Config ────────────────────────────────────────────────────────────────\n\nconst cfg = flow.get('watchout_config') || {};\nconst host = cfg.host || 'localhost';\nconst port = cfg.port || 3019;\nconst REQUEST_TIMEOUT_MS = 10000;\n\n// ─── Helpers ───────────────────────────────────────────────────────────────\n\nfunction httpRequest(method, urlPath, body) {\n    return new Promise((resolve, reject) => {\n        const options = {\n            hostname: host,\n            port: port,\n            path: urlPath,\n            method: method,\n            headers: { 'Content-Type': 'application/json' },\n        };\n        const req = http.request(options, (res) => {\n            let data = '';\n            res.on('data', (chunk) => { data += chunk; });\n            res.on('end', () => {\n                try {\n                    resolve({ statusCode: res.statusCode, body: JSON.parse(data) });\n                } catch (e) {\n                    resolve({ statusCode: res.statusCode, body: data });\n                }\n            });\n            res.on('error', reject);\n        });\n        req.on('error', reject);\n        req.setTimeout(REQUEST_TIMEOUT_MS, () => req.destroy(new Error('Request timed out')));\n        if (body !== undefined) req.write(JSON.stringify(body));\n        req.end();\n    });\n}\n\nfunction resolveTimelineId(contentId) {\n    const mapping = flow.get('watchout_mapping') || {};\n    if (contentId in mapping) return mapping[contentId];\n    return String(contentId); // assume it is already a raw timeline ID\n}\n\n// ─── Main ──────────────────────────────────────────────────────────────────\n\nconst input = msg.payload || {};\nconst command = input.command;\n\nasync function execute() {\n    let timelineId;\n\n    switch (command) {\n        case 'start': {\n            timelineId = resolveTimelineId(input.contentId);\n            const r = await httpRequest('POST', `/v0/timelines/${timelineId}/play`);\n            return { success: r.statusCode < 300, command, timelineId, statusCode: r.statusCode, body: r.body };\n        }\n        case 'stop': {\n            timelineId = resolveTimelineId(input.contentId);\n            const r = await httpRequest('POST', `/v0/timelines/${timelineId}/stop`);\n            return { success: r.statusCode < 300, command, timelineId, statusCode: r.statusCode, body: r.body };\n        }\n        case 'pause': {\n            timelineId = resolveTimelineId(input.contentId);\n            const r = await httpRequest('POST', `/v0/timelines/${timelineId}/pause`);\n            return { success: r.statusCode < 300, command, timelineId, statusCode: r.statusCode, body: r.body };\n        }\n        case 'setVar': {\n            const r = await httpRequest('PUT', `/v0/vars/${encodeURIComponent(input.varName)}`, { value: input.varValue });\n            return { success: r.statusCode < 300, command, statusCode: r.statusCode, body: r.body };\n        }\n        case 'getState': {\n            const r = await httpRequest('GET', '/v0/state');\n            return { success: r.statusCode < 300, command, statusCode: r.statusCode, body: r.body };\n        }\n        default:\n            throw new Error(`Unknown command: '${command}'`);\n    }\n}\n\nexecute().then(payload => {\n    node.send({ payload, topic: `watchout/${command}` });\n}).catch(err => {\n    node.send({ payload: { success: false, command, error: err.message }, topic: `watchout/${command}` });\n});\n\nreturn null; // async\n",
        "outputs": 1,
        "x": 400,
        "y": 280,
        "wires": [
            [
                "0d41ed3d0507a583"
            ]
        ]
    },
    {
        "id": "0d41ed3d0507a583",
        "type": "http response",
        "z": "4427b69f42325844",
        "name": "HTTP Response",
        "statusCode": "",
        "headers": {},
        "x": 640,
        "y": 280,
        "wires": []
    },
    {
        "id": "056fc50754f16ab8",
        "type": "inject",
        "z": "4427b69f42325844",
        "name": "Poll state (5 s)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\": \"getState\"}",
        "payloadType": "json",
        "x": 140,
        "y": 380,
        "wires": [
            [
                "2b9810121b825577"
            ]
        ]
    },
    {
        "id": "2b9810121b825577",
        "type": "function",
        "z": "4427b69f42325844",
        "name": "Poll Watchout state",
        "func": "/**\n * Watchout Timeline Control — Node-RED Function Node\n *\n * Accepts an incoming message with a command and executes it against Watchout.\n *\n * Input msg.payload:\n *   {\n *     command:   'start' | 'stop' | 'pause' | 'setVar' | 'getState',\n *     contentId: string,    // for start / stop / pause  (looked up in mapping)\n *     varName:   string,    // for setVar\n *     varValue:  any,       // for setVar\n *   }\n *\n * Output msg.payload:\n *   {\n *     success:    boolean,\n *     command:    string,\n *     timelineId: string,   // resolved timeline ID (start / stop / pause)\n *     statusCode: number,\n *     body:       any,\n *     error:      string    // only on failure\n *   }\n *\n * Flow context variables used:\n *   flow.get('watchout_config')   — { host, port }\n *   flow.get('watchout_mapping')  — { [contentId]: timelineId }\n */\n\n'use strict';\n\nconst http = require('http');\n\n// ─── Config ────────────────────────────────────────────────────────────────\n\nconst cfg = flow.get('watchout_config') || {};\nconst host = cfg.host || 'localhost';\nconst port = cfg.port || 3019;\nconst REQUEST_TIMEOUT_MS = 10000;\n\n// ─── Helpers ───────────────────────────────────────────────────────────────\n\nfunction httpRequest(method, urlPath, body) {\n    return new Promise((resolve, reject) => {\n        const options = {\n            hostname: host,\n            port: port,\n            path: urlPath,\n            method: method,\n            headers: { 'Content-Type': 'application/json' },\n        };\n        const req = http.request(options, (res) => {\n            let data = '';\n            res.on('data', (chunk) => { data += chunk; });\n            res.on('end', () => {\n                try {\n                    resolve({ statusCode: res.statusCode, body: JSON.parse(data) });\n                } catch (e) {\n                    resolve({ statusCode: res.statusCode, body: data });\n                }\n            });\n            res.on('error', reject);\n        });\n        req.on('error', reject);\n        req.setTimeout(REQUEST_TIMEOUT_MS, () => req.destroy(new Error('Request timed out')));\n        if (body !== undefined) req.write(JSON.stringify(body));\n        req.end();\n    });\n}\n\nfunction resolveTimelineId(contentId) {\n    const mapping = flow.get('watchout_mapping') || {};\n    if (contentId in mapping) return mapping[contentId];\n    return String(contentId); // assume it is already a raw timeline ID\n}\n\n// ─── Main ──────────────────────────────────────────────────────────────────\n\nconst input = msg.payload || {};\nconst command = input.command;\n\nasync function execute() {\n    let timelineId;\n\n    switch (command) {\n        case 'start': {\n            timelineId = resolveTimelineId(input.contentId);\n            const r = await httpRequest('POST', `/v0/timelines/${timelineId}/play`);\n            return { success: r.statusCode < 300, command, timelineId, statusCode: r.statusCode, body: r.body };\n        }\n        case 'stop': {\n            timelineId = resolveTimelineId(input.contentId);\n            const r = await httpRequest('POST', `/v0/timelines/${timelineId}/stop`);\n            return { success: r.statusCode < 300, command, timelineId, statusCode: r.statusCode, body: r.body };\n        }\n        case 'pause': {\n            timelineId = resolveTimelineId(input.contentId);\n            const r = await httpRequest('POST', `/v0/timelines/${timelineId}/pause`);\n            return { success: r.statusCode < 300, command, timelineId, statusCode: r.statusCode, body: r.body };\n        }\n        case 'setVar': {\n            const r = await httpRequest('PUT', `/v0/vars/${encodeURIComponent(input.varName)}`, { value: input.varValue });\n            return { success: r.statusCode < 300, command, statusCode: r.statusCode, body: r.body };\n        }\n        case 'getState': {\n            const r = await httpRequest('GET', '/v0/state');\n            return { success: r.statusCode < 300, command, statusCode: r.statusCode, body: r.body };\n        }\n        default:\n            throw new Error(`Unknown command: '${command}'`);\n    }\n}\n\nexecute().then(payload => {\n    node.send({ payload, topic: `watchout/${command}` });\n}).catch(err => {\n    node.send({ payload: { success: false, command, error: err.message }, topic: `watchout/${command}` });\n});\n\nreturn null; // async\n",
        "outputs": 1,
        "x": 380,
        "y": 380,
        "wires": [
            [
                "wo2-state-template"
            ]
        ]
    },
    {
        "id": "b2f1d4849a6d9212",
        "type": "debug",
        "z": "4427b69f42325844",
        "name": "Discovery debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 220,
        "wires": []
    },
    {
        "id": "wo2-rediscover-btn",
        "type": "ui-button",
        "z": "4427b69f42325844",
        "group": "f4d4b5c1c3b0a1ae",
        "name": "Re-discover Timelines",
        "label": "🔍 Re-discover Timelines",
        "order": 1,
        "width": 6,
        "height": 1,
        "emulateClick": false,
        "tooltip": "Fetch timeline list from Watchout and compare to stored mapping",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{}",
        "payloadType": "json",
        "topic": "watchout/rediscover",
        "topicType": "str",
        "buttonColor": "#1565c0",
        "textColor": "#ffffff",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "e5f774b7399fb58e"
            ]
        ]
    },
    {
        "id": "wo2-confirm-btn",
        "type": "ui-button",
        "z": "4427b69f42325844",
        "group": "f4d4b5c1c3b0a1ae",
        "name": "Confirm & Save",
        "label": "✔ Confirm & Save",
        "order": 3,
        "width": 3,
        "height": 1,
        "emulateClick": false,
        "tooltip": "Confirm pending mapping and save to disk",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{\"action\":\"confirm\"}",
        "payloadType": "json",
        "topic": "watchout/discovery",
        "topicType": "str",
        "buttonColor": "#2e7d32",
        "textColor": "#ffffff",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 120,
        "y": 500,
        "wires": [
            [
                "906ddd42b6519da7"
            ]
        ]
    },
    {
        "id": "wo2-cancel-btn",
        "type": "ui-button",
        "z": "4427b69f42325844",
        "group": "f4d4b5c1c3b0a1ae",
        "name": "Cancel",
        "label": "✗ Cancel",
        "order": 4,
        "width": 3,
        "height": 1,
        "emulateClick": false,
        "tooltip": "Discard pending mapping",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{\"action\":\"cancel\"}",
        "payloadType": "json",
        "topic": "watchout/discovery",
        "topicType": "str",
        "buttonColor": "#616161",
        "textColor": "#ffffff",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 140,
        "y": 540,
        "wires": [
            [
                "906ddd42b6519da7"
            ]
        ]
    },
    {
        "id": "wo2-diff-template",
        "type": "ui-template",
        "z": "4427b69f42325844",
        "group": "f4d4b5c1c3b0a1ae",
        "name": "Timeline Diff",
        "order": 2,
        "width": 12,
        "height": 8,
        "head": "",
        "format": "<template>\n  <div class=\"wo-panel\" v-if=\"p && p.status === 'diff_ready'\">\n    <div class=\"wo-title\">Timeline Discovery — Review Changes</div>\n    <div class=\"wo-info\">\n      Found {{p.diff.removed.length}} removed,\n      {{p.diff.added.length}} added,\n      {{p.diff.changed.length}} changed,\n      {{p.diff.unchanged.length}} unchanged.\n    </div>\n\n    <div v-for=\"(line, idx) in p.diffLines\" :key=\"idx\" class=\"wo-line\" :class=\"lineClass(line)\">\n      {{ line }}\n    </div>\n\n    <div class=\"wo-hint\">\n      Use the Confirm/Cancel buttons above to save or discard the pending mapping.\n    </div>\n  </div>\n\n  <div class=\"wo-panel\" v-else-if=\"p && p.status === 'no_changes'\">\n    <div class=\"wo-title\">Timeline Discovery</div>\n    <div class=\"wo-ok\">✓ No changes detected. Mapping is up to date.</div>\n  </div>\n\n  <div class=\"wo-panel\" v-else-if=\"p && p.status === 'error'\">\n    <div class=\"wo-title wo-err\">Discovery Error</div>\n    <div>{{ p.error }}</div>\n  </div>\n\n  <div class=\"wo-panel\" v-else>\n    <div class=\"wo-title\">Timeline Discovery</div>\n    <div class=\"wo-muted\">Click “Re-discover Timelines” to compare Watchout timelines with your stored mapping.</div>\n  </div>\n</template>\n\n<script>\nexport default {\n  computed: {\n    p () { return this.msg?.payload }\n  },\n  methods: {\n    lineClass (line) {\n      if (!line) return ''\n      if (line.startsWith('❌')) return 'wo-removed'\n      if (line.startsWith('✨')) return 'wo-added'\n      if (line.startsWith('🔄')) return 'wo-changed'\n      if (line.startsWith('✓'))  return 'wo-unchanged'\n      return ''\n    }\n  }\n}\n</script>\n\n<style>\n.wo-panel { font-family: monospace; padding: 12px; }\n.wo-title { font-size: 16px; font-weight: bold; margin-bottom: 8px; color: #333; }\n.wo-line  { padding: 2px 0; white-space: pre; }\n.wo-removed   { color: #d32f2f; }\n.wo-added     { color: #2e7d32; }\n.wo-changed   { color: #e65100; }\n.wo-unchanged { color: #616161; }\n.wo-info { color: #1565c0; font-style: italic; margin-bottom: 6px; }\n.wo-ok { color: #2e7d32; }\n.wo-err { color: #d32f2f; }\n.wo-muted { color: #777; }\n.wo-hint { margin-top: 10px; color:#555; font-style: italic; }\n</style>",
        "storeOutMessages": false,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 570,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "wo2-status-template",
        "type": "ui-template",
        "z": "4427b69f42325844",
        "group": "ef07ffba08e94be9",
        "name": "Mapping Status",
        "order": 1,
        "width": 12,
        "height": 6,
        "head": "",
        "format": "<template>\n  <div class=\"wo-status\">\n    <div v-if=\"p && p.status === 'saved'\">\n      <div class=\"wo-ok\">✔ Mapping saved at {{ p.savedAt }}</div>\n      <div class=\"wo-mapping\" v-if=\"p.mapping\">\n        <div v-for=\"(v,k) in p.mapping\" :key=\"k\" class=\"wo-row\">\n          <span class=\"wo-key\">{{k}}</span>\n          <span class=\"wo-val\">→ ID {{v}}</span>\n        </div>\n      </div>\n    </div>\n\n    <div v-else-if=\"p && p.status === 'cancelled'\" class=\"wo-muted\">\n      Discovery cancelled. No changes saved.\n    </div>\n\n    <div v-else-if=\"p && p.status === 'nothing_pending'\" class=\"wo-muted\">\n      Nothing to confirm. Run discovery first.\n    </div>\n\n    <div v-else-if=\"p && p.status === 'error'\" class=\"wo-err\">\n      ❌ Error: {{ p.error }}\n    </div>\n\n    <div v-else class=\"wo-muted\">\n      No status yet.\n    </div>\n  </div>\n</template>\n\n<script>\nexport default {\n  computed: {\n    p () { return this.msg?.payload }\n  }\n}\n</script>\n\n<style>\n.wo-status { font-family: monospace; padding: 12px; }\n.wo-ok { color: #2e7d32; font-weight: bold; }\n.wo-err { color: #d32f2f; font-weight: bold; }\n.wo-muted { color: #616161; }\n.wo-row { display:flex; gap:16px; padding: 2px 0; }\n.wo-key { font-weight: bold; min-width: 140px; }\n.wo-val { color: #555; }\n.wo-mapping { margin-top: 8px; }\n</style>",
        "storeOutMessages": false,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 800,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "wo2-state-template",
        "type": "ui-template",
        "z": "4427b69f42325844",
        "group": "dfba414e3e61e11b",
        "name": "Live State",
        "order": 1,
        "width": 12,
        "height": 6,
        "head": "",
        "format": "<template>\n  <div class=\"wo-state\">\n    <div v-if=\"p && p.type === 'connected'\" class=\"wo-ok\">● Connected (SSE)</div>\n    <div v-else-if=\"p && p.type === 'disconnected'\" class=\"wo-err\">○ Disconnected — polling every 5 s</div>\n\n    <pre v-if=\"p && p.data\">{{ pretty(p.data) }}</pre>\n    <pre v-else-if=\"p\">{{ pretty(p) }}</pre>\n    <div v-else class=\"wo-muted\">No data yet.</div>\n  </div>\n</template>\n\n<script>\nexport default {\n  computed: { p () { return this.msg?.payload } },\n  methods: {\n    pretty (o) {\n      try { return JSON.stringify(o, null, 2) } catch (e) { return String(o) }\n    }\n  }\n}\n</script>\n\n<style>\n.wo-state { font-family: monospace; padding: 12px; font-size: 13px; }\n.wo-state pre { background:#f5f5f5; padding:8px; border-radius:4px; overflow:auto; white-space: pre-wrap; }\n.wo-ok { color: #2e7d32; font-weight: bold; }\n.wo-err { color: #d32f2f; font-weight: bold; }\n.wo-muted { color: #777; }\n</style>",
        "storeOutMessages": false,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 620,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "ma-init-inj",
        "type": "inject",
        "z": "ma-tab",
        "name": "Init MA config on deploy",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 160,
        "y": 60,
        "wires": [
            [
                "ma-init-fn"
            ]
        ]
    },
    {
        "id": "ma-init-fn",
        "type": "function",
        "z": "ma-tab",
        "name": "MA Init (load config + set globals)",
        "func": "'use strict';\nvar fs   = require('fs');\nvar path = require('path');\nvar userDir = (typeof RED !== 'undefined' && RED.settings && RED.settings.userDir)\n    ? RED.settings.userDir : process.cwd();\n\nfunction findConfigPath(dir) {\n    var tried = [];\n    try {\n        var projDir = path.join(dir, 'projects');\n        var projects = fs.readdirSync(projDir);\n        for (var i = 0; i < projects.length; i++) {\n            var p = path.join(projDir, projects[i], 'node-red', 'config', 'ma-config.json');\n            tried.push(p);\n            if (fs.existsSync(p)) return { path: p, tried: tried };\n        }\n    } catch(e) {\n        if (e.code !== 'ENOENT' && e.code !== 'ENOTDIR') {\n            node.warn('[MA Init] projects dir scan: ' + e.message);\n        }\n    }\n    var p2 = path.join(dir, 'node-red', 'config', 'ma-config.json');\n    tried.push(p2);\n    if (fs.existsSync(p2)) return { path: p2, tried: tried };\n    var p3 = path.join(dir, 'config', 'ma-config.json');\n    tried.push(p3);\n    if (fs.existsSync(p3)) return { path: p3, tried: tried };\n    return { path: null, tried: tried };\n}\n\nvar found = findConfigPath(userDir);\nif (!found.path) {\n    node.error('[MA Init] ma-config.json not found. Tried: ' + found.tried.join(', '));\n    return { topic: 'ma/init/error', payload: { error: 'ma-config.json not found', attempted: found.tried } };\n}\nvar configPath = found.path;\nvar config;\ntry {\n    config = JSON.parse(fs.readFileSync(configPath, 'utf8'));\n} catch (err) {\n    node.error('[MA Init] Failed to read config from ' + configPath + ': ' + err.message);\n    return { topic: 'ma/init/error', payload: { error: err.message, path: configPath } };\n}\nglobal.set('ma_config', config);\nif (global.get('ma_owner') === undefined) {\n    global.set('ma_owner', null);\n    global.set('ma_owner_setBy', 'ma-init');\n}\nif (!global.get('ma_zones')) global.set('ma_zones', { a1: false, a2: false, a3: false, ls: false });\nif (global.get('ma_exec_cue') === undefined) global.set('ma_exec_cue', 1);\nif (global.get('ma_seq_id')   === undefined) global.set('ma_seq_id',   1);\nif (global.get('ma_seq_cue')  === undefined) global.set('ma_seq_cue',  1);\nvar owner = global.get('ma_owner');\nvar setBy = global.get('ma_owner_setBy');\nvar zones = Object.keys((config.zoneExecutor || {})).join(', ');\nnode.log('[MA Init] Config loaded from ' + configPath + '. Zones: ' + zones + '. Owner: ' + owner);\nreturn { topic: 'ma/init', payload: { config: config, owner: owner, setBy: setBy, message: 'MA config loaded. Zones: ' + zones + '. Owner: ' + owner } };",
        "outputs": 1,
        "x": 440,
        "y": 60,
        "wires": [
            [
                "ma-d2-owner-dbg"
            ]
        ]
    },
    {
        "id": "ma-d2-btn-nodered",
        "type": "ui-button",
        "z": "ma-tab",
        "group": "ma-d2-owner-grp",
        "name": "Set owner: nodered",
        "label": "Own: nodered",
        "order": 1,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "tooltip": "Claim MA owner as 'nodered' — UI commands execute; watchout commands blocked",
        "color": "",
        "bgcolor": "#1565c0",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "nodered",
        "payloadType": "str",
        "topic": "ma/setOwner",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "ma-d2-set-owner-fn"
            ]
        ]
    },
    {
        "id": "ma-d2-btn-watchout",
        "type": "ui-button",
        "z": "ma-tab",
        "group": "ma-d2-owner-grp",
        "name": "Set owner: watchout",
        "label": "Own: watchout",
        "order": 2,
        "width": "3",
        "height": "1",
        "tooltip": "Claim MA owner as 'watchout' — UI commands are blocked until cleared",
        "color": "",
        "bgcolor": "#e65100",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "watchout",
        "payloadType": "str",
        "topic": "ma/setOwner",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "enablePointerup": false,
        "x": 160,
        "y": 240,
        "wires": [
            [
                "ma-d2-set-owner-fn"
            ]
        ]
    },
    {
        "id": "ma-d2-btn-clear",
        "type": "ui-button",
        "z": "ma-tab",
        "group": "ma-d2-owner-grp",
        "name": "Clear owner",
        "label": "Clear owner",
        "order": 3,
        "width": "3",
        "height": "1",
        "tooltip": "Release MA owner gate — any caller can send commands",
        "color": "",
        "bgcolor": "#616161",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "ma/setOwner",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "enablePointerup": false,
        "x": 150,
        "y": 320,
        "wires": [
            [
                "ma-d2-set-owner-fn"
            ]
        ]
    },
    {
        "id": "ma-d2-set-owner-fn",
        "type": "function",
        "z": "ma-tab",
        "name": "Set ma.owner",
        "func": "'use strict';\nvar owner = (msg.payload === '' || msg.payload == null) ? null : msg.payload;\nmsg.payload = { action: 'setOwner', owner: owner, setBy: 'nodered-ui' };\nreturn msg;",
        "outputs": 1,
        "x": 420,
        "y": 240,
        "wires": [
            [
                "ma-control-fn"
            ]
        ]
    },
    {
        "id": "ma-d2-owner-dbg",
        "type": "debug",
        "z": "ma-tab",
        "name": "Owner status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.owner",
        "statusType": "auto",
        "x": 640,
        "y": 240,
        "wires": []
    },
    {
        "id": "ma-d2-sw-all",
        "type": "ui-switch",
        "z": "ma-tab",
        "name": "All zones",
        "label": "All zones",
        "group": "ma-d2-zones-grp",
        "order": 1,
        "width": "6",
        "height": "1",
        "passthru": false,
        "topic": "zone/all",
        "topicType": "str",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "offcolor": "",
        "x": 150,
        "y": 460,
        "wires": [
            [
                "ma-d2-zone-sync-fn"
            ]
        ]
    },
    {
        "id": "ma-d2-sw-a1",
        "type": "ui-switch",
        "z": "ma-tab",
        "name": "Zone a1",
        "label": "a1  (Exec 1.101)",
        "group": "ma-d2-zones-grp",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "topic": "zone/a1",
        "topicType": "str",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "offcolor": "",
        "x": 150,
        "y": 540,
        "wires": [
            [
                "ma-d2-zone-sync-fn"
            ]
        ]
    },
    {
        "id": "ma-d2-sw-a2",
        "type": "ui-switch",
        "z": "ma-tab",
        "name": "Zone a2",
        "label": "a2  (Exec 1.102)",
        "group": "ma-d2-zones-grp",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": false,
        "topic": "zone/a2",
        "topicType": "str",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "offcolor": "",
        "x": 150,
        "y": 620,
        "wires": [
            [
                "ma-d2-zone-sync-fn"
            ]
        ]
    },
    {
        "id": "ma-d2-sw-a3",
        "type": "ui-switch",
        "z": "ma-tab",
        "name": "Zone a3",
        "label": "a3  (Exec 1.103)",
        "group": "ma-d2-zones-grp",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": false,
        "topic": "zone/a3",
        "topicType": "str",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "offcolor": "",
        "x": 150,
        "y": 700,
        "wires": [
            [
                "ma-d2-zone-sync-fn"
            ]
        ]
    },
    {
        "id": "ma-d2-sw-ls",
        "type": "ui-switch",
        "z": "ma-tab",
        "name": "Zone ls",
        "label": "ls   (Exec 1.104)",
        "group": "ma-d2-zones-grp",
        "order": 5,
        "width": "3",
        "height": "1",
        "passthru": false,
        "topic": "zone/ls",
        "topicType": "str",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "offcolor": "",
        "x": 150,
        "y": 780,
        "wires": [
            [
                "ma-d2-zone-sync-fn"
            ]
        ]
    },
    {
        "id": "ma-d2-zone-sync-fn",
        "type": "function",
        "z": "ma-tab",
        "name": "Zone Sync",
        "func": "'use strict';\n// Outputs: [sw-all, sw-a1, sw-a2, sw-a3, sw-ls]\n// passthru:false on each switch prevents incoming state msgs from re-firing\n// output, so updating switches here never creates feedback loops.\nvar topic = msg.topic;\nvar val = !!msg.payload;\nvar zones = global.get('ma_zones') || { a1: false, a2: false, a3: false, ls: false };\nif (topic === 'zone/all') {\n    zones.a1 = val;\n    zones.a2 = val;\n    zones.a3 = val;\n    zones.ls = val;\n} else {\n    var zone = topic.split('/')[1];\n    if (zone && Object.prototype.hasOwnProperty.call(zones, zone)) {\n        zones[zone] = val;\n    }\n}\nglobal.set('ma_zones', zones);\nvar allOn = zones.a1 && zones.a2 && zones.a3 && zones.ls;\nreturn [\n    [{ payload: allOn,    topic: 'zone/all' }],\n    [{ payload: zones.a1, topic: 'zone/a1'  }],\n    [{ payload: zones.a2, topic: 'zone/a2'  }],\n    [{ payload: zones.a3, topic: 'zone/a3'  }],\n    [{ payload: zones.ls, topic: 'zone/ls'  }]\n];",
        "outputs": 5,
        "x": 430,
        "y": 620,
        "wires": [
            [
                "ma-d2-sw-all"
            ],
            [
                "ma-d2-sw-a1"
            ],
            [
                "ma-d2-sw-a2"
            ],
            [
                "ma-d2-sw-a3"
            ],
            [
                "ma-d2-sw-ls"
            ]
        ]
    },
    {
        "id": "ma-d2-cue-num",
        "type": "ui-number-input",
        "z": "ma-tab",
        "group": "ma-d2-exec-grp",
        "name": "Executor cue number",
        "label": "Cue #",
        "order": 1,
        "width": "3",
        "height": "1",
        "topic": "ma/cue",
        "topicType": "str",
        "min": 1,
        "max": 9999,
        "step": 1,
        "tooltip": "Executor cue number to jump to",
        "passthru": true,
        "className": "",
        "x": 170,
        "y": 900,
        "wires": [
            [
                "ma-d2-store-cue-fn"
            ]
        ]
    },
    {
        "id": "ma-d2-store-cue-fn",
        "type": "function",
        "z": "ma-tab",
        "name": "Store exec cue",
        "func": "global.set('ma_exec_cue', msg.payload);\nreturn null;",
        "outputs": 0,
        "x": 420,
        "y": 900,
        "wires": []
    },
    {
        "id": "ma-d2-exec-btn",
        "type": "ui-button",
        "z": "ma-tab",
        "group": "ma-d2-exec-grp",
        "name": "Go Executor Cue",
        "label": "▶ Go Executor Cue",
        "order": 2,
        "width": "3",
        "height": "1",
        "tooltip": "Send: Go+ Executor <zone> Cue <cue#> for each selected zone",
        "color": "",
        "bgcolor": "#2e7d32",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "go",
        "payloadType": "str",
        "topic": "ma/goExecutorCue",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "enablePointerup": false,
        "x": 160,
        "y": 980,
        "wires": [
            [
                "ma-d2-exec-cue-fn"
            ]
        ]
    },
    {
        "id": "ma-d2-exec-cue-fn",
        "type": "function",
        "z": "ma-tab",
        "name": "goExecutorCue",
        "func": "'use strict';\nvar zones = global.get('ma_zones') || { a1: false, a2: false, a3: false, ls: false };\nvar selectedZones = ['a1', 'a2', 'a3', 'ls'].filter(function(z) { return zones[z]; });\nif (selectedZones.length === 0) {\n    node.warn('[MA] goExecutorCue — no zones selected');\n    return null;\n}\nvar cue = global.get('ma_exec_cue');\nif (cue == null) cue = 1;\nmsg.payload = { action: 'goExecutorCue', zones: selectedZones, cue: cue };\nreturn msg;",
        "outputs": 1,
        "x": 420,
        "y": 980,
        "wires": [
            [
                "ma-control-fn"
            ]
        ]
    },
    {
        "id": "ma-d2-exec-sent-dbg",
        "type": "debug",
        "z": "ma-tab",
        "name": "Executor -> Sent",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 940,
        "wires": []
    },
    {
        "id": "ma-d2-exec-blkd-dbg",
        "type": "debug",
        "z": "ma-tab",
        "name": "Executor -> Blocked",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 1020,
        "wires": []
    },
    {
        "id": "ma-d2-seq-id-num",
        "type": "ui-number-input",
        "z": "ma-tab",
        "group": "ma-d2-seq-grp",
        "name": "Sequence ID",
        "label": "Sequence #",
        "order": 1,
        "width": "3",
        "height": "1",
        "topic": "ma/seqId",
        "topicType": "str",
        "min": 1,
        "max": 9999,
        "step": 1,
        "tooltip": "MA sequence ID",
        "passthru": true,
        "className": "",
        "x": 160,
        "y": 1120,
        "wires": [
            [
                "ma-d2-store-seq-id-fn"
            ]
        ]
    },
    {
        "id": "ma-d2-store-seq-id-fn",
        "type": "function",
        "z": "ma-tab",
        "name": "Store seq id",
        "func": "global.set('ma_seq_id', msg.payload);\nreturn null;",
        "outputs": 0,
        "x": 420,
        "y": 1120,
        "wires": []
    },
    {
        "id": "ma-d2-seq-cue-num",
        "type": "ui-number-input",
        "z": "ma-tab",
        "group": "ma-d2-seq-grp",
        "name": "Sequence cue number",
        "label": "Cue #",
        "order": 2,
        "width": "3",
        "height": "1",
        "topic": "ma/seqCue",
        "topicType": "str",
        "min": 1,
        "max": 9999,
        "step": 1,
        "tooltip": "Sequence cue number to jump to",
        "passthru": true,
        "className": "",
        "x": 170,
        "y": 1200,
        "wires": [
            [
                "ma-d2-store-seq-cue-fn"
            ]
        ]
    },
    {
        "id": "ma-d2-store-seq-cue-fn",
        "type": "function",
        "z": "ma-tab",
        "name": "Store seq cue",
        "func": "global.set('ma_seq_cue', msg.payload);\nreturn null;",
        "outputs": 0,
        "x": 430,
        "y": 1200,
        "wires": []
    },
    {
        "id": "ma-d2-seq-btn",
        "type": "ui-button",
        "z": "ma-tab",
        "group": "ma-d2-seq-grp",
        "name": "Go Sequence Cue",
        "label": "▶ Go Sequence Cue",
        "order": 3,
        "width": "3",
        "height": "1",
        "tooltip": "Send: Go+ Sequence <id> Cue <cue#>",
        "color": "",
        "bgcolor": "#1565c0",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "go",
        "payloadType": "str",
        "topic": "ma/goSequenceCue",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "enablePointerup": false,
        "x": 160,
        "y": 1280,
        "wires": [
            [
                "ma-d2-seq-cue-fn"
            ]
        ]
    },
    {
        "id": "ma-d2-seq-cue-fn",
        "type": "function",
        "z": "ma-tab",
        "name": "goSequenceCue",
        "func": "'use strict';\nvar seq = global.get('ma_seq_id');\nif (seq == null) seq = 1;\nvar cue = global.get('ma_seq_cue');\nif (cue == null) cue = 1;\nmsg.payload = { action: 'goSequenceCue', sequence: seq, cue: cue };\nreturn msg;",
        "outputs": 1,
        "x": 420,
        "y": 1280,
        "wires": [
            [
                "ma-control-fn"
            ]
        ]
    },
    {
        "id": "ma-d2-seq-sent-dbg",
        "type": "debug",
        "z": "ma-tab",
        "name": "Sequence -> Sent",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 1240,
        "wires": []
    },
    {
        "id": "ma-d2-seq-blkd-dbg",
        "type": "debug",
        "z": "ma-tab",
        "name": "Sequence -> Blocked",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 1320,
        "wires": []
    },
    {
        "id": "ma-control-fn",
        "type": "function",
        "z": "ma-tab",
        "name": "MA Control (gate + cmd builder)",
        "func": "'use strict';\nvar input = msg.payload || {};\nvar action = input.action;\nvar rawOwner = global.get('ma_owner');\nvar currentOwner = (rawOwner !== undefined) ? rawOwner : null;\nvar maConfig = global.get('ma_config') || {};\n\nfunction sendCmd(cmdStr) {\n    node.send([{ topic: '/cmd', payload: cmdStr }, null]);\n}\nfunction sendStatus(topic, payload) {\n    node.send([null, { topic: topic, payload: payload }]);\n}\n\nif (action === 'setOwner') {\n    var newOwner = (input.owner != null && input.owner !== '') ? input.owner : null;\n    global.set('ma_owner', newOwner);\n    global.set('ma_owner_setBy', input.setBy || 'nodered-ui');\n    sendStatus('ma/owner', { action: 'setOwner', owner: newOwner, setBy: global.get('ma_owner_setBy') });\n    return null;\n}\n\nif (action === 'goExecutorCue') {\n    if (currentOwner !== null && currentOwner !== 'nodered') {\n        sendStatus('ma/goExecutorCue/blocked', { action: action, requiredOwner: 'nodered', currentOwner: currentOwner });\n        return null;\n    }\n    var zoneExecutor = maConfig.zoneExecutor;\n    if (!zoneExecutor) {\n        sendStatus('ma/error', { error: 'global.ma_config.zoneExecutor not set — run init first' });\n        return null;\n    }\n    var zones = Array.isArray(input.zones) ? input.zones : [];\n    if (zones.length === 0) {\n        sendStatus('ma/error', { error: \"'zones' must be a non-empty array for goExecutorCue\" });\n        return null;\n    }\n    if (input.cue == null) {\n        sendStatus('ma/error', { error: \"'cue' is required for goExecutorCue\" });\n        return null;\n    }\n    var msgs = zones.map(function (zone) {\n        var exec = (zoneExecutor[zone] !== undefined) ? String(zoneExecutor[zone]) : String(zone);\n        return { topic: '/cmd', payload: 'Go+ Executor ' + exec + ' Cue ' + input.cue };\n    });\n    node.send([msgs, null]);\n    return null;\n}\n\nif (action === 'goSequenceCue') {\n    if (currentOwner !== null && currentOwner !== 'watchout') {\n        sendStatus('ma/goSequenceCue/blocked', { action: action, requiredOwner: 'watchout', currentOwner: currentOwner });\n        return null;\n    }\n    if (input.sequence == null) {\n        sendStatus('ma/error', { error: \"'sequence' is required for goSequenceCue\" });\n        return null;\n    }\n    if (input.cue == null) {\n        sendStatus('ma/error', { error: \"'cue' is required for goSequenceCue\" });\n        return null;\n    }\n    sendCmd('Go+ Sequence ' + input.sequence + ' Cue ' + input.cue);\n    return null;\n}\n\nsendStatus('ma/error', { error: \"Unknown action: '\" + action + \"'\" });\nreturn null;",
        "outputs": 2,
        "x": 700,
        "y": 620,
        "wires": [
            [
                "ma-osc-node",
                "ma-d2-exec-sent-dbg",
                "ma-d2-seq-sent-dbg"
            ],
            [
                "ma-d2-owner-dbg",
                "ma-d2-exec-blkd-dbg",
                "ma-d2-seq-blkd-dbg"
            ]
        ]
    },
    {
        "id": "ma-udp-primary",
        "type": "udp out",
        "z": "ma-tab",
        "name": "",
        "addr": "host.docker.internal",
        "iface": "",
        "port": "8000",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1200,
        "y": 580,
        "wires": []
    },
    {
        "id": "ma-udp-backup",
        "type": "udp out",
        "z": "ma-tab",
        "name": "UDP Backup RPU (10.154.10.104:8000)",
        "addr": "10.154.10.104",
        "iface": "",
        "port": "8000",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1230,
        "y": 660,
        "wires": []
    },
    {
        "id": "ma-osc-node",
        "type": "osc",
        "z": "ma-tab",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 960,
        "y": 620,
        "wires": [
            [
                "ma-udp-primary",
                "ma-udp-backup"
            ]
        ]
    }
]