flows.json
[
    {
        "id": "19fbd7cf3882c4ad",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4427b69f42325844",
        "type": "tab",
        "label": "Watchout Integration v0.1",
        "disabled": false,
        "info": "Watchout 7 HTTP API integration with manual timeline discovery."
    },
    {
        "id": "f34314dbb36334ec",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "6f21f95d494aa53c",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "8dd9d92e5b5cc9e6",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "f34314dbb36334ec",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "6f21f95d494aa53c",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": "false"
    },
    {
        "id": "a0d8d40dc0b16ddc",
        "type": "ui-group",
        "name": "Testing",
        "page": "8dd9d92e5b5cc9e6",
        "width": 6,
        "height": 1,
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "7d35aca5106c96d2",
        "type": "ui-spacer",
        "group": "a0d8d40dc0b16ddc",
        "name": "spacer",
        "tooltip": "",
        "order": 6,
        "width": 1,
        "height": 1,
        "className": ""
    },
    {
        "id": "b364dfa1b47d6351",
        "type": "ui-spacer",
        "group": "a0d8d40dc0b16ddc",
        "name": "spacer",
        "tooltip": "",
        "order": 7,
        "width": 1,
        "height": 1,
        "className": ""
    },
    {
        "id": "5176b798f54b89e5",
        "type": "ui-group",
        "name": "Group Zones",
        "page": "8dd9d92e5b5cc9e6",
        "width": 6,
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "da1aff12794b5db8",
        "type": "ui-group",
        "name": "Direct Buttons",
        "page": "8dd9d92e5b5cc9e6",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "fbb25d9fdfc45a2e",
        "type": "ui-group",
        "name": "OSC Out",
        "page": "8dd9d92e5b5cc9e6",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "a9e4285e36ef776f",
        "type": "ui-theme",
        "name": "Yellow Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#9f00f5",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "9d013935d2e3f2be",
        "type": "ui-theme",
        "name": "Purple Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#9f00f5",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "a7bc8b233c5e3978",
        "type": "ui-group",
        "name": "Group 5",
        "page": "8dd9d92e5b5cc9e6",
        "width": 6,
        "height": 1,
        "order": 5,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false,
        "groupType": "default"
    },
    {
        "id": "9ada0fbe8e910d7e",
        "type": "ui-page",
        "name": "Watchout",
        "ui": "f34314dbb36334ec",
        "path": "/watchout",
        "icon": "home",
        "layout": "grid",
        "theme": "6f21f95d494aa53c",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "f4d4b5c1c3b0a1ae",
        "type": "ui-group",
        "name": "Timeline Discovery",
        "page": "9ada0fbe8e910d7e",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ef07ffba08e94be9",
        "type": "ui-group",
        "name": "Mapping Status",
        "page": "9ada0fbe8e910d7e",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "dfba414e3e61e11b",
        "type": "ui-group",
        "name": "Live State",
        "page": "9ada0fbe8e910d7e",
        "width": 6,
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ma3_osc_receiver",
        "type": "udp in",
        "z": "19fbd7cf3882c4ad",
        "name": "OSC In p8001",
        "iface": "",
        "port": "8001",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "osc_decode"
            ]
        ]
    },
    {
        "id": "osc_decode",
        "type": "osc",
        "z": "19fbd7cf3882c4ad",
        "name": "Decode OSC",
        "path": "",
        "metadata": true,
        "x": 330,
        "y": 100,
        "wires": [
            [
                "a9103b8bd1668d6f"
            ]
        ]
    },
    {
        "id": "osc_router",
        "type": "switch",
        "z": "19fbd7cf3882c4ad",
        "name": "Route by Address",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 550,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "debug_fader",
        "type": "debug",
        "z": "19fbd7cf3882c4ad",
        "name": "Fader Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 60,
        "wires": []
    },
    {
        "id": "debug_key",
        "type": "debug",
        "z": "19fbd7cf3882c4ad",
        "name": "Key Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 770,
        "y": 100,
        "wires": []
    },
    {
        "id": "debug_cmd",
        "type": "debug",
        "z": "19fbd7cf3882c4ad",
        "name": "CMD Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 770,
        "y": 140,
        "wires": []
    },
    {
        "id": "abd041bff0955fb2",
        "type": "ui-button",
        "z": "19fbd7cf3882c4ad",
        "group": "a0d8d40dc0b16ddc",
        "name": "",
        "label": "button",
        "order": 4,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "aaec16e82deab8d8",
        "type": "ui-button-group",
        "z": "19fbd7cf3882c4ad",
        "name": "",
        "group": "a0d8d40dc0b16ddc",
        "order": 5,
        "width": 6,
        "height": 1,
        "label": "button group",
        "className": "",
        "rounded": true,
        "useThemeColors": true,
        "passthru": false,
        "options": [
            {
                "label": "yo",
                "icon": "",
                "value": "option_0",
                "valueType": "str",
                "color": "#009933"
            },
            {
                "label": "yeah",
                "icon": "",
                "value": "option_1",
                "valueType": "str",
                "color": "#999999"
            },
            {
                "label": "and",
                "icon": "",
                "value": "option_2",
                "valueType": "str",
                "color": "#ff6666"
            },
            {
                "label": "what",
                "icon": "",
                "value": "option_3",
                "valueType": "str",
                "color": "#009999"
            }
        ],
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "7957f612965dc40e",
        "type": "ui-dropdown",
        "z": "19fbd7cf3882c4ad",
        "group": "5176b798f54b89e5",
        "name": "",
        "label": "Select Content:",
        "tooltip": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "chips": false,
        "clearable": false,
        "options": [
            {
                "label": "show1",
                "value": "show1",
                "type": "str"
            },
            {
                "label": "",
                "value": "show2",
                "type": "str"
            },
            {
                "label": "",
                "value": "Ambiance1",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "typeIsComboBox": true,
        "msgTrigger": "onChange",
        "x": 140,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "e1c749a7ab3174a4",
        "type": "ui-slider",
        "z": "19fbd7cf3882c4ad",
        "group": "a0d8d40dc0b16ddc",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 130,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "91c470650daf0a59",
        "type": "ui-switch",
        "z": "19fbd7cf3882c4ad",
        "name": "Atrium 2",
        "label": "Atrium 2",
        "group": "5176b798f54b89e5",
        "order": 4,
        "width": "1",
        "height": "1",
        "passthru": false,
        "decouple": false,
        "topic": "atrium2",
        "topicType": "str",
        "style": "",
        "className": "",
        "layout": "row-left",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 500,
        "y": 580,
        "wires": [
            [
                "d6beb04373ede17a"
            ]
        ]
    },
    {
        "id": "c17e459f49532f0a",
        "type": "ui-switch",
        "z": "19fbd7cf3882c4ad",
        "name": "Atrium 3",
        "label": "Atrium 3",
        "group": "5176b798f54b89e5",
        "order": 5,
        "width": "1",
        "height": "1",
        "passthru": false,
        "decouple": false,
        "topic": "atrium3",
        "topicType": "str",
        "style": "",
        "className": "",
        "layout": "row-left",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 500,
        "y": 620,
        "wires": [
            [
                "d6beb04373ede17a"
            ]
        ]
    },
    {
        "id": "1e2d1326c09d32c2",
        "type": "ui-radio-group",
        "z": "19fbd7cf3882c4ad",
        "group": "a0d8d40dc0b16ddc",
        "name": "",
        "label": "Select Option:",
        "order": 2,
        "width": 0,
        "height": 0,
        "columns": 1,
        "passthru": false,
        "options": [
            {
                "label": "",
                "value": "23",
                "type": "str"
            },
            {
                "label": "",
                "value": "43",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 300,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "1c2eed29583d5845",
        "type": "ui-switch",
        "z": "19fbd7cf3882c4ad",
        "name": "Atrium 1",
        "label": "Atrium 1",
        "group": "5176b798f54b89e5",
        "order": 3,
        "width": "1",
        "height": "1",
        "passthru": false,
        "decouple": false,
        "topic": "atrium1",
        "topicType": "str",
        "style": "",
        "className": "",
        "layout": "row-left",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 500,
        "y": 540,
        "wires": [
            [
                "d6beb04373ede17a",
                "b67850082a42953b"
            ]
        ]
    },
    {
        "id": "f9ee4e381fb57347",
        "type": "ui-switch",
        "z": "19fbd7cf3882c4ad",
        "name": "All Atriums",
        "label": "All Atriums",
        "group": "5176b798f54b89e5",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-left",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 130,
        "y": 580,
        "wires": [
            [
                "46bcfecf67235d0b",
                "82b04cc89922f807"
            ]
        ]
    },
    {
        "id": "404ab17db164e013",
        "type": "ui-text",
        "z": "19fbd7cf3882c4ad",
        "group": "a0d8d40dc0b16ddc",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Incoming OSC messages",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 450,
        "y": 200,
        "wires": []
    },
    {
        "id": "b73208e817114238",
        "type": "debug",
        "z": "19fbd7cf3882c4ad",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 240,
        "wires": []
    },
    {
        "id": "a9103b8bd1668d6f",
        "type": "change",
        "z": "19fbd7cf3882c4ad",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 160,
        "y": 200,
        "wires": [
            [
                "404ab17db164e013",
                "b73208e817114238"
            ]
        ]
    },
    {
        "id": "0e56c5eee42c1798",
        "type": "ui-button",
        "z": "19fbd7cf3882c4ad",
        "group": "5176b798f54b89e5",
        "name": "Go",
        "label": "Go",
        "order": 6,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "30d25eaa52392ffd",
        "type": "ui-button",
        "z": "19fbd7cf3882c4ad",
        "group": "da1aff12794b5db8",
        "name": "Show 1",
        "label": "Show 1",
        "order": 2,
        "width": "2",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 140,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "463a6aec86248f58",
        "type": "comment",
        "z": "19fbd7cf3882c4ad",
        "name": "Direct Buttons",
        "info": "",
        "x": 150,
        "y": 740,
        "wires": []
    },
    {
        "id": "a67bcde63aa763c2",
        "type": "ui-text",
        "z": "19fbd7cf3882c4ad",
        "group": "da1aff12794b5db8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Direct Controls",
        "label": "Direct Controls",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 160,
        "y": 780,
        "wires": []
    },
    {
        "id": "2e424b2a134d7a77",
        "type": "ui-button",
        "z": "19fbd7cf3882c4ad",
        "group": "da1aff12794b5db8",
        "name": "Show 2",
        "label": "Show 2",
        "order": 3,
        "width": "2",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 280,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "c791d744d621acf9",
        "type": "ui-button",
        "z": "19fbd7cf3882c4ad",
        "group": "da1aff12794b5db8",
        "name": "Show 3",
        "label": "Show 3",
        "order": 4,
        "width": "2",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 420,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "e21a825cd1bdee8a",
        "type": "comment",
        "z": "19fbd7cf3882c4ad",
        "name": "Specific Control",
        "info": "",
        "x": 140,
        "y": 500,
        "wires": []
    },
    {
        "id": "d9d64d57ab75a9f2",
        "type": "comment",
        "z": "19fbd7cf3882c4ad",
        "name": "Testing",
        "info": "",
        "x": 130,
        "y": 160,
        "wires": []
    },
    {
        "id": "ef9885992d74b203",
        "type": "ui-text-input",
        "z": "19fbd7cf3882c4ad",
        "group": "fbb25d9fdfc45a2e",
        "name": "Osc message",
        "label": "OSC Messsage",
        "order": 2,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "tooltip": "",
        "delay": "0",
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": false,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 160,
        "y": 1060,
        "wires": [
            [
                "b564d65ab1be896e"
            ]
        ]
    },
    {
        "id": "0d9db2284f2bff29",
        "type": "ui-button-group",
        "z": "19fbd7cf3882c4ad",
        "name": "OSC Port choice",
        "group": "fbb25d9fdfc45a2e",
        "order": 1,
        "width": 6,
        "height": 1,
        "label": "Destination",
        "className": "",
        "rounded": true,
        "useThemeColors": true,
        "passthru": true,
        "options": [
            {
                "label": "QLab",
                "icon": "",
                "value": "53000",
                "valueType": "num",
                "color": "#009933"
            },
            {
                "label": "GrandMa",
                "icon": "",
                "value": "8000",
                "valueType": "num",
                "color": "#999999"
            }
        ],
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 1140,
        "wires": [
            [
                "2c13c807c664eac3"
            ]
        ]
    },
    {
        "id": "557570a035650704",
        "type": "osc",
        "z": "19fbd7cf3882c4ad",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 450,
        "y": 1100,
        "wires": [
            [
                "7d8570d211d2f5e4",
                "93238ced297b7a99"
            ]
        ]
    },
    {
        "id": "03625a79e8807adc",
        "type": "inject",
        "z": "19fbd7cf3882c4ad",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "/cue/1/start",
        "payloadType": "str",
        "x": 150,
        "y": 1100,
        "wires": [
            [
                "b564d65ab1be896e"
            ]
        ]
    },
    {
        "id": "71bb1df31241f8e7",
        "type": "inject",
        "z": "19fbd7cf3882c4ad",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "/cue/1/start",
        "x": 150,
        "y": 1320,
        "wires": [
            [
                "eee292bfd74fad2f"
            ]
        ]
    },
    {
        "id": "eee292bfd74fad2f",
        "type": "osc",
        "z": "19fbd7cf3882c4ad",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 330,
        "y": 1320,
        "wires": [
            [
                "dce7dd7dbe94f72b"
            ]
        ]
    },
    {
        "id": "dce7dd7dbe94f72b",
        "type": "udp out",
        "z": "19fbd7cf3882c4ad",
        "name": "",
        "addr": "host.docker.internal",
        "iface": "",
        "port": "53000",
        "ipv": "udp4",
        "outport": "53000",
        "base64": false,
        "multicast": "false",
        "x": 550,
        "y": 1320,
        "wires": []
    },
    {
        "id": "2c13c807c664eac3",
        "type": "change",
        "z": "19fbd7cf3882c4ad",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "oscPort",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "b564d65ab1be896e",
        "type": "function",
        "z": "19fbd7cf3882c4ad",
        "name": "function 2",
        "func": "let inputStr = msg.payload.trim();\nlet spaceIndex = inputStr.indexOf(\" \");\n\nif (spaceIndex !== -1) {\n    // A space was found! Split into Address and Argument\n    msg.topic = inputStr.substring(0, spaceIndex); // Gets \"/cmd\"\n    \n    let argStr = inputStr.substring(spaceIndex + 1).trim(); // Gets '\"Off Timecode 2\"'\n    \n    // Remove literal quotes if you typed them, the OSC node doesn't need them\n    if (argStr.startsWith('\"') && argStr.endsWith('\"')) {\n        argStr = argStr.slice(1, -1);\n    }\n    \n    msg.payload = argStr; // Set the argument\n} else {\n    // No spaces found (like \"/cue/1/start\"). The whole thing is the address.\n    msg.topic = inputStr;\n    msg.payload = \"\";\n}\n\n// Grab the port we saved from the button group (default to 53000)\nmsg.port = flow.get(\"oscPort\") || 53000; \n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1100,
        "wires": [
            [
                "557570a035650704"
            ]
        ]
    },
    {
        "id": "7d8570d211d2f5e4",
        "type": "udp out",
        "z": "19fbd7cf3882c4ad",
        "name": "",
        "addr": "host.docker.internal",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 650,
        "y": 1100,
        "wires": []
    },
    {
        "id": "93238ced297b7a99",
        "type": "debug",
        "z": "19fbd7cf3882c4ad",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 1060,
        "wires": []
    },
    {
        "id": "2d2254fa590379b5",
        "type": "comment",
        "z": "19fbd7cf3882c4ad",
        "name": "Osc Outputter!",
        "info": "",
        "x": 160,
        "y": 1020,
        "wires": []
    },
    {
        "id": "46bcfecf67235d0b",
        "type": "function",
        "z": "19fbd7cf3882c4ad",
        "name": "Switch function",
        "func": "// 1. Get the true/false state from the \"All\" switch\nlet state = msg.payload;\n\n// 2. Save this state to the flow context so the individual logic knows about it\nflow.set('atrium1', state);\nflow.set('atrium2', state);\nflow.set('atrium3', state);\n\n// 3. Send the payload to all 3 outputs to update the individual UI switches\nreturn [\n    { payload: state }, // Goes to Atrium 1\n    { payload: state }, // Goes to Atrium 2\n    { payload: state }  // Goes to Atrium 3\n];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 580,
        "wires": [
            [
                "1c2eed29583d5845"
            ],
            [
                "91c470650daf0a59"
            ],
            [
                "c17e459f49532f0a"
            ]
        ]
    },
    {
        "id": "d6beb04373ede17a",
        "type": "function",
        "z": "19fbd7cf3882c4ad",
        "name": "3 switches logic",
        "func": "// 1. msg.topic tells us which switch triggered this (atrium1, atrium2, or atrium3)\n// Update that specific atrium's state in the flow context\nflow.set(msg.topic, msg.payload);\n\n// 2. Read the current state of all 3 atriums\nlet a1 = flow.get('atrium1') || false;\nlet a2 = flow.get('atrium2') || false;\nlet a3 = flow.get('atrium3') || false;\n\n// 3. Check if ALL of them are true\nlet allChecked = (a1 && a2 && a3);\n\n// 4. Send this result to the \"All Atriums\" switch to update its UI\nreturn { payload: allChecked };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 580,
        "wires": [
            [
                "f9ee4e381fb57347"
            ]
        ]
    },
    {
        "id": "82b04cc89922f807",
        "type": "debug",
        "z": "19fbd7cf3882c4ad",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 520,
        "wires": []
    },
    {
        "id": "b67850082a42953b",
        "type": "debug",
        "z": "19fbd7cf3882c4ad",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 500,
        "wires": []
    },
    {
        "id": "0ab3ea59ee1611f6",
        "type": "http request",
        "z": "19fbd7cf3882c4ad",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "persist": false,
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 330,
        "y": 1480,
        "wires": [
            []
        ]
    },
    {
        "id": "af6910d3ba16e17b",
        "type": "ui-gauge",
        "z": "19fbd7cf3882c4ad",
        "name": "Is it hot?",
        "group": "a0d8d40dc0b16ddc",
        "order": 0,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "gauge",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "7",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": 10,
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 320,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "cd9a6261ae15ae21",
        "type": "inject",
        "z": "4427b69f42325844",
        "name": "Init config on deploy",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"host\": \"localhost\", \"port\": 3019, \"storageFile\": \"/data/watchout/timeline-mapping.json\"}",
        "payloadType": "json",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "fe421eeaa6db7a28"
            ]
        ]
    },
    {
        "id": "fe421eeaa6db7a28",
        "type": "function",
        "z": "4427b69f42325844",
        "name": "Store config",
        "func": "flow.set('watchout_config', msg.payload);\nreturn null;",
        "outputs": 0,
        "x": 380,
        "y": 80,
        "wires": []
    },
    {
        "id": "e5f774b7399fb58e",
        "type": "function",
        "z": "4427b69f42325844",
        "name": "Discover timelines",
        "func": "/**\n * Watchout Timeline Discovery — Node-RED Function Node\n *\n * Trigger this node by wiring an \"inject\" or dashboard ui_button node to it.\n * It fetches timelines from Watchout, compares them to the stored mapping,\n * stores the pending diff in flow context, and outputs a message suitable\n * for displaying the diff in a UI template node.\n *\n * Flow context variables used:\n *   flow.get('watchout_config')   — { host, port, storageFile }\n *   flow.get('watchout_mapping')  — { [contentId]: timelineId }\n *   flow.get('watchout_pending')  — pending new mapping (awaiting confirmation)\n *\n * Output msg.payload:\n *   {\n *     status:     'diff_ready' | 'no_changes' | 'error',\n *     hasChanges: boolean,\n *     diff:       { added: [], removed: [], unchanged: [], changed: [] },\n *     newMapping: { [contentId]: timelineId },\n *     diffLines:  string[],   // human-readable lines for display\n *     error:      string      // only on status === 'error'\n *   }\n */\n\n'use strict';\n\nconst http = require('http');\n\n// ─── Config ────────────────────────────────────────────────────────────────\n\nconst cfg = flow.get('watchout_config') || {};\nconst host = cfg.host || 'localhost';\nconst port = cfg.port || 3019;\nconst REQUEST_TIMEOUT_MS = 10000;\n\n// ─── Helpers ───────────────────────────────────────────────────────────────\n\nfunction httpGet(path) {\n    return new Promise((resolve, reject) => {\n        const options = {\n            hostname: host,\n            port: port,\n            path: path,\n            method: 'GET',\n            headers: { 'Content-Type': 'application/json' },\n        };\n        const req = http.request(options, (res) => {\n            let data = '';\n            res.on('data', (chunk) => { data += chunk; });\n            res.on('end', () => {\n                try {\n                    resolve({ statusCode: res.statusCode, body: JSON.parse(data) });\n                } catch (e) {\n                    resolve({ statusCode: res.statusCode, body: data });\n                }\n            });\n            res.on('error', reject);\n        });\n        req.on('error', reject);\n        req.setTimeout(REQUEST_TIMEOUT_MS, () => req.destroy(new Error('Request timed out')));\n        req.end();\n    });\n}\n\nfunction parseTimelineName(name) {\n    if (!name || name.startsWith('_')) return null;\n    return name.trim().toLowerCase().replace(/\\s+/g, '_').replace(/[^a-z0-9_]/g, '');\n}\n\nfunction compareMapping(oldMap, newMap) {\n    const oldKeys = Object.keys(oldMap);\n    const newKeys = Object.keys(newMap);\n    return {\n        removed:   oldKeys.filter(k => !(k in newMap)),\n        added:     newKeys.filter(k => !(k in oldMap)),\n        unchanged: oldKeys.filter(k => (k in newMap) && oldMap[k] === newMap[k]),\n        changed:   oldKeys.filter(k => (k in newMap) && oldMap[k] !== newMap[k]),\n    };\n}\n\nfunction formatDiff(diff) {\n    const lines = [];\n    diff.removed.forEach(n   => lines.push(`❌ Removed  : Timeline '${n}' no longer exists`));\n    diff.added.forEach(n     => lines.push(`✨ Added    : New timeline '${n}' discovered`));\n    diff.changed.forEach(n   => lines.push(`🔄 Changed  : Timeline '${n}' ID has changed`));\n    diff.unchanged.forEach(n => lines.push(`✓  Unchanged: '${n}'`));\n    return lines;\n}\n\n// ─── Main ──────────────────────────────────────────────────────────────────\n\nasync function discover() {\n    let result;\n    try {\n        result = await httpGet('/v0/timelines');\n    } catch (err) {\n        return { status: 'error', error: `Connection failed: ${err.message}` };\n    }\n\n    if (result.statusCode !== 200) {\n        return { status: 'error', error: `Watchout returned HTTP ${result.statusCode}` };\n    }\n\n    const timelines = Array.isArray(result.body) ? result.body : [];\n\n    // Build new mapping\n    const newMapping = {};\n    timelines.forEach(tl => {\n        const contentId = parseTimelineName(tl.name);\n        if (contentId) {\n            newMapping[contentId] = String(tl.id);\n        }\n    });\n\n    // Compare with stored mapping\n    const storedMapping = flow.get('watchout_mapping') || {};\n    const diff = compareMapping(storedMapping, newMapping);\n    const hasChanges = diff.added.length > 0 || diff.removed.length > 0 || diff.changed.length > 0;\n\n    // Store pending mapping (not saved until confirmed)\n    flow.set('watchout_pending', newMapping);\n\n    return {\n        status:     hasChanges ? 'diff_ready' : 'no_changes',\n        hasChanges,\n        diff,\n        newMapping,\n        diffLines:  formatDiff(diff),\n    };\n}\n\n// Execute and pass result downstream\ndiscover().then(payload => {\n    node.send({ payload, topic: 'watchout/discovery' });\n}).catch(err => {\n    node.send({ payload: { status: 'error', error: err.message }, topic: 'watchout/discovery' });\n});\n\nreturn null; // async — result sent in promise callback\n",
        "outputs": 1,
        "x": 380,
        "y": 160,
        "wires": [
            [
                "wo2-diff-template"
            ]
        ]
    },
    {
        "id": "906ddd42b6519da7",
        "type": "switch",
        "z": "4427b69f42325844",
        "name": "Confirm or Cancel?",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "confirm",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "cancel",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 340,
        "y": 500,
        "wires": [
            [
                "875bb4dee64b5621"
            ],
            [
                "90fc635211cc47aa"
            ]
        ]
    },
    {
        "id": "875bb4dee64b5621",
        "type": "function",
        "z": "4427b69f42325844",
        "name": "Confirm & Save mapping",
        "func": "/**\n * Watchout Discovery Confirm — Node-RED Function Node\n *\n * Wire this node from a dashboard [Confirm & Save] button or HTTP endpoint.\n * It takes the pending mapping stored by the discovery node and persists it\n * to both flow context and the file system.\n *\n * Flow context variables used:\n *   flow.get('watchout_pending')  — the new mapping to confirm\n *   flow.set('watchout_mapping')  — updated with confirmed mapping\n *   flow.get('watchout_config')   — { storageFile } (optional path override)\n *\n * Output msg.payload:\n *   { status: 'saved' | 'nothing_pending' | 'error', mapping: {}, savedAt: string }\n */\n\n'use strict';\n\nconst fs   = require('fs');\nconst path = require('path');\n\nconst pending = flow.get('watchout_pending');\n\nif (!pending) {\n    node.send({ payload: { status: 'nothing_pending' }, topic: 'watchout/confirm' });\n    return null;\n}\n\n// Persist to flow context\nflow.set('watchout_mapping', pending);\nflow.set('watchout_pending', null);\n\n// Persist to file\nconst cfg         = flow.get('watchout_config') || {};\nconst storageFile = cfg.storageFile || path.join(__dirname, '../data/timeline-mapping.json');\n\ntry {\n    const dir = path.dirname(storageFile);\n    if (!fs.existsSync(dir)) fs.mkdirSync(dir, { recursive: true });\n    const data = { mapping: pending, lastSaved: new Date().toISOString() };\n    fs.writeFileSync(storageFile, JSON.stringify(data, null, 2));\n    node.log('[WatchoutHTTP] Timeline mapping saved to ' + storageFile);\n} catch (err) {\n    node.warn('[WatchoutHTTP] Could not save mapping to file: ' + err.message);\n    node.send({ payload: { status: 'error', error: err.message }, topic: 'watchout/confirm' });\n    return null;\n}\n\nconst savedAt = new Date().toISOString();\nnode.send({\n    payload: { status: 'saved', mapping: pending, savedAt },\n    topic:   'watchout/confirm',\n});\n\nreturn null;\n",
        "outputs": 1,
        "x": 580,
        "y": 460,
        "wires": [
            [
                "wo2-status-template"
            ]
        ]
    },
    {
        "id": "90fc635211cc47aa",
        "type": "function",
        "z": "4427b69f42325844",
        "name": "Cancel discovery",
        "func": "/**\n * Watchout Discovery Cancel — Node-RED Function Node\n *\n * Wire this node from a dashboard [Cancel] button.\n * Clears the pending mapping without saving anything.\n *\n * Flow context variables modified:\n *   flow.set('watchout_pending', null)\n *\n * Output msg.payload:\n *   { status: 'cancelled' }\n */\n\n'use strict';\n\nflow.set('watchout_pending', null);\n\nnode.send({ payload: { status: 'cancelled' }, topic: 'watchout/cancel' });\n\nreturn null;\n",
        "outputs": 1,
        "x": 580,
        "y": 540,
        "wires": [
            [
                "wo2-status-template"
            ]
        ]
    },
    {
        "id": "daee275525f680d7",
        "type": "http in",
        "z": "4427b69f42325844",
        "name": "POST /watchout/control",
        "url": "/watchout/control",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "f0c71955340cf294"
            ]
        ]
    },
    {
        "id": "f0c71955340cf294",
        "type": "function",
        "z": "4427b69f42325844",
        "name": "Execute timeline control",
        "func": "/**\n * Watchout Timeline Control — Node-RED Function Node\n *\n * Accepts an incoming message with a command and executes it against Watchout.\n *\n * Input msg.payload:\n *   {\n *     command:   'start' | 'stop' | 'pause' | 'setVar' | 'getState',\n *     contentId: string,    // for start / stop / pause  (looked up in mapping)\n *     varName:   string,    // for setVar\n *     varValue:  any,       // for setVar\n *   }\n *\n * Output msg.payload:\n *   {\n *     success:    boolean,\n *     command:    string,\n *     timelineId: string,   // resolved timeline ID (start / stop / pause)\n *     statusCode: number,\n *     body:       any,\n *     error:      string    // only on failure\n *   }\n *\n * Flow context variables used:\n *   flow.get('watchout_config')   — { host, port }\n *   flow.get('watchout_mapping')  — { [contentId]: timelineId }\n */\n\n'use strict';\n\nconst http = require('http');\n\n// ─── Config ────────────────────────────────────────────────────────────────\n\nconst cfg = flow.get('watchout_config') || {};\nconst host = cfg.host || 'localhost';\nconst port = cfg.port || 3019;\nconst REQUEST_TIMEOUT_MS = 10000;\n\n// ─── Helpers ───────────────────────────────────────────────────────────────\n\nfunction httpRequest(method, urlPath, body) {\n    return new Promise((resolve, reject) => {\n        const options = {\n            hostname: host,\n            port: port,\n            path: urlPath,\n            method: method,\n            headers: { 'Content-Type': 'application/json' },\n        };\n        const req = http.request(options, (res) => {\n            let data = '';\n            res.on('data', (chunk) => { data += chunk; });\n            res.on('end', () => {\n                try {\n                    resolve({ statusCode: res.statusCode, body: JSON.parse(data) });\n                } catch (e) {\n                    resolve({ statusCode: res.statusCode, body: data });\n                }\n            });\n            res.on('error', reject);\n        });\n        req.on('error', reject);\n        req.setTimeout(REQUEST_TIMEOUT_MS, () => req.destroy(new Error('Request timed out')));\n        if (body !== undefined) req.write(JSON.stringify(body));\n        req.end();\n    });\n}\n\nfunction resolveTimelineId(contentId) {\n    const mapping = flow.get('watchout_mapping') || {};\n    if (contentId in mapping) return mapping[contentId];\n    return String(contentId); // assume it is already a raw timeline ID\n}\n\n// ─── Main ──────────────────────────────────────────────────────────────────\n\nconst input = msg.payload || {};\nconst command = input.command;\n\nasync function execute() {\n    let timelineId;\n\n    switch (command) {\n        case 'start': {\n            timelineId = resolveTimelineId(input.contentId);\n            const r = await httpRequest('POST', `/v0/timelines/${timelineId}/play`);\n            return { success: r.statusCode < 300, command, timelineId, statusCode: r.statusCode, body: r.body };\n        }\n        case 'stop': {\n            timelineId = resolveTimelineId(input.contentId);\n            const r = await httpRequest('POST', `/v0/timelines/${timelineId}/stop`);\n            return { success: r.statusCode < 300, command, timelineId, statusCode: r.statusCode, body: r.body };\n        }\n        case 'pause': {\n            timelineId = resolveTimelineId(input.contentId);\n            const r = await httpRequest('POST', `/v0/timelines/${timelineId}/pause`);\n            return { success: r.statusCode < 300, command, timelineId, statusCode: r.statusCode, body: r.body };\n        }\n        case 'setVar': {\n            const r = await httpRequest('PUT', `/v0/vars/${encodeURIComponent(input.varName)}`, { value: input.varValue });\n            return { success: r.statusCode < 300, command, statusCode: r.statusCode, body: r.body };\n        }\n        case 'getState': {\n            const r = await httpRequest('GET', '/v0/state');\n            return { success: r.statusCode < 300, command, statusCode: r.statusCode, body: r.body };\n        }\n        default:\n            throw new Error(`Unknown command: '${command}'`);\n    }\n}\n\nexecute().then(payload => {\n    node.send({ payload, topic: `watchout/${command}` });\n}).catch(err => {\n    node.send({ payload: { success: false, command, error: err.message }, topic: `watchout/${command}` });\n});\n\nreturn null; // async\n",
        "outputs": 1,
        "x": 400,
        "y": 280,
        "wires": [
            [
                "0d41ed3d0507a583"
            ]
        ]
    },
    {
        "id": "0d41ed3d0507a583",
        "type": "http response",
        "z": "4427b69f42325844",
        "name": "HTTP Response",
        "statusCode": "",
        "headers": {},
        "x": 640,
        "y": 280,
        "wires": []
    },
    {
        "id": "056fc50754f16ab8",
        "type": "inject",
        "z": "4427b69f42325844",
        "name": "Poll state (5 s)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\": \"getState\"}",
        "payloadType": "json",
        "x": 140,
        "y": 380,
        "wires": [
            [
                "2b9810121b825577"
            ]
        ]
    },
    {
        "id": "2b9810121b825577",
        "type": "function",
        "z": "4427b69f42325844",
        "name": "Poll Watchout state",
        "func": "/**\n * Watchout Timeline Control — Node-RED Function Node\n *\n * Accepts an incoming message with a command and executes it against Watchout.\n *\n * Input msg.payload:\n *   {\n *     command:   'start' | 'stop' | 'pause' | 'setVar' | 'getState',\n *     contentId: string,    // for start / stop / pause  (looked up in mapping)\n *     varName:   string,    // for setVar\n *     varValue:  any,       // for setVar\n *   }\n *\n * Output msg.payload:\n *   {\n *     success:    boolean,\n *     command:    string,\n *     timelineId: string,   // resolved timeline ID (start / stop / pause)\n *     statusCode: number,\n *     body:       any,\n *     error:      string    // only on failure\n *   }\n *\n * Flow context variables used:\n *   flow.get('watchout_config')   — { host, port }\n *   flow.get('watchout_mapping')  — { [contentId]: timelineId }\n */\n\n'use strict';\n\nconst http = require('http');\n\n// ─── Config ────────────────────────────────────────────────────────────────\n\nconst cfg = flow.get('watchout_config') || {};\nconst host = cfg.host || 'localhost';\nconst port = cfg.port || 3019;\nconst REQUEST_TIMEOUT_MS = 10000;\n\n// ─── Helpers ───────────────────────────────────────────────────────────────\n\nfunction httpRequest(method, urlPath, body) {\n    return new Promise((resolve, reject) => {\n        const options = {\n            hostname: host,\n            port: port,\n            path: urlPath,\n            method: method,\n            headers: { 'Content-Type': 'application/json' },\n        };\n        const req = http.request(options, (res) => {\n            let data = '';\n            res.on('data', (chunk) => { data += chunk; });\n            res.on('end', () => {\n                try {\n                    resolve({ statusCode: res.statusCode, body: JSON.parse(data) });\n                } catch (e) {\n                    resolve({ statusCode: res.statusCode, body: data });\n                }\n            });\n            res.on('error', reject);\n        });\n        req.on('error', reject);\n        req.setTimeout(REQUEST_TIMEOUT_MS, () => req.destroy(new Error('Request timed out')));\n        if (body !== undefined) req.write(JSON.stringify(body));\n        req.end();\n    });\n}\n\nfunction resolveTimelineId(contentId) {\n    const mapping = flow.get('watchout_mapping') || {};\n    if (contentId in mapping) return mapping[contentId];\n    return String(contentId); // assume it is already a raw timeline ID\n}\n\n// ─── Main ──────────────────────────────────────────────────────────────────\n\nconst input = msg.payload || {};\nconst command = input.command;\n\nasync function execute() {\n    let timelineId;\n\n    switch (command) {\n        case 'start': {\n            timelineId = resolveTimelineId(input.contentId);\n            const r = await httpRequest('POST', `/v0/timelines/${timelineId}/play`);\n            return { success: r.statusCode < 300, command, timelineId, statusCode: r.statusCode, body: r.body };\n        }\n        case 'stop': {\n            timelineId = resolveTimelineId(input.contentId);\n            const r = await httpRequest('POST', `/v0/timelines/${timelineId}/stop`);\n            return { success: r.statusCode < 300, command, timelineId, statusCode: r.statusCode, body: r.body };\n        }\n        case 'pause': {\n            timelineId = resolveTimelineId(input.contentId);\n            const r = await httpRequest('POST', `/v0/timelines/${timelineId}/pause`);\n            return { success: r.statusCode < 300, command, timelineId, statusCode: r.statusCode, body: r.body };\n        }\n        case 'setVar': {\n            const r = await httpRequest('PUT', `/v0/vars/${encodeURIComponent(input.varName)}`, { value: input.varValue });\n            return { success: r.statusCode < 300, command, statusCode: r.statusCode, body: r.body };\n        }\n        case 'getState': {\n            const r = await httpRequest('GET', '/v0/state');\n            return { success: r.statusCode < 300, command, statusCode: r.statusCode, body: r.body };\n        }\n        default:\n            throw new Error(`Unknown command: '${command}'`);\n    }\n}\n\nexecute().then(payload => {\n    node.send({ payload, topic: `watchout/${command}` });\n}).catch(err => {\n    node.send({ payload: { success: false, command, error: err.message }, topic: `watchout/${command}` });\n});\n\nreturn null; // async\n",
        "outputs": 1,
        "x": 380,
        "y": 380,
        "wires": [
            [
                "wo2-state-template"
            ]
        ]
    },
    {
        "id": "b2f1d4849a6d9212",
        "type": "debug",
        "z": "4427b69f42325844",
        "name": "Discovery debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 220,
        "wires": []
    },
    {
        "id": "wo2-rediscover-btn",
        "type": "ui-button",
        "z": "4427b69f42325844",
        "group": "f4d4b5c1c3b0a1ae",
        "name": "Re-discover Timelines",
        "label": "🔍 Re-discover Timelines",
        "order": 1,
        "width": 6,
        "height": 1,
        "emulateClick": false,
        "tooltip": "Fetch timeline list from Watchout and compare to stored mapping",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{}",
        "payloadType": "json",
        "topic": "watchout/rediscover",
        "topicType": "str",
        "buttonColor": "#1565c0",
        "textColor": "#ffffff",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "e5f774b7399fb58e"
            ]
        ]
    },
    {
        "id": "wo2-confirm-btn",
        "type": "ui-button",
        "z": "4427b69f42325844",
        "group": "f4d4b5c1c3b0a1ae",
        "name": "Confirm & Save",
        "label": "✔ Confirm & Save",
        "order": 3,
        "width": 3,
        "height": 1,
        "emulateClick": false,
        "tooltip": "Confirm pending mapping and save to disk",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{\"action\":\"confirm\"}",
        "payloadType": "json",
        "topic": "watchout/discovery",
        "topicType": "str",
        "buttonColor": "#2e7d32",
        "textColor": "#ffffff",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 120,
        "y": 500,
        "wires": [
            [
                "906ddd42b6519da7"
            ]
        ]
    },
    {
        "id": "wo2-cancel-btn",
        "type": "ui-button",
        "z": "4427b69f42325844",
        "group": "f4d4b5c1c3b0a1ae",
        "name": "Cancel",
        "label": "✗ Cancel",
        "order": 4,
        "width": 3,
        "height": 1,
        "emulateClick": false,
        "tooltip": "Discard pending mapping",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{\"action\":\"cancel\"}",
        "payloadType": "json",
        "topic": "watchout/discovery",
        "topicType": "str",
        "buttonColor": "#616161",
        "textColor": "#ffffff",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 140,
        "y": 540,
        "wires": [
            [
                "906ddd42b6519da7"
            ]
        ]
    },
    {
        "id": "wo2-diff-template",
        "type": "ui-template",
        "z": "4427b69f42325844",
        "group": "f4d4b5c1c3b0a1ae",
        "name": "Timeline Diff",
        "order": 2,
        "width": 12,
        "height": 8,
        "head": "",
        "format": "<template>\n  <div class=\"wo-panel\" v-if=\"p && p.status === 'diff_ready'\">\n    <div class=\"wo-title\">Timeline Discovery — Review Changes</div>\n    <div class=\"wo-info\">\n      Found {{p.diff.removed.length}} removed,\n      {{p.diff.added.length}} added,\n      {{p.diff.changed.length}} changed,\n      {{p.diff.unchanged.length}} unchanged.\n    </div>\n\n    <div v-for=\"(line, idx) in p.diffLines\" :key=\"idx\" class=\"wo-line\" :class=\"lineClass(line)\">\n      {{ line }}\n    </div>\n\n    <div class=\"wo-hint\">\n      Use the Confirm/Cancel buttons above to save or discard the pending mapping.\n    </div>\n  </div>\n\n  <div class=\"wo-panel\" v-else-if=\"p && p.status === 'no_changes'\">\n    <div class=\"wo-title\">Timeline Discovery</div>\n    <div class=\"wo-ok\">✓ No changes detected. Mapping is up to date.</div>\n  </div>\n\n  <div class=\"wo-panel\" v-else-if=\"p && p.status === 'error'\">\n    <div class=\"wo-title wo-err\">Discovery Error</div>\n    <div>{{ p.error }}</div>\n  </div>\n\n  <div class=\"wo-panel\" v-else>\n    <div class=\"wo-title\">Timeline Discovery</div>\n    <div class=\"wo-muted\">Click “Re-discover Timelines” to compare Watchout timelines with your stored mapping.</div>\n  </div>\n</template>\n\n<script>\nexport default {\n  computed: {\n    p () { return this.msg?.payload }\n  },\n  methods: {\n    lineClass (line) {\n      if (!line) return ''\n      if (line.startsWith('❌')) return 'wo-removed'\n      if (line.startsWith('✨')) return 'wo-added'\n      if (line.startsWith('🔄')) return 'wo-changed'\n      if (line.startsWith('✓'))  return 'wo-unchanged'\n      return ''\n    }\n  }\n}\n</script>\n\n<style>\n.wo-panel { font-family: monospace; padding: 12px; }\n.wo-title { font-size: 16px; font-weight: bold; margin-bottom: 8px; color: #333; }\n.wo-line  { padding: 2px 0; white-space: pre; }\n.wo-removed   { color: #d32f2f; }\n.wo-added     { color: #2e7d32; }\n.wo-changed   { color: #e65100; }\n.wo-unchanged { color: #616161; }\n.wo-info { color: #1565c0; font-style: italic; margin-bottom: 6px; }\n.wo-ok { color: #2e7d32; }\n.wo-err { color: #d32f2f; }\n.wo-muted { color: #777; }\n.wo-hint { margin-top: 10px; color:#555; font-style: italic; }\n</style>",
        "storeOutMessages": false,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 570,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "wo2-status-template",
        "type": "ui-template",
        "z": "4427b69f42325844",
        "group": "ef07ffba08e94be9",
        "name": "Mapping Status",
        "order": 1,
        "width": 12,
        "height": 6,
        "head": "",
        "format": "<template>\n  <div class=\"wo-status\">\n    <div v-if=\"p && p.status === 'saved'\">\n      <div class=\"wo-ok\">✔ Mapping saved at {{ p.savedAt }}</div>\n      <div class=\"wo-mapping\" v-if=\"p.mapping\">\n        <div v-for=\"(v,k) in p.mapping\" :key=\"k\" class=\"wo-row\">\n          <span class=\"wo-key\">{{k}}</span>\n          <span class=\"wo-val\">→ ID {{v}}</span>\n        </div>\n      </div>\n    </div>\n\n    <div v-else-if=\"p && p.status === 'cancelled'\" class=\"wo-muted\">\n      Discovery cancelled. No changes saved.\n    </div>\n\n    <div v-else-if=\"p && p.status === 'nothing_pending'\" class=\"wo-muted\">\n      Nothing to confirm. Run discovery first.\n    </div>\n\n    <div v-else-if=\"p && p.status === 'error'\" class=\"wo-err\">\n      ❌ Error: {{ p.error }}\n    </div>\n\n    <div v-else class=\"wo-muted\">\n      No status yet.\n    </div>\n  </div>\n</template>\n\n<script>\nexport default {\n  computed: {\n    p () { return this.msg?.payload }\n  }\n}\n</script>\n\n<style>\n.wo-status { font-family: monospace; padding: 12px; }\n.wo-ok { color: #2e7d32; font-weight: bold; }\n.wo-err { color: #d32f2f; font-weight: bold; }\n.wo-muted { color: #616161; }\n.wo-row { display:flex; gap:16px; padding: 2px 0; }\n.wo-key { font-weight: bold; min-width: 140px; }\n.wo-val { color: #555; }\n.wo-mapping { margin-top: 8px; }\n</style>",
        "storeOutMessages": false,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 800,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "wo2-state-template",
        "type": "ui-template",
        "z": "4427b69f42325844",
        "group": "dfba414e3e61e11b",
        "name": "Live State",
        "order": 1,
        "width": 12,
        "height": 6,
        "head": "",
        "format": "<template>\n  <div class=\"wo-state\">\n    <div v-if=\"p && p.type === 'connected'\" class=\"wo-ok\">● Connected (SSE)</div>\n    <div v-else-if=\"p && p.type === 'disconnected'\" class=\"wo-err\">○ Disconnected — polling every 5 s</div>\n\n    <pre v-if=\"p && p.data\">{{ pretty(p.data) }}</pre>\n    <pre v-else-if=\"p\">{{ pretty(p) }}</pre>\n    <div v-else class=\"wo-muted\">No data yet.</div>\n  </div>\n</template>\n\n<script>\nexport default {\n  computed: { p () { return this.msg?.payload } },\n  methods: {\n    pretty (o) {\n      try { return JSON.stringify(o, null, 2) } catch (e) { return String(o) }\n    }\n  }\n}\n</script>\n\n<style>\n.wo-state { font-family: monospace; padding: 12px; font-size: 13px; }\n.wo-state pre { background:#f5f5f5; padding:8px; border-radius:4px; overflow:auto; white-space: pre-wrap; }\n.wo-ok { color: #2e7d32; font-weight: bold; }\n.wo-err { color: #d32f2f; font-weight: bold; }\n.wo-muted { color: #777; }\n</style>",
        "storeOutMessages": false,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 620,
        "y": 380,
        "wires": [
            []
        ]
    }
]