flows.json
[
    {
        "id": "19fbd7cf3882c4ad",
        "type": "tab",
        "label": "Home",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8ccf58caed82bbf6",
        "type": "tab",
        "label": "Audio UI",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "68070fdec3517672",
        "type": "tab",
        "label": "Lighting",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4427b69f42325844",
        "type": "tab",
        "label": "Watchout Integration v0.1",
        "disabled": false,
        "info": "Watchout 7 HTTP API integration with manual timeline discovery."
    },
    {
        "id": "ma-tab",
        "type": "tab",
        "label": "MA Integration v0.1",
        "disabled": false,
        "info": "grandMA3 OSC integration test flow — FlowFuse Dashboard 2.0. Owner gate, multi-zone executor cue (a1/a2/a3/ls with All-zones sync), and sequence cue controls."
    },
    {
        "id": "wo2-tab",
        "type": "tab",
        "label": "Watchout v2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "22f501abaf7e8db6",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "f34314dbb36334ec",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "icon",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "6f21f95d494aa53c",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "a9e4285e36ef776f",
        "type": "ui-theme",
        "name": "Yellow Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#9f00f5",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "9d013935d2e3f2be",
        "type": "ui-theme",
        "name": "Purple Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#9f00f5",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "9ada0fbe8e910d7e",
        "type": "ui-page",
        "name": "Watchout",
        "ui": "f34314dbb36334ec",
        "path": "/watchout",
        "icon": "mdi-video-box",
        "layout": "grid",
        "theme": "6f21f95d494aa53c",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 5,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "ma-d2-page",
        "type": "ui-page",
        "name": "MA Integration v0.1",
        "ui": "f34314dbb36334ec",
        "path": "/ma",
        "icon": "mdi-floor-lamp",
        "layout": "notebook",
        "theme": "a9e4285e36ef776f",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 4,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "ma-d2-owner-grp",
        "type": "ui-group",
        "name": "Owner Control",
        "page": "ma-d2-page",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ma-d2-zones-grp",
        "type": "ui-group",
        "name": "Zone Selection",
        "page": "ma-d2-page",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": ""
    },
    {
        "id": "ma-d2-exec-grp",
        "type": "ui-group",
        "name": "Executor Cue",
        "page": "ma-d2-page",
        "width": 6,
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": ""
    },
    {
        "id": "ma-d2-seq-grp",
        "type": "ui-group",
        "name": "Sequence Cue",
        "page": "ma-d2-page",
        "width": 6,
        "height": 1,
        "order": 4,
        "showTitle": true,
        "className": ""
    },
    {
        "id": "73c2ce73a1d6ef7e",
        "type": "ui-page",
        "name": "Audio",
        "ui": "f34314dbb36334ec",
        "path": "/page4",
        "icon": "mdi-volume-high",
        "layout": "notebook",
        "theme": "9d013935d2e3f2be",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "89a49ec7808083dd",
        "type": "ui-group",
        "name": "Atrium 1 - Audio",
        "page": "73c2ce73a1d6ef7e",
        "width": "6",
        "height": "2",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "7e30cf5b81ad4ba0",
        "type": "ui-group",
        "name": "All Atriums - Presets",
        "page": "73c2ce73a1d6ef7e",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "776ce3db31f8095d",
        "type": "ui-group",
        "name": "Atrium 2 - Audio",
        "page": "73c2ce73a1d6ef7e",
        "width": 6,
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "d8304d5bd63f01b7",
        "type": "ui-group",
        "name": "Atrium 3 - Audio",
        "page": "73c2ce73a1d6ef7e",
        "width": 6,
        "height": 1,
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "41344ce3bde093a7",
        "type": "ui-page",
        "name": "Lighting",
        "ui": "f34314dbb36334ec",
        "path": "/page5",
        "icon": "lightbulb-on-10",
        "layout": "notebook",
        "theme": "a9e4285e36ef776f",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 3,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "bb2a29f0c26b5f4b",
        "type": "ui-group",
        "name": "All Atriums",
        "page": "41344ce3bde093a7",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "83d9dff356017e09",
        "type": "ui-group",
        "name": "Atrium 1",
        "page": "41344ce3bde093a7",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "5548920792beed1d",
        "type": "ui-group",
        "name": "Atrium 2",
        "page": "41344ce3bde093a7",
        "width": 6,
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "cc68bbcbdc68bae5",
        "type": "ui-group",
        "name": "Atrium 3",
        "page": "41344ce3bde093a7",
        "width": 6,
        "height": 1,
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "8dd9d92e5b5cc9e6",
        "type": "ui-page",
        "name": "Home",
        "ui": "f34314dbb36334ec",
        "path": "/page1",
        "icon": "home",
        "layout": "notebook",
        "theme": "9d013935d2e3f2be",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "5176b798f54b89e5",
        "type": "ui-group",
        "name": "Content",
        "page": "8dd9d92e5b5cc9e6",
        "width": 6,
        "height": 1,
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "fbb25d9fdfc45a2e",
        "type": "ui-group",
        "name": "OSC",
        "page": "8dd9d92e5b5cc9e6",
        "width": 6,
        "height": 1,
        "order": 5,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "eb81b8a7b3fd12cb",
        "type": "ui-group",
        "name": "Landscape",
        "page": "41344ce3bde093a7",
        "width": 6,
        "height": 1,
        "order": 5,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "4863f41be8c6af42",
        "type": "ui-group",
        "name": "Playing",
        "page": "8dd9d92e5b5cc9e6",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "5ecf38be0d49e017",
        "type": "ui-group",
        "name": "Playing Details",
        "page": "8dd9d92e5b5cc9e6",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "8ad5a7c72deac7fb",
        "type": "ui-group",
        "name": "Direct Commands",
        "page": "8dd9d92e5b5cc9e6",
        "width": 6,
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "e155175a9ba21767",
        "type": "ui-page",
        "name": "Watchout v2",
        "ui": "f34314dbb36334ec",
        "path": "/page7",
        "icon": "home",
        "layout": "grid",
        "theme": "9d013935d2e3f2be",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 6,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "20eba16b1f4b5a48",
        "type": "ui-group",
        "name": "Discover Timelines",
        "page": "e155175a9ba21767",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "e79267107587d426",
        "type": "ui-group",
        "name": "Status",
        "page": "e155175a9ba21767",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "b67850082a42953b",
        "type": "debug",
        "z": "22f501abaf7e8db6",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 80,
        "wires": []
    },
    {
        "id": "1c2eed29583d5845",
        "type": "ui-switch",
        "z": "22f501abaf7e8db6",
        "name": "Atrium 1",
        "label": "Atrium 1",
        "group": "5176b798f54b89e5",
        "order": 4,
        "width": "1",
        "height": "1",
        "passthru": false,
        "decouple": false,
        "topic": "atrium1",
        "topicType": "str",
        "style": "",
        "className": "",
        "layout": "row-left",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 580,
        "y": 120,
        "wires": [
            [
                "d6beb04373ede17a",
                "b67850082a42953b"
            ]
        ]
    },
    {
        "id": "46bcfecf67235d0b",
        "type": "function",
        "z": "22f501abaf7e8db6",
        "name": "Switch function",
        "func": "// 1. Get the true/false state from the \"All\" switch\nlet state = msg.payload;\n\n// 2. Save this state to the flow context so the individual logic knows about it\nflow.set('atrium1', state);\nflow.set('atrium2', state);\nflow.set('atrium3', state);\n\n// 3. Send the payload to all 3 outputs to update the individual UI switches\nreturn [\n    { payload: state }, // Goes to Atrium 1\n    { payload: state }, // Goes to Atrium 2\n    { payload: state }  // Goes to Atrium 3\n];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 160,
        "wires": [
            [
                "1c2eed29583d5845"
            ],
            [
                "91c470650daf0a59"
            ],
            [
                "c17e459f49532f0a"
            ]
        ]
    },
    {
        "id": "d6beb04373ede17a",
        "type": "function",
        "z": "22f501abaf7e8db6",
        "name": "3 switches logic",
        "func": "// 1. msg.topic tells us which switch triggered this (atrium1, atrium2, or atrium3)\n// Update that specific atrium's state in the flow context\nflow.set(msg.topic, msg.payload);\n\n// 2. Read the current state of all 3 atriums\nlet a1 = flow.get('atrium1') || false;\nlet a2 = flow.get('atrium2') || false;\nlet a3 = flow.get('atrium3') || false;\n\n// 3. Check if ALL of them are true\nlet allChecked = (a1 && a2 && a3);\n\n// 4. Send this result to the \"All Atriums\" switch to update its UI\nreturn { payload: allChecked };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 160,
        "wires": [
            [
                "f9ee4e381fb57347"
            ]
        ]
    },
    {
        "id": "f9ee4e381fb57347",
        "type": "ui-switch",
        "z": "22f501abaf7e8db6",
        "name": "All Atriums",
        "label": "All Atriums",
        "group": "5176b798f54b89e5",
        "order": 3,
        "width": "0",
        "height": "0",
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-left",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 210,
        "y": 160,
        "wires": [
            [
                "46bcfecf67235d0b",
                "82b04cc89922f807"
            ]
        ]
    },
    {
        "id": "91c470650daf0a59",
        "type": "ui-switch",
        "z": "22f501abaf7e8db6",
        "name": "Atrium 2",
        "label": "Atrium 2",
        "group": "5176b798f54b89e5",
        "order": 5,
        "width": "1",
        "height": "1",
        "passthru": false,
        "decouple": false,
        "topic": "atrium2",
        "topicType": "str",
        "style": "",
        "className": "",
        "layout": "row-left",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 580,
        "y": 160,
        "wires": [
            [
                "d6beb04373ede17a"
            ]
        ]
    },
    {
        "id": "c17e459f49532f0a",
        "type": "ui-switch",
        "z": "22f501abaf7e8db6",
        "name": "Atrium 3",
        "label": "Atrium 3",
        "group": "5176b798f54b89e5",
        "order": 6,
        "width": "1",
        "height": "1",
        "passthru": false,
        "decouple": false,
        "topic": "atrium3",
        "topicType": "str",
        "style": "",
        "className": "",
        "layout": "row-left",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 580,
        "y": 200,
        "wires": [
            [
                "d6beb04373ede17a"
            ]
        ]
    },
    {
        "id": "82b04cc89922f807",
        "type": "debug",
        "z": "22f501abaf7e8db6",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 100,
        "wires": []
    },
    {
        "id": "ma3_osc_receiver",
        "type": "udp in",
        "z": "19fbd7cf3882c4ad",
        "name": "OSC In p8001",
        "iface": "",
        "port": "8001",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "osc_decode"
            ]
        ]
    },
    {
        "id": "osc_decode",
        "type": "osc",
        "z": "19fbd7cf3882c4ad",
        "name": "Decode OSC",
        "path": "",
        "metadata": true,
        "x": 330,
        "y": 100,
        "wires": [
            [
                "a9103b8bd1668d6f"
            ]
        ]
    },
    {
        "id": "osc_router",
        "type": "switch",
        "z": "19fbd7cf3882c4ad",
        "name": "Route by Address",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 550,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "debug_fader",
        "type": "debug",
        "z": "19fbd7cf3882c4ad",
        "name": "Fader Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 60,
        "wires": []
    },
    {
        "id": "debug_key",
        "type": "debug",
        "z": "19fbd7cf3882c4ad",
        "name": "Key Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 770,
        "y": 100,
        "wires": []
    },
    {
        "id": "debug_cmd",
        "type": "debug",
        "z": "19fbd7cf3882c4ad",
        "name": "CMD Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 770,
        "y": 140,
        "wires": []
    },
    {
        "id": "7957f612965dc40e",
        "type": "ui-dropdown",
        "z": "19fbd7cf3882c4ad",
        "group": "5176b798f54b89e5",
        "name": "",
        "label": "Select Content:",
        "tooltip": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "chips": false,
        "clearable": false,
        "options": [
            {
                "label": "show1",
                "value": "show1",
                "type": "str"
            },
            {
                "label": "",
                "value": "show2",
                "type": "str"
            },
            {
                "label": "",
                "value": "Ambiance1",
                "type": "str"
            },
            {
                "label": "",
                "value": "Ambiance2",
                "type": "str"
            },
            {
                "label": "",
                "value": "Ambiance3",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "typeIsComboBox": true,
        "msgTrigger": "onChange",
        "x": 160,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "404ab17db164e013",
        "type": "ui-text",
        "z": "19fbd7cf3882c4ad",
        "group": "fbb25d9fdfc45a2e",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Incoming OSC messages",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 450,
        "y": 200,
        "wires": []
    },
    {
        "id": "b73208e817114238",
        "type": "debug",
        "z": "19fbd7cf3882c4ad",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 240,
        "wires": []
    },
    {
        "id": "a9103b8bd1668d6f",
        "type": "change",
        "z": "19fbd7cf3882c4ad",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 160,
        "y": 200,
        "wires": [
            [
                "404ab17db164e013",
                "b73208e817114238"
            ]
        ]
    },
    {
        "id": "0e56c5eee42c1798",
        "type": "ui-button",
        "z": "19fbd7cf3882c4ad",
        "group": "5176b798f54b89e5",
        "name": "Go",
        "label": "Go",
        "order": 7,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "463a6aec86248f58",
        "type": "comment",
        "z": "19fbd7cf3882c4ad",
        "name": "Direct Buttons",
        "info": "",
        "x": 140,
        "y": 700,
        "wires": []
    },
    {
        "id": "e21a825cd1bdee8a",
        "type": "comment",
        "z": "19fbd7cf3882c4ad",
        "name": "Video Content",
        "info": "",
        "x": 150,
        "y": 940,
        "wires": []
    },
    {
        "id": "d9d64d57ab75a9f2",
        "type": "comment",
        "z": "19fbd7cf3882c4ad",
        "name": "Testing",
        "info": "",
        "x": 130,
        "y": 160,
        "wires": []
    },
    {
        "id": "ef9885992d74b203",
        "type": "ui-text-input",
        "z": "19fbd7cf3882c4ad",
        "group": "fbb25d9fdfc45a2e",
        "name": "Osc message",
        "label": "OSC Messsage",
        "order": 2,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "tooltip": "",
        "delay": "0",
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": false,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 160,
        "y": 1160,
        "wires": [
            [
                "b564d65ab1be896e"
            ]
        ]
    },
    {
        "id": "0d9db2284f2bff29",
        "type": "ui-button-group",
        "z": "19fbd7cf3882c4ad",
        "name": "OSC Port choice",
        "group": "fbb25d9fdfc45a2e",
        "order": 1,
        "width": 6,
        "height": 1,
        "label": "Destination",
        "className": "",
        "rounded": true,
        "useThemeColors": true,
        "passthru": true,
        "options": [
            {
                "label": "QLab",
                "icon": "",
                "value": "53000",
                "valueType": "num",
                "color": "#009933"
            },
            {
                "label": "GrandMa",
                "icon": "",
                "value": "8000",
                "valueType": "num",
                "color": "#999999"
            }
        ],
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 1240,
        "wires": [
            [
                "2c13c807c664eac3"
            ]
        ]
    },
    {
        "id": "557570a035650704",
        "type": "osc",
        "z": "19fbd7cf3882c4ad",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 450,
        "y": 1200,
        "wires": [
            [
                "7d8570d211d2f5e4",
                "93238ced297b7a99"
            ]
        ]
    },
    {
        "id": "03625a79e8807adc",
        "type": "inject",
        "z": "19fbd7cf3882c4ad",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "/cue/1/start",
        "payloadType": "str",
        "x": 150,
        "y": 1200,
        "wires": [
            [
                "b564d65ab1be896e"
            ]
        ]
    },
    {
        "id": "71bb1df31241f8e7",
        "type": "inject",
        "z": "19fbd7cf3882c4ad",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "/cue/1/start",
        "x": 150,
        "y": 1320,
        "wires": [
            [
                "eee292bfd74fad2f"
            ]
        ]
    },
    {
        "id": "eee292bfd74fad2f",
        "type": "osc",
        "z": "19fbd7cf3882c4ad",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 330,
        "y": 1320,
        "wires": [
            [
                "dce7dd7dbe94f72b"
            ]
        ]
    },
    {
        "id": "dce7dd7dbe94f72b",
        "type": "udp out",
        "z": "19fbd7cf3882c4ad",
        "name": "",
        "addr": "host.docker.internal",
        "iface": "",
        "port": "53000",
        "ipv": "udp4",
        "outport": "53000",
        "base64": false,
        "multicast": "false",
        "x": 550,
        "y": 1320,
        "wires": []
    },
    {
        "id": "2c13c807c664eac3",
        "type": "change",
        "z": "19fbd7cf3882c4ad",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "oscPort",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "b564d65ab1be896e",
        "type": "function",
        "z": "19fbd7cf3882c4ad",
        "name": "function 2",
        "func": "let inputStr = msg.payload.trim();\nlet spaceIndex = inputStr.indexOf(\" \");\n\nif (spaceIndex !== -1) {\n    // A space was found! Split into Address and Argument\n    msg.topic = inputStr.substring(0, spaceIndex); // Gets \"/cmd\"\n    \n    let argStr = inputStr.substring(spaceIndex + 1).trim(); // Gets '\"Off Timecode 2\"'\n    \n    // Remove literal quotes if you typed them, the OSC node doesn't need them\n    if (argStr.startsWith('\"') && argStr.endsWith('\"')) {\n        argStr = argStr.slice(1, -1);\n    }\n    \n    msg.payload = argStr; // Set the argument\n} else {\n    // No spaces found (like \"/cue/1/start\"). The whole thing is the address.\n    msg.topic = inputStr;\n    msg.payload = \"\";\n}\n\n// Grab the port we saved from the button group (default to 53000)\nmsg.port = flow.get(\"oscPort\") || 53000; \n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1200,
        "wires": [
            [
                "557570a035650704"
            ]
        ]
    },
    {
        "id": "7d8570d211d2f5e4",
        "type": "udp out",
        "z": "19fbd7cf3882c4ad",
        "name": "",
        "addr": "host.docker.internal",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 650,
        "y": 1200,
        "wires": []
    },
    {
        "id": "93238ced297b7a99",
        "type": "debug",
        "z": "19fbd7cf3882c4ad",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 1160,
        "wires": []
    },
    {
        "id": "2d2254fa590379b5",
        "type": "comment",
        "z": "19fbd7cf3882c4ad",
        "name": "Osc Outputter!",
        "info": "",
        "x": 160,
        "y": 1120,
        "wires": []
    },
    {
        "id": "0ab3ea59ee1611f6",
        "type": "http request",
        "z": "19fbd7cf3882c4ad",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 330,
        "y": 1480,
        "wires": [
            []
        ]
    },
    {
        "id": "0e9d8e3e23b6e557",
        "type": "subflow:22f501abaf7e8db6",
        "z": "19fbd7cf3882c4ad",
        "name": "",
        "x": 360,
        "y": 980,
        "wires": []
    },
    {
        "id": "30ad428777cde808",
        "type": "ui-button-group",
        "z": "19fbd7cf3882c4ad",
        "name": "Destination",
        "group": "5176b798f54b89e5",
        "order": 2,
        "width": 6,
        "height": 1,
        "label": "",
        "className": "",
        "rounded": false,
        "useThemeColors": true,
        "passthru": false,
        "options": [
            {
                "label": "All Atriums",
                "icon": "",
                "value": "option_0",
                "valueType": "str",
                "color": "#009933"
            },
            {
                "label": "Atrium 1",
                "icon": "",
                "value": "option_1",
                "valueType": "str",
                "color": "#999999"
            },
            {
                "label": "Atrium 2",
                "icon": "",
                "value": "option_2",
                "valueType": "str",
                "color": "#ff6666"
            },
            {
                "label": "Atrium 3",
                "icon": "",
                "value": "option_3",
                "valueType": "str",
                "color": "#009999"
            }
        ],
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "b6b121d650f4a7e1",
        "type": "comment",
        "z": "19fbd7cf3882c4ad",
        "name": "Playing 1",
        "info": "",
        "x": 140,
        "y": 320,
        "wires": []
    },
    {
        "id": "2daab7503299d678",
        "type": "ui-text",
        "z": "19fbd7cf3882c4ad",
        "group": "4863f41be8c6af42",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Atrium 1:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "Ambience 2",
        "valueType": "str",
        "x": 140,
        "y": 360,
        "wires": []
    },
    {
        "id": "28f4e78eedb5d8bb",
        "type": "ui-text",
        "z": "19fbd7cf3882c4ad",
        "group": "4863f41be8c6af42",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Atrium 2:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "Ambience 2",
        "valueType": "str",
        "x": 140,
        "y": 400,
        "wires": []
    },
    {
        "id": "7b596c2fe3a41cb4",
        "type": "ui-text",
        "z": "19fbd7cf3882c4ad",
        "group": "4863f41be8c6af42",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Atrium 3:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "Show 1",
        "valueType": "str",
        "x": 140,
        "y": 440,
        "wires": []
    },
    {
        "id": "80960ee867ec11c5",
        "type": "comment",
        "z": "19fbd7cf3882c4ad",
        "name": "Playing 1",
        "info": "",
        "x": 140,
        "y": 520,
        "wires": []
    },
    {
        "id": "5cc3af05ed1020bd",
        "type": "ui-template",
        "z": "19fbd7cf3882c4ad",
        "group": "5ecf38be0d49e017",
        "page": "",
        "ui": "",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<head>\n<style>\ntable {\n  font-family: arial, sans-serif;\n  border-collapse: collapse;\n  width: 100%;\n}\n\ntd, th {\n  border: 1px solid #dddddd;\n  text-align: left;\n  padding: 8px;\n}\n\ntr:nth-child(even) {\n  background-color: #dddddd;\n}\n</style>\n</head>\n<body>\n\n<table>\n  <tr>\n    <th style=\"width:20%\"></th>\n    <th style=\"width:20%\">Atrium 1</th>\n    <th style=\"width:20%\">Atrium 2</th>\n    <th style=\"width:20%\">Atrium 3</th>\n    <th style=\"width:20%\">Landscape</th>\n  </tr>\n  <tr>\n    <th>Video</th>\n    <td>Ambiance 1</td>\n    <td>Ambiance 2</td>\n    <td>Show 1</td>\n    <td>Ambiance 1</td>\n  </tr>\n  <tr>\n    <th>Lighting</th>\n    <td>Ambiance 1</td>\n    <td>Ambiance 2</td>\n    <td>Show 1</td>\n    <td>Ambiance 1</td>\n  </tr>\n  <tr>\n    <th>Audio</th>\n    <td>BG Music</td>\n    <td>BG Music</td>\n    <td>Show 1</td>\n    <td>BG Music</td>\n  </tr>\n</table>\n\n</body>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 140,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "8b9aee18b610f4ad",
        "type": "ui-template",
        "z": "19fbd7cf3882c4ad",
        "d": true,
        "group": "8ad5a7c72deac7fb",
        "page": "",
        "ui": "",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <div v-if=\"visible\" class=\"nr-modal-backdrop\" @click.self=\"cancel\">\n    <div class=\"nr-modal\" role=\"dialog\" aria-modal=\"true\" :aria-label=\"title\">\n      <div class=\"nr-modal-header\">\n        <div class=\"nr-modal-title\">{{ title }}</div>\n      </div>\n\n      <div class=\"nr-modal-body\">\n        <div class=\"nr-modal-message\" v-html=\"message\"></div>\n      </div>\n\n      <div class=\"nr-modal-actions\">\n        <button class=\"nr-btn nr-btn-cancel\" @click=\"cancel\">\n          {{ cancelText }}\n        </button>\n        <button class=\"nr-btn nr-btn-confirm\" @click=\"confirm\">\n          {{ confirmText }}\n        </button>\n      </div>\n    </div>\n  </div>\n</template>\n\n<script>\nexport default {\n  data() {\n    return {\n      visible: false,\n      title: \"Confirm\",\n      message: \"Are you sure?\",\n      confirmText: \"Confirm\",\n      cancelText: \"Cancel\",\n      actionId: null,\n    };\n  },\n  methods: {\n    open(payload) {\n      this.title = payload?.title ?? \"Confirm\";\n      this.message = payload?.message ?? \"Are you sure?\";\n      this.confirmText = payload?.confirmText ?? \"Confirm\";\n      this.cancelText = payload?.cancelText ?? \"Cancel\";\n      this.actionId = payload?.actionId ?? null;\n      this.visible = true;\n    },\n    close() {\n      this.visible = false;\n    },\n    confirm() {\n      this.$emit(\"send\", { payload: { actionId: this.actionId, choice: \"confirm\" } });\n      this.close();\n    },\n    cancel() {\n      this.$emit(\"send\", { payload: { actionId: this.actionId, choice: \"cancel\" } });\n      this.close();\n    },\n  },\n  mounted() {\n    // Dashboard 2 pushes msg updates into the component; `this.msg` is reactive\n    // We'll watch for \"open\" messages.\n    this.$watch(\n      () => this.msg,\n      (msg) => {\n        const p = msg?.payload;\n        if (p && p.open === true) this.open(p);\n        if (p && p.open === false) this.close();\n      },\n      { deep: true }\n    );\n  },\n};\n</script>\n\n<style>\n/* Backdrop */\n.nr-modal-backdrop {\n  position: fixed;\n  inset: 0;\n  background: rgba(0,0,0,0.65);\n  display: flex;\n  align-items: center;\n  justify-content: center;\n  z-index: 9999;\n  padding: 24px;\n}\n\n/* Modal */\n.nr-modal {\n  width: min(720px, 100%);\n  background: #111827;           /* dark slate */\n  color: #f9fafb;\n  border: 2px solid rgba(255,255,255,0.12);\n  border-radius: 14px;\n  box-shadow: 0 20px 60px rgba(0,0,0,0.5);\n  overflow: hidden;\n}\n\n/* Header */\n.nr-modal-header {\n  padding: 18px 20px;\n  border-bottom: 1px solid rgba(255,255,255,0.10);\n}\n.nr-modal-title {\n  font-size: 28px;               /* big text */\n  font-weight: 700;\n  letter-spacing: 0.2px;\n}\n\n/* Body */\n.nr-modal-body {\n  padding: 18px 20px 6px 20px;\n}\n.nr-modal-message {\n  font-size: 20px;               /* big message text */\n  line-height: 1.35;\n}\n\n/* Actions */\n.nr-modal-actions {\n  display: flex;\n  gap: 12px;\n  justify-content: flex-end;\n  padding: 16px 20px 20px 20px;\n}\n\n.nr-btn {\n  font-size: 18px;\n  padding: 12px 16px;\n  border-radius: 12px;\n  border: 0;\n  cursor: pointer;\n  min-width: 140px;\n}\n\n.nr-btn-cancel {\n  background: rgba(255,255,255,0.12);\n  color: #f9fafb;\n}\n.nr-btn-cancel:hover {\n  background: rgba(255,255,255,0.18);\n}\n\n.nr-btn-confirm {\n  background: #dc2626;           /* red confirm */\n  color: white;\n}\n.nr-btn-confirm:hover {\n  background: #b91c1c;\n}\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 310,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "de05e3ee40a21958",
        "type": "ui-button",
        "z": "19fbd7cf3882c4ad",
        "group": "8ad5a7c72deac7fb",
        "name": "Show 1",
        "label": "Show 1",
        "order": 2,
        "width": "1",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "Show1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 140,
        "y": 740,
        "wires": [
            [
                "8b9aee18b610f4ad",
                "8bf4437e10a6bc7f",
                "ea13f009b91065c7"
            ]
        ]
    },
    {
        "id": "594549b308c6e08b",
        "type": "ui-button",
        "z": "19fbd7cf3882c4ad",
        "group": "8ad5a7c72deac7fb",
        "name": "Show 2",
        "label": "Show 2",
        "order": 3,
        "width": "1",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "Are you sure?",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 140,
        "y": 780,
        "wires": [
            [
                "d2339c4649d7dc3c"
            ]
        ]
    },
    {
        "id": "d2339c4649d7dc3c",
        "type": "ui-notification",
        "z": "19fbd7cf3882c4ad",
        "ui": "f34314dbb36334ec",
        "position": "center center",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "10",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": true,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "",
        "x": 340,
        "y": 780,
        "wires": [
            [
                "41a75805e7d72d9e"
            ]
        ]
    },
    {
        "id": "41a75805e7d72d9e",
        "type": "debug",
        "z": "19fbd7cf3882c4ad",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 780,
        "wires": []
    },
    {
        "id": "3e0b9b879c2d5a92",
        "type": "ui-button",
        "z": "19fbd7cf3882c4ad",
        "group": "8ad5a7c72deac7fb",
        "name": "Show 3",
        "label": "Show 3",
        "order": 4,
        "width": "1",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "Are you sure?",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 140,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "fa2385ea484452fd",
        "type": "ui-button",
        "z": "19fbd7cf3882c4ad",
        "group": "8ad5a7c72deac7fb",
        "name": "Show 4",
        "label": "Show 4",
        "order": 5,
        "width": "1",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "Are you sure?",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 140,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "fe7a6403efe9d533",
        "type": "link out",
        "z": "19fbd7cf3882c4ad",
        "name": "Show1",
        "mode": "link",
        "links": [
            "1962c3ac9d0da7c8"
        ],
        "x": 675,
        "y": 700,
        "wires": []
    },
    {
        "id": "8bf4437e10a6bc7f",
        "type": "debug",
        "z": "19fbd7cf3882c4ad",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 640,
        "wires": []
    },
    {
        "id": "491898993236472c",
        "type": "change",
        "z": "19fbd7cf3882c4ad",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "POST",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "v0/play/1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 700,
        "wires": [
            [
                "fe7a6403efe9d533",
                "8bf4437e10a6bc7f"
            ]
        ]
    },
    {
        "id": "ea13f009b91065c7",
        "type": "switch",
        "z": "19fbd7cf3882c4ad",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Show1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Show2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Show3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 330,
        "y": 700,
        "wires": [
            [
                "491898993236472c"
            ],
            [],
            []
        ]
    },
    {
        "id": "4ef930b6b5f4d981",
        "type": "function",
        "z": "19fbd7cf3882c4ad",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "8725c52de1c071e8",
        "type": "ui-button",
        "z": "8ccf58caed82bbf6",
        "group": "89a49ec7808083dd",
        "name": "Low",
        "label": "Low",
        "order": 5,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "format-vertical-align-bottom",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "0e4f765c4dd29779",
        "type": "ui-slider",
        "z": "8ccf58caed82bbf6",
        "group": "89a49ec7808083dd",
        "name": "Master",
        "label": "Master",
        "tooltip": "",
        "order": 1,
        "width": "1",
        "height": "6",
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "always",
        "showTicks": "always",
        "min": 0,
        "max": "20",
        "step": "0",
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 130,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "049a39b65c2efc57",
        "type": "ui-slider",
        "z": "8ccf58caed82bbf6",
        "group": "89a49ec7808083dd",
        "name": "Show",
        "label": "Show",
        "tooltip": "",
        "order": 2,
        "width": "1",
        "height": "6",
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "always",
        "showTicks": "always",
        "min": 0,
        "max": "20",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 250,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "3e1460e236ca9b75",
        "type": "ui-slider",
        "z": "8ccf58caed82bbf6",
        "group": "89a49ec7808083dd",
        "name": "BGM",
        "label": "BGM",
        "tooltip": "",
        "order": 3,
        "width": "1",
        "height": "6",
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "always",
        "showTicks": "always",
        "min": 0,
        "max": "20",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 370,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "8029a84c6abf95c3",
        "type": "ui-button",
        "z": "8ccf58caed82bbf6",
        "group": "7e30cf5b81ad4ba0",
        "name": "Low",
        "label": "Low",
        "order": 1,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "format-vertical-align-bottom",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "4b50afec00256704",
        "type": "ui-button",
        "z": "8ccf58caed82bbf6",
        "group": "89a49ec7808083dd",
        "name": "Mid",
        "label": "Mid",
        "order": 6,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "format-vertical-align-center",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 250,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "8a140f122db8ef9b",
        "type": "ui-button",
        "z": "8ccf58caed82bbf6",
        "group": "89a49ec7808083dd",
        "name": "High",
        "label": "High",
        "order": 7,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "format-vertical-align-top",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 370,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "da47bec7c7ddb466",
        "type": "ui-text",
        "z": "8ccf58caed82bbf6",
        "group": "89a49ec7808083dd",
        "order": 4,
        "width": "3",
        "height": "1",
        "name": "Presets",
        "label": "Presets",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 140,
        "y": 240,
        "wires": []
    },
    {
        "id": "55f7bbd4d3580c14",
        "type": "ui-button",
        "z": "8ccf58caed82bbf6",
        "group": "7e30cf5b81ad4ba0",
        "name": "Mid",
        "label": "Mid",
        "order": 2,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "format-vertical-align-center",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 250,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "fcf86f5ffb8e3d10",
        "type": "ui-button",
        "z": "8ccf58caed82bbf6",
        "group": "7e30cf5b81ad4ba0",
        "name": "High",
        "label": "High",
        "order": 3,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "format-vertical-align-top",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 370,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "51e0a8b5cfba66a9",
        "type": "comment",
        "z": "8ccf58caed82bbf6",
        "name": "All Atriums",
        "info": "",
        "x": 140,
        "y": 60,
        "wires": []
    },
    {
        "id": "838b237fda8b4c63",
        "type": "comment",
        "z": "8ccf58caed82bbf6",
        "name": "Atrium 1",
        "info": "",
        "x": 140,
        "y": 160,
        "wires": []
    },
    {
        "id": "acd1c3b6a97697c9",
        "type": "ui-button",
        "z": "8ccf58caed82bbf6",
        "group": "776ce3db31f8095d",
        "name": "Low",
        "label": "Low",
        "order": 5,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "format-vertical-align-bottom",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "cfdcf9e80392923c",
        "type": "ui-slider",
        "z": "8ccf58caed82bbf6",
        "group": "776ce3db31f8095d",
        "name": "Master",
        "label": "Master",
        "tooltip": "",
        "order": 1,
        "width": "1",
        "height": "6",
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": 0,
        "max": "20",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 130,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "f4acd7b1bdedd06b",
        "type": "ui-slider",
        "z": "8ccf58caed82bbf6",
        "group": "776ce3db31f8095d",
        "name": "Show",
        "label": "Show",
        "tooltip": "",
        "order": 2,
        "width": "1",
        "height": "6",
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": 0,
        "max": "20",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 250,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "86e1cd1bbe06244e",
        "type": "ui-slider",
        "z": "8ccf58caed82bbf6",
        "group": "776ce3db31f8095d",
        "name": "BGM",
        "label": "BGM",
        "tooltip": "",
        "order": 3,
        "width": "1",
        "height": "6",
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": 0,
        "max": "20",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 370,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "7187d9b665e9d8b6",
        "type": "ui-button",
        "z": "8ccf58caed82bbf6",
        "group": "776ce3db31f8095d",
        "name": "Mid",
        "label": "Mid",
        "order": 6,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "format-vertical-align-center",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 250,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "2007da442246a4dd",
        "type": "ui-button",
        "z": "8ccf58caed82bbf6",
        "group": "776ce3db31f8095d",
        "name": "High",
        "label": "High",
        "order": 7,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "format-vertical-align-top",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 370,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "df85ebbd7ad23694",
        "type": "ui-text",
        "z": "8ccf58caed82bbf6",
        "group": "776ce3db31f8095d",
        "order": 4,
        "width": "3",
        "height": "1",
        "name": "Presets",
        "label": "Presets",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 140,
        "y": 420,
        "wires": []
    },
    {
        "id": "a99b51244285bfd8",
        "type": "comment",
        "z": "8ccf58caed82bbf6",
        "name": "Atrium 2",
        "info": "",
        "x": 140,
        "y": 340,
        "wires": []
    },
    {
        "id": "209ed37f613266bf",
        "type": "ui-button",
        "z": "8ccf58caed82bbf6",
        "group": "d8304d5bd63f01b7",
        "name": "Low",
        "label": "Low",
        "order": 6,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "format-vertical-align-bottom",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "6e47787a9b676845",
        "type": "ui-slider",
        "z": "8ccf58caed82bbf6",
        "group": "d8304d5bd63f01b7",
        "name": "Master",
        "label": "Master",
        "tooltip": "",
        "order": 1,
        "width": "1",
        "height": "6",
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": 0,
        "max": "20",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 130,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "50a61419112295fc",
        "type": "ui-slider",
        "z": "8ccf58caed82bbf6",
        "group": "d8304d5bd63f01b7",
        "name": "Show",
        "label": "Show",
        "tooltip": "",
        "order": 2,
        "width": "1",
        "height": "6",
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": 0,
        "max": "20",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 250,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "9d7589a2828a98c5",
        "type": "ui-slider",
        "z": "8ccf58caed82bbf6",
        "group": "d8304d5bd63f01b7",
        "name": "BGM",
        "label": "BGM",
        "tooltip": "",
        "order": 3,
        "width": "1",
        "height": "6",
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": 0,
        "max": "20",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 370,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "b1768b05f237232b",
        "type": "ui-button",
        "z": "8ccf58caed82bbf6",
        "group": "d8304d5bd63f01b7",
        "name": "Mid",
        "label": "Mid",
        "order": 8,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "format-vertical-align-center",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 250,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "ba663ac70227a002",
        "type": "ui-button",
        "z": "8ccf58caed82bbf6",
        "group": "d8304d5bd63f01b7",
        "name": "High",
        "label": "High",
        "order": 7,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "format-vertical-align-top",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 370,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "299d1925005c0283",
        "type": "ui-text",
        "z": "8ccf58caed82bbf6",
        "group": "d8304d5bd63f01b7",
        "order": 4,
        "width": "3",
        "height": "1",
        "name": "Presets",
        "label": "Presets",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 140,
        "y": 600,
        "wires": []
    },
    {
        "id": "97d57a98c47dca4b",
        "type": "comment",
        "z": "8ccf58caed82bbf6",
        "name": "Atrium 2",
        "info": "",
        "x": 140,
        "y": 520,
        "wires": []
    },
    {
        "id": "e91da1ec.03c17",
        "type": "ui-template",
        "z": "8ccf58caed82bbf6",
        "d": true,
        "group": "d8304d5bd63f01b7",
        "page": "",
        "ui": "",
        "name": "Vertical Slider",
        "order": 5,
        "width": 2,
        "height": 6,
        "format": "<div style=\"text-align: center;\">Slider</div>\n<input ng-init=\"output(msg)\" class=\"sliderV size2x6\" type=\"range\" min=0 max=100 step=1 ng-model=\"msg.payload\" aria-label=\"volume\" ng-change=\"output(msg)\">\n\n<script>\n(function($scope) {\n    $scope.output = function(key) {\n        if ($scope.hasOwnProperty(\"msg\")){\n            if ($scope.msg.hasOwnProperty(\"socketid\") || $scope.msg.payload !== 50){ //this prevents output at 50% from initialization on ng-change\n\t\t        $scope.send({payload:$scope.msg.payload, socketid:$scope.msg.socketid});\n            }\n        }\n        \n    };\n})(scope);\n</script>\n\n<style>\ninput[type='range'].sliderH {\n  margin-top: 60px;\n  width: 80px;\n  height: 240px;\n  padding: 0;\n  overflow: unset;\n  cursor: grab;\n}\ninput[type='range'].sliderV {\n  transform: rotateZ(-90deg);\n  margin-top: 60px;\n  writing-mode: bt-lr;\n  width: 80%;\n  padding: 0;\n  overflow: unset;\n  cursor: grab;\n  height: 8px;\n  margin-left: -100px;\n}\n.size1x6 {\n    height: 8px !important;\n    margin-left: -100px !important;\n}\n.size2x6 {\n    height: 13px !important;\n    margin-left: -80px !important;\n}\n.size1x6::-webkit-slider-thumb {\n    height: 23px !important;\n    width: 42px !important;\n}\n.size2x6::-webkit-slider-thumb{\n    height: 43px !important;\n    width: 72px !important;\n}\n@media screen and (-webkit-min-device-pixel-ratio: 0) {\n  input[type='range'].sliderH {\n    -webkit-appearance: none;\n    width: 240px;\n    height: 10px;\n    margin-top: 30px;\n    margin-left: 30px;\n    outline: 0;\n    border-radius: 5px;\n    background-color: #0b0b0b;\n    box-shadow: inset 1px 1px 0 1px #6d6d6d;\n  }\n}\n@media screen and (-webkit-min-device-pixel-ratio: 0) {\n  input[type='range'].sliderV {\n    -webkit-appearance: none;\n    -webkit-transform: rotate(270deg);\n    width: 240px;\n    height: 10px;\n    margin-top: 140px;\n    outline: 0;\n    border-radius: 5px;\n    background-color: #0b0b0b;\n    box-shadow: inset 1px 1px 0 1px #6d6d6d;\n  }\n}\ninput[type='range']::-ms-track {\n  width: 10px;\n  height: 240px;\n  border-radius: 5px;\n  background-color: #0b0b0b;\n  box-shadow: inset 1px 1px 0 1px #6d6d6d;\n  border: 0;\n}\ninput[type='range']::-moz-range-track {\n    transform: rotateZ(-90deg);\n  width: 10px;\n  height: 240px;\n  border-radius: 5px;\n  background-color: #0b0b0b;\n  box-shadow: inset 1px 1px 0 1px #6d6d6d;\n  border: 0;\n}\ninput[type='range']::-webkit-slider-thumb {\n  width: 72px;\n  height: 32px;\n  -webkit-appearance: none;\n  background-image: -webkit-linear-gradient(left, #0f0f0f, #2e2e2e 4%, #0f0f0f 8%, #000 47%, #808080 48%, #808080 52%, #000 53%, #1a1a1a 96%, #2e2e2e);\n  box-shadow: 5px -10px 20px 0 #1a1a1a;\n}\ninput[type='range']::-ms-thumb {\n  width: 32px;\n  height: 72px;\n  border: 0;\n  box-shadow: -10px -5px 20px 0 #1a1a1a;\n  background-image: -ms-linear-gradient(bottom, #0f0f0f, #2e2e2e 4%, #0f0f0f 8%, #000 47%, #808080 48%, #808080 52%, #000 53%, #1a1a1a 96%, #2e2e2e);\n}\ninput[type='range']::-ms-tooltip {\n  display: none;\n}\ninput[type='range']::-moz-range-thumb {\n  width: 32px;\n  height: 72px;\n  border: 0;\n  box-shadow: -10px -5px 20px 0 #1a1a1a;\n  background-image: -moz-linear-gradient(bottom, #0f0f0f, #2e2e2e 4%, #0f0f0f 8%, #000 47%, #808080 48%, #808080 52%, #000 53%, #1a1a1a 96%, #2e2e2e);\n  border-radius: 0;\n  transform: rotateZ(-90deg);\n}\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "templateScope": "local",
        "className": "",
        "x": 600,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "f000b5350e394e35",
        "type": "comment",
        "z": "68070fdec3517672",
        "name": "All Atriums",
        "info": "",
        "x": 100,
        "y": 80,
        "wires": []
    },
    {
        "id": "3fac49674c85bc3b",
        "type": "comment",
        "z": "68070fdec3517672",
        "name": "Atrium 1",
        "info": "",
        "x": 100,
        "y": 260,
        "wires": []
    },
    {
        "id": "f10b01408eb4ed35",
        "type": "comment",
        "z": "68070fdec3517672",
        "name": "Atrium 2",
        "info": "",
        "x": 100,
        "y": 460,
        "wires": []
    },
    {
        "id": "c2a5b4e6d730bed2",
        "type": "ui-button",
        "z": "68070fdec3517672",
        "group": "bb2a29f0c26b5f4b",
        "name": "Look 1",
        "label": "Look 1",
        "order": 2,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "numeric-1-circle-outline",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 90,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "29d4054fc51b0758",
        "type": "ui-button",
        "z": "68070fdec3517672",
        "group": "bb2a29f0c26b5f4b",
        "name": "Look 2",
        "label": "Look 2",
        "order": 3,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "numeric-2-circle-outline",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 210,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "7743f1efe044de83",
        "type": "ui-button",
        "z": "68070fdec3517672",
        "group": "83d9dff356017e09",
        "name": "Look 1",
        "label": "Look 1",
        "order": 1,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "numeric-1-circle-outline",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 90,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "dff86a1b4023c1e0",
        "type": "ui-button",
        "z": "68070fdec3517672",
        "group": "83d9dff356017e09",
        "name": "Look 2",
        "label": "Look 2",
        "order": 2,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "numeric-2-circle-outline",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 210,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "f5aabc68642d7003",
        "type": "ui-button",
        "z": "68070fdec3517672",
        "group": "5548920792beed1d",
        "name": "Look 1",
        "label": "Look 1",
        "order": 1,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "numeric-1-circle-outline",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 90,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "55221f070eb0914e",
        "type": "ui-button",
        "z": "68070fdec3517672",
        "group": "5548920792beed1d",
        "name": "Look 2",
        "label": "Look 2",
        "order": 2,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "numeric-2-circle-outline",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 210,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "f03989ab5817b69d",
        "type": "ui-button-group",
        "z": "68070fdec3517672",
        "name": "Destination",
        "group": "bb2a29f0c26b5f4b",
        "order": 1,
        "width": 6,
        "height": "2",
        "label": "",
        "className": "",
        "rounded": true,
        "useThemeColors": true,
        "passthru": false,
        "options": [
            {
                "label": "All Atriums",
                "icon": "",
                "value": "option_0",
                "valueType": "str",
                "color": "#009933"
            },
            {
                "label": "Atrium 1",
                "icon": "",
                "value": "option_1",
                "valueType": "str",
                "color": "#999999"
            },
            {
                "label": "Atrium 2",
                "icon": "",
                "value": "option_2",
                "valueType": "str",
                "color": "#ff6666"
            },
            {
                "label": "Atrium 3",
                "icon": "",
                "value": "option_3",
                "valueType": "str",
                "color": "#009999"
            },
            {
                "label": "Landscape",
                "icon": "",
                "value": "option_4",
                "valueType": "str",
                "color": "#cccc00"
            }
        ],
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "0eaf2ea794d92795",
        "type": "ui-button",
        "z": "68070fdec3517672",
        "group": "bb2a29f0c26b5f4b",
        "name": "Look 3",
        "label": "Look 3",
        "order": 4,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "numeric-3-circle-outline",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 330,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "91c0af9b1da5b8bf",
        "type": "ui-button",
        "z": "68070fdec3517672",
        "group": "bb2a29f0c26b5f4b",
        "name": "Look 4",
        "label": "Look 4",
        "order": 5,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "numeric-4-circle-outline",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 450,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "0f0e1d9147fd0a52",
        "type": "http request",
        "z": "4427b69f42325844",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://host.docker.internal:3019/v0/state",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 550,
        "y": 700,
        "wires": [
            [
                "25b16ed9a6a61254"
            ]
        ]
    },
    {
        "id": "dcf9235fa722d331",
        "type": "inject",
        "z": "4427b69f42325844",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 340,
        "y": 700,
        "wires": [
            [
                "0f0e1d9147fd0a52",
                "1f124628f2dacf95"
            ]
        ]
    },
    {
        "id": "25b16ed9a6a61254",
        "type": "debug",
        "z": "4427b69f42325844",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 700,
        "wires": []
    },
    {
        "id": "1f124628f2dacf95",
        "type": "http request",
        "z": "4427b69f42325844",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://host.docker.internal:3019/v0/play/2",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 550,
        "y": 740,
        "wires": [
            [
                "25b16ed9a6a61254"
            ]
        ]
    },
    {
        "id": "0979cea3988209be",
        "type": "inject",
        "z": "4427b69f42325844",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 340,
        "y": 800,
        "wires": [
            [
                "40b13d2f22965063"
            ]
        ]
    },
    {
        "id": "40b13d2f22965063",
        "type": "http request",
        "z": "4427b69f42325844",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://host.docker.internal:3019/v1/sse",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 550,
        "y": 800,
        "wires": [
            [
                "25b16ed9a6a61254"
            ]
        ]
    },
    {
        "id": "8417d5858586e845",
        "type": "inject",
        "z": "4427b69f42325844",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 340,
        "y": 860,
        "wires": [
            [
                "ab661dd2f52ce072"
            ]
        ]
    },
    {
        "id": "ab661dd2f52ce072",
        "type": "http request",
        "z": "4427b69f42325844",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://host.docker.internal:3019/v0/timelines",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 550,
        "y": 860,
        "wires": [
            [
                "25b16ed9a6a61254"
            ]
        ]
    },
    {
        "id": "67d8972010009125",
        "type": "http request",
        "z": "4427b69f42325844",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://host.docker.internal:3019/{{{topic}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 550,
        "y": 1040,
        "wires": [
            [
                "90e94aa4a467747c",
                "b1f027da3ca2ce46",
                "4f7fc0d6fe6768a1"
            ]
        ]
    },
    {
        "id": "9a5c4307d07b3346",
        "type": "inject",
        "z": "4427b69f42325844",
        "name": "",
        "props": [
            {
                "p": "method",
                "v": "GET",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "v0/timelines",
        "x": 350,
        "y": 1000,
        "wires": [
            [
                "67d8972010009125"
            ]
        ]
    },
    {
        "id": "90e94aa4a467747c",
        "type": "debug",
        "z": "4427b69f42325844",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 1040,
        "wires": []
    },
    {
        "id": "e35d8ae5a4661a03",
        "type": "inject",
        "z": "4427b69f42325844",
        "name": "",
        "props": [
            {
                "p": "method",
                "v": "GET",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "v0/state",
        "x": 340,
        "y": 1040,
        "wires": [
            [
                "67d8972010009125"
            ]
        ]
    },
    {
        "id": "d87b48746227f5c2",
        "type": "inject",
        "z": "4427b69f42325844",
        "name": "",
        "props": [
            {
                "p": "method",
                "v": "POST",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "v0/play/2",
        "x": 340,
        "y": 1080,
        "wires": [
            [
                "67d8972010009125"
            ]
        ]
    },
    {
        "id": "1962c3ac9d0da7c8",
        "type": "link in",
        "z": "4427b69f42325844",
        "name": "To WO HTTP Request",
        "links": [
            "fe7a6403efe9d533"
        ],
        "x": 385,
        "y": 1140,
        "wires": [
            [
                "67d8972010009125"
            ]
        ]
    },
    {
        "id": "aeda62a37bec44b7",
        "type": "change",
        "z": "4427b69f42325844",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "wo_timelines",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "b1f027da3ca2ce46",
        "type": "switch",
        "z": "4427b69f42325844",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Main Timeline",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "clockTime",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 670,
        "y": 940,
        "wires": [
            [
                "aeda62a37bec44b7"
            ],
            [
                "be79e0848fdfe95e"
            ]
        ]
    },
    {
        "id": "be79e0848fdfe95e",
        "type": "change",
        "z": "4427b69f42325844",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "wo_state",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "4f7fc0d6fe6768a1",
        "type": "file",
        "z": "4427b69f42325844",
        "name": "",
        "filename": "/data/wo.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 730,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "922831f9300c30d1",
        "type": "file in",
        "z": "4427b69f42325844",
        "name": "",
        "filename": "",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 560,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "ma-init-inj",
        "type": "inject",
        "z": "ma-tab",
        "name": "Init MA config on deploy",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 160,
        "y": 60,
        "wires": [
            [
                "ma-init-fn"
            ]
        ]
    },
    {
        "id": "ma-init-fn",
        "type": "function",
        "z": "ma-tab",
        "name": "MA Init (load config + set globals)",
        "func": "'use strict';\nvar fs   = require('fs');\nvar path = require('path');\nvar userDir = (typeof RED !== 'undefined' && RED.settings && RED.settings.userDir)\n    ? RED.settings.userDir : process.cwd();\n\nfunction findConfigPath(dir) {\n    var tried = [];\n    try {\n        var projDir = path.join(dir, 'projects');\n        var projects = fs.readdirSync(projDir);\n        for (var i = 0; i < projects.length; i++) {\n            var p = path.join(projDir, projects[i], 'node-red', 'config', 'ma-config.json');\n            tried.push(p);\n            if (fs.existsSync(p)) return { path: p, tried: tried };\n        }\n    } catch(e) {\n        if (e.code !== 'ENOENT' && e.code !== 'ENOTDIR') {\n            node.warn('[MA Init] projects dir scan: ' + e.message);\n        }\n    }\n    var p2 = path.join(dir, 'node-red', 'config', 'ma-config.json');\n    tried.push(p2);\n    if (fs.existsSync(p2)) return { path: p2, tried: tried };\n    var p3 = path.join(dir, 'config', 'ma-config.json');\n    tried.push(p3);\n    if (fs.existsSync(p3)) return { path: p3, tried: tried };\n    return { path: null, tried: tried };\n}\n\nvar found = findConfigPath(userDir);\nif (!found.path) {\n    node.error('[MA Init] ma-config.json not found. Tried: ' + found.tried.join(', '));\n    return { topic: 'ma/init/error', payload: { error: 'ma-config.json not found', attempted: found.tried } };\n}\nvar configPath = found.path;\nvar config;\ntry {\n    config = JSON.parse(fs.readFileSync(configPath, 'utf8'));\n} catch (err) {\n    node.error('[MA Init] Failed to read config from ' + configPath + ': ' + err.message);\n    return { topic: 'ma/init/error', payload: { error: err.message, path: configPath } };\n}\nglobal.set('ma_config', config);\nif (global.get('ma_owner') === undefined) {\n    global.set('ma_owner', null);\n    global.set('ma_owner_setBy', 'ma-init');\n}\nif (!global.get('ma_zones')) global.set('ma_zones', { a1: false, a2: false, a3: false, ls: false });\nif (global.get('ma_exec_cue') === undefined) global.set('ma_exec_cue', 1);\nif (global.get('ma_seq_id')   === undefined) global.set('ma_seq_id',   1);\nif (global.get('ma_seq_cue')  === undefined) global.set('ma_seq_cue',  1);\nvar owner = global.get('ma_owner');\nvar setBy = global.get('ma_owner_setBy');\nvar zones = Object.keys((config.zoneExecutor || {})).join(', ');\nnode.log('[MA Init] Config loaded from ' + configPath + '. Zones: ' + zones + '. Owner: ' + owner);\nreturn { topic: 'ma/init', payload: { config: config, owner: owner, setBy: setBy, message: 'MA config loaded. Zones: ' + zones + '. Owner: ' + owner } };",
        "outputs": 1,
        "x": 440,
        "y": 60,
        "wires": [
            [
                "ma-d2-owner-dbg"
            ]
        ]
    },
    {
        "id": "ma-d2-btn-nodered",
        "type": "ui-button",
        "z": "ma-tab",
        "group": "ma-d2-owner-grp",
        "name": "Set owner: nodered",
        "label": "Own: nodered",
        "order": 1,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "tooltip": "Claim MA owner as 'nodered' — UI commands execute; watchout commands blocked",
        "color": "",
        "bgcolor": "#1565c0",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "nodered",
        "payloadType": "str",
        "topic": "ma/setOwner",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "ma-d2-set-owner-fn"
            ]
        ]
    },
    {
        "id": "ma-d2-btn-watchout",
        "type": "ui-button",
        "z": "ma-tab",
        "group": "ma-d2-owner-grp",
        "name": "Set owner: watchout",
        "label": "Own: watchout",
        "order": 2,
        "width": "3",
        "height": "1",
        "tooltip": "Claim MA owner as 'watchout' — UI commands are blocked until cleared",
        "color": "",
        "bgcolor": "#e65100",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "watchout",
        "payloadType": "str",
        "topic": "ma/setOwner",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "enablePointerup": false,
        "x": 160,
        "y": 240,
        "wires": [
            [
                "ma-d2-set-owner-fn"
            ]
        ]
    },
    {
        "id": "ma-d2-btn-clear",
        "type": "ui-button",
        "z": "ma-tab",
        "group": "ma-d2-owner-grp",
        "name": "Clear owner",
        "label": "Clear owner",
        "order": 3,
        "width": "3",
        "height": "1",
        "tooltip": "Release MA owner gate — any caller can send commands",
        "color": "",
        "bgcolor": "#616161",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "ma/setOwner",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "enablePointerup": false,
        "x": 150,
        "y": 320,
        "wires": [
            [
                "ma-d2-set-owner-fn"
            ]
        ]
    },
    {
        "id": "ma-d2-set-owner-fn",
        "type": "function",
        "z": "ma-tab",
        "name": "Set ma.owner",
        "func": "'use strict';\nvar owner = (msg.payload === '' || msg.payload == null) ? null : msg.payload;\nmsg.payload = { action: 'setOwner', owner: owner, setBy: 'nodered-ui' };\nreturn msg;",
        "outputs": 1,
        "x": 420,
        "y": 240,
        "wires": [
            [
                "ma-control-fn"
            ]
        ]
    },
    {
        "id": "ma-d2-owner-dbg",
        "type": "debug",
        "z": "ma-tab",
        "name": "Owner status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.owner",
        "statusType": "auto",
        "x": 640,
        "y": 240,
        "wires": []
    },
    {
        "id": "ma-d2-sw-all",
        "type": "ui-switch",
        "z": "ma-tab",
        "name": "All zones",
        "label": "All zones",
        "group": "ma-d2-zones-grp",
        "order": 1,
        "width": "6",
        "height": "1",
        "passthru": false,
        "topic": "zone/all",
        "topicType": "str",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "offcolor": "",
        "x": 150,
        "y": 460,
        "wires": [
            [
                "ma-d2-zone-sync-fn"
            ]
        ]
    },
    {
        "id": "ma-d2-sw-a1",
        "type": "ui-switch",
        "z": "ma-tab",
        "name": "Zone a1",
        "label": "a1  (Exec 1.101)",
        "group": "ma-d2-zones-grp",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "topic": "zone/a1",
        "topicType": "str",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "offcolor": "",
        "x": 150,
        "y": 540,
        "wires": [
            [
                "ma-d2-zone-sync-fn"
            ]
        ]
    },
    {
        "id": "ma-d2-sw-a2",
        "type": "ui-switch",
        "z": "ma-tab",
        "name": "Zone a2",
        "label": "a2  (Exec 1.102)",
        "group": "ma-d2-zones-grp",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": false,
        "topic": "zone/a2",
        "topicType": "str",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "offcolor": "",
        "x": 150,
        "y": 620,
        "wires": [
            [
                "ma-d2-zone-sync-fn"
            ]
        ]
    },
    {
        "id": "ma-d2-sw-a3",
        "type": "ui-switch",
        "z": "ma-tab",
        "name": "Zone a3",
        "label": "a3  (Exec 1.103)",
        "group": "ma-d2-zones-grp",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": false,
        "topic": "zone/a3",
        "topicType": "str",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "offcolor": "",
        "x": 150,
        "y": 700,
        "wires": [
            [
                "ma-d2-zone-sync-fn"
            ]
        ]
    },
    {
        "id": "ma-d2-sw-ls",
        "type": "ui-switch",
        "z": "ma-tab",
        "name": "Zone ls",
        "label": "ls   (Exec 1.104)",
        "group": "ma-d2-zones-grp",
        "order": 5,
        "width": "3",
        "height": "1",
        "passthru": false,
        "topic": "zone/ls",
        "topicType": "str",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "offcolor": "",
        "x": 150,
        "y": 780,
        "wires": [
            [
                "ma-d2-zone-sync-fn"
            ]
        ]
    },
    {
        "id": "ma-d2-zone-sync-fn",
        "type": "function",
        "z": "ma-tab",
        "name": "Zone Sync",
        "func": "'use strict';\n// Outputs: [sw-all, sw-a1, sw-a2, sw-a3, sw-ls]\n// passthru:false on each switch prevents incoming state msgs from re-firing\n// output, so updating switches here never creates feedback loops.\nvar topic = msg.topic;\nvar val = !!msg.payload;\nvar zones = global.get('ma_zones') || { a1: false, a2: false, a3: false, ls: false };\nif (topic === 'zone/all') {\n    zones.a1 = val;\n    zones.a2 = val;\n    zones.a3 = val;\n    zones.ls = val;\n} else {\n    var zone = topic.split('/')[1];\n    if (zone && Object.prototype.hasOwnProperty.call(zones, zone)) {\n        zones[zone] = val;\n    }\n}\nglobal.set('ma_zones', zones);\nvar allOn = zones.a1 && zones.a2 && zones.a3 && zones.ls;\nreturn [\n    [{ payload: allOn,    topic: 'zone/all' }],\n    [{ payload: zones.a1, topic: 'zone/a1'  }],\n    [{ payload: zones.a2, topic: 'zone/a2'  }],\n    [{ payload: zones.a3, topic: 'zone/a3'  }],\n    [{ payload: zones.ls, topic: 'zone/ls'  }]\n];",
        "outputs": 5,
        "x": 430,
        "y": 620,
        "wires": [
            [
                "ma-d2-sw-all"
            ],
            [
                "ma-d2-sw-a1"
            ],
            [
                "ma-d2-sw-a2"
            ],
            [
                "ma-d2-sw-a3"
            ],
            [
                "ma-d2-sw-ls"
            ]
        ]
    },
    {
        "id": "ma-d2-cue-num",
        "type": "ui-number-input",
        "z": "ma-tab",
        "group": "ma-d2-exec-grp",
        "name": "Executor cue number",
        "label": "Cue #",
        "order": 1,
        "width": "3",
        "height": "1",
        "topic": "ma/cue",
        "topicType": "str",
        "min": 1,
        "max": 9999,
        "step": 1,
        "tooltip": "Executor cue number to jump to",
        "passthru": true,
        "className": "",
        "x": 170,
        "y": 900,
        "wires": [
            [
                "ma-d2-store-cue-fn"
            ]
        ]
    },
    {
        "id": "ma-d2-store-cue-fn",
        "type": "function",
        "z": "ma-tab",
        "name": "Store exec cue",
        "func": "global.set('ma_exec_cue', msg.payload);\nreturn null;",
        "outputs": 0,
        "x": 420,
        "y": 900,
        "wires": []
    },
    {
        "id": "ma-d2-exec-btn",
        "type": "ui-button",
        "z": "ma-tab",
        "group": "ma-d2-exec-grp",
        "name": "Go Executor Cue",
        "label": "▶ Go Executor Cue",
        "order": 2,
        "width": "3",
        "height": "1",
        "tooltip": "Send: Go+ Executor <zone> Cue <cue#> for each selected zone",
        "color": "",
        "bgcolor": "#2e7d32",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "go",
        "payloadType": "str",
        "topic": "ma/goExecutorCue",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "enablePointerup": false,
        "x": 160,
        "y": 980,
        "wires": [
            [
                "ma-d2-exec-cue-fn"
            ]
        ]
    },
    {
        "id": "ma-d2-exec-cue-fn",
        "type": "function",
        "z": "ma-tab",
        "name": "goExecutorCue",
        "func": "'use strict';\nvar zones = global.get('ma_zones') || { a1: false, a2: false, a3: false, ls: false };\nvar selectedZones = ['a1', 'a2', 'a3', 'ls'].filter(function(z) { return zones[z]; });\nif (selectedZones.length === 0) {\n    node.warn('[MA] goExecutorCue — no zones selected');\n    return null;\n}\nvar cue = global.get('ma_exec_cue');\nif (cue == null) cue = 1;\nmsg.payload = { action: 'goExecutorCue', zones: selectedZones, cue: cue };\nreturn msg;",
        "outputs": 1,
        "x": 420,
        "y": 980,
        "wires": [
            [
                "ma-control-fn"
            ]
        ]
    },
    {
        "id": "ma-d2-exec-sent-dbg",
        "type": "debug",
        "z": "ma-tab",
        "name": "Executor -> Sent",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 940,
        "wires": []
    },
    {
        "id": "ma-d2-exec-blkd-dbg",
        "type": "debug",
        "z": "ma-tab",
        "name": "Executor -> Blocked",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 1020,
        "wires": []
    },
    {
        "id": "ma-d2-seq-id-num",
        "type": "ui-number-input",
        "z": "ma-tab",
        "group": "ma-d2-seq-grp",
        "name": "Sequence ID",
        "label": "Sequence #",
        "order": 1,
        "width": "3",
        "height": "1",
        "topic": "ma/seqId",
        "topicType": "str",
        "min": 1,
        "max": 9999,
        "step": 1,
        "tooltip": "MA sequence ID",
        "passthru": true,
        "className": "",
        "x": 160,
        "y": 1120,
        "wires": [
            [
                "ma-d2-store-seq-id-fn"
            ]
        ]
    },
    {
        "id": "ma-d2-store-seq-id-fn",
        "type": "function",
        "z": "ma-tab",
        "name": "Store seq id",
        "func": "global.set('ma_seq_id', msg.payload);\nreturn null;",
        "outputs": 0,
        "x": 420,
        "y": 1120,
        "wires": []
    },
    {
        "id": "ma-d2-seq-cue-num",
        "type": "ui-number-input",
        "z": "ma-tab",
        "group": "ma-d2-seq-grp",
        "name": "Sequence cue number",
        "label": "Cue #",
        "order": 2,
        "width": "3",
        "height": "1",
        "topic": "ma/seqCue",
        "topicType": "str",
        "min": 1,
        "max": 9999,
        "step": 1,
        "tooltip": "Sequence cue number to jump to",
        "passthru": true,
        "className": "",
        "x": 170,
        "y": 1200,
        "wires": [
            [
                "ma-d2-store-seq-cue-fn"
            ]
        ]
    },
    {
        "id": "ma-d2-store-seq-cue-fn",
        "type": "function",
        "z": "ma-tab",
        "name": "Store seq cue",
        "func": "global.set('ma_seq_cue', msg.payload);\nreturn null;",
        "outputs": 0,
        "x": 430,
        "y": 1200,
        "wires": []
    },
    {
        "id": "ma-d2-seq-btn",
        "type": "ui-button",
        "z": "ma-tab",
        "group": "ma-d2-seq-grp",
        "name": "Go Sequence Cue",
        "label": "▶ Go Sequence Cue",
        "order": 3,
        "width": "3",
        "height": "1",
        "tooltip": "Send: Go+ Sequence <id> Cue <cue#>",
        "color": "",
        "bgcolor": "#1565c0",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "go",
        "payloadType": "str",
        "topic": "ma/goSequenceCue",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "enablePointerup": false,
        "x": 160,
        "y": 1280,
        "wires": [
            [
                "ma-d2-seq-cue-fn"
            ]
        ]
    },
    {
        "id": "ma-d2-seq-cue-fn",
        "type": "function",
        "z": "ma-tab",
        "name": "goSequenceCue",
        "func": "'use strict';\nvar seq = global.get('ma_seq_id');\nif (seq == null) seq = 1;\nvar cue = global.get('ma_seq_cue');\nif (cue == null) cue = 1;\nmsg.payload = { action: 'goSequenceCue', sequence: seq, cue: cue };\nreturn msg;",
        "outputs": 1,
        "x": 420,
        "y": 1280,
        "wires": [
            [
                "ma-control-fn"
            ]
        ]
    },
    {
        "id": "ma-d2-seq-sent-dbg",
        "type": "debug",
        "z": "ma-tab",
        "name": "Sequence -> Sent",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 1240,
        "wires": []
    },
    {
        "id": "ma-d2-seq-blkd-dbg",
        "type": "debug",
        "z": "ma-tab",
        "name": "Sequence -> Blocked",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 1320,
        "wires": []
    },
    {
        "id": "ma-control-fn",
        "type": "function",
        "z": "ma-tab",
        "name": "MA Control (gate + cmd builder)",
        "func": "'use strict';\nvar input = msg.payload || {};\nvar action = input.action;\nvar rawOwner = global.get('ma_owner');\nvar currentOwner = (rawOwner !== undefined) ? rawOwner : null;\nvar maConfig = global.get('ma_config') || {};\n\nfunction sendCmd(cmdStr) {\n    node.send([{ topic: '/cmd', payload: cmdStr }, null]);\n}\nfunction sendStatus(topic, payload) {\n    node.send([null, { topic: topic, payload: payload }]);\n}\n\nif (action === 'setOwner') {\n    var newOwner = (input.owner != null && input.owner !== '') ? input.owner : null;\n    global.set('ma_owner', newOwner);\n    global.set('ma_owner_setBy', input.setBy || 'nodered-ui');\n    sendStatus('ma/owner', { action: 'setOwner', owner: newOwner, setBy: global.get('ma_owner_setBy') });\n    return null;\n}\n\nif (action === 'goExecutorCue') {\n    if (currentOwner !== null && currentOwner !== 'nodered') {\n        sendStatus('ma/goExecutorCue/blocked', { action: action, requiredOwner: 'nodered', currentOwner: currentOwner });\n        return null;\n    }\n    var zoneExecutor = maConfig.zoneExecutor;\n    if (!zoneExecutor) {\n        sendStatus('ma/error', { error: 'global.ma_config.zoneExecutor not set — run init first' });\n        return null;\n    }\n    var zones = Array.isArray(input.zones) ? input.zones : [];\n    if (zones.length === 0) {\n        sendStatus('ma/error', { error: \"'zones' must be a non-empty array for goExecutorCue\" });\n        return null;\n    }\n    if (input.cue == null) {\n        sendStatus('ma/error', { error: \"'cue' is required for goExecutorCue\" });\n        return null;\n    }\n    var msgs = zones.map(function (zone) {\n        var exec = (zoneExecutor[zone] !== undefined) ? String(zoneExecutor[zone]) : String(zone);\n        return { topic: '/cmd', payload: 'Go+ Executor ' + exec + ' Cue ' + input.cue };\n    });\n    node.send([msgs, null]);\n    return null;\n}\n\nif (action === 'goSequenceCue') {\n    if (currentOwner !== null && currentOwner !== 'watchout') {\n        sendStatus('ma/goSequenceCue/blocked', { action: action, requiredOwner: 'watchout', currentOwner: currentOwner });\n        return null;\n    }\n    if (input.sequence == null) {\n        sendStatus('ma/error', { error: \"'sequence' is required for goSequenceCue\" });\n        return null;\n    }\n    if (input.cue == null) {\n        sendStatus('ma/error', { error: \"'cue' is required for goSequenceCue\" });\n        return null;\n    }\n    sendCmd('Go+ Sequence ' + input.sequence + ' Cue ' + input.cue);\n    return null;\n}\n\nsendStatus('ma/error', { error: \"Unknown action: '\" + action + \"'\" });\nreturn null;",
        "outputs": 2,
        "x": 700,
        "y": 620,
        "wires": [
            [
                "ma-osc-node",
                "ma-d2-exec-sent-dbg",
                "ma-d2-seq-sent-dbg"
            ],
            [
                "ma-d2-owner-dbg",
                "ma-d2-exec-blkd-dbg",
                "ma-d2-seq-blkd-dbg"
            ]
        ]
    },
    {
        "id": "ma-udp-primary",
        "type": "udp out",
        "z": "ma-tab",
        "name": "",
        "addr": "host.docker.internal",
        "iface": "",
        "port": "8000",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1200,
        "y": 580,
        "wires": []
    },
    {
        "id": "ma-udp-backup",
        "type": "udp out",
        "z": "ma-tab",
        "name": "UDP Backup RPU (10.154.10.104:8000)",
        "addr": "10.154.10.104",
        "iface": "",
        "port": "8000",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1230,
        "y": 660,
        "wires": []
    },
    {
        "id": "ma-osc-node",
        "type": "osc",
        "z": "ma-tab",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 960,
        "y": 620,
        "wires": [
            [
                "ma-udp-primary",
                "ma-udp-backup"
            ]
        ]
    },
    {
        "id": "wo2-startup-inj",
        "type": "inject",
        "z": "wo2-tab",
        "name": "Startup (once)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.3,
        "topic": "",
        "payload": "/data/projects/XYZ-Exit10/node-red/config/watchout-config.json",
        "payloadType": "str",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "wo2-set-cfgpath-fn"
            ]
        ]
    },
    {
        "id": "wo2-set-cfgpath-fn",
        "type": "function",
        "z": "wo2-tab",
        "name": "Set config path",
        "func": "// Set path to watchout-config.json (edit this path if needed)\nmsg.filename = msg.payload || '/data/projects/XYZ-Exit10/node-red/config/watchout-config.json';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 60,
        "wires": [
            [
                "wo2-config-file-in"
            ]
        ]
    },
    {
        "id": "wo2-config-file-in",
        "type": "file in",
        "z": "wo2-tab",
        "name": "Read watchout-config.json",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": true,
        "encoding": "none",
        "allProps": false,
        "x": 510,
        "y": 60,
        "wires": [
            [
                "wo2-parse-config-fn"
            ]
        ]
    },
    {
        "id": "wo2-parse-config-fn",
        "type": "function",
        "z": "wo2-tab",
        "name": "Parse config",
        "func": "// Parse watchout-config.json\nlet cfg = {};\ntry {\n    cfg = JSON.parse(msg.payload);\n} catch(e) {\n    node.warn('[Watchout] watchout-config.json parse error, using defaults: ' + e.message);\n}\ncfg.host        = cfg.host        || 'localhost';\ncfg.port        = cfg.port        || 3019;\ncfg.mappingFile = cfg.mappingFile || '/projects/XYZ-Exit10/node-red/data/timeline-mapping.json';\nflow.set('watchout_config', cfg);\nnode.status({ fill: 'green', shape: 'dot', text: 'Config: ' + cfg.host + ':' + cfg.port });\n// Feed filename forward to read mapping file\nmsg.filename = cfg.mappingFile;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 60,
        "wires": [
            [
                "wo2-mapping-file-in"
            ]
        ]
    },
    {
        "id": "wo2-cfg-catch",
        "type": "catch",
        "z": "wo2-tab",
        "name": "Config file missing",
        "scope": [
            "wo2-config-file-in"
        ],
        "uncaught": false,
        "x": 410,
        "y": 160,
        "wires": [
            [
                "wo2-default-cfg-fn"
            ]
        ]
    },
    {
        "id": "wo2-default-cfg-fn",
        "type": "function",
        "z": "wo2-tab",
        "name": "Create default config",
        "func": "// Config file missing — create defaults\nconst defaultCfg = {\n    host: 'localhost',\n    port: 3019,\n    mappingFile: '/projects/XYZ-Exit10/node-red/data/timeline-mapping.json'\n};\nflow.set('watchout_config', defaultCfg);\nnode.warn('[Watchout] watchout-config.json not found — writing defaults');\nmsg.filename = '/config/watchout-config.json';\nmsg.payload  = JSON.stringify(defaultCfg, null, 2);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 160,
        "wires": [
            [
                "wo2-write-cfg-file"
            ]
        ]
    },
    {
        "id": "wo2-write-cfg-file",
        "type": "file",
        "z": "wo2-tab",
        "name": "Write watchout-config.json",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 940,
        "y": 160,
        "wires": [
            [
                "wo2-after-write-cfg-fn"
            ]
        ]
    },
    {
        "id": "wo2-after-write-cfg-fn",
        "type": "function",
        "z": "wo2-tab",
        "name": "Set mapping path",
        "func": "// After writing default config, continue to mapping read\nconst cfg = flow.get('watchout_config') || {};\nmsg.filename = cfg.mappingFile || '/projects/XYZ-Exit10/node-red/data/timeline-mapping.json';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 160,
        "wires": [
            [
                "wo2-mapping-file-in"
            ]
        ]
    },
    {
        "id": "wo2-mapping-file-in",
        "type": "file in",
        "z": "wo2-tab",
        "name": "Read timeline-mapping.json",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": true,
        "encoding": "none",
        "allProps": false,
        "x": 960,
        "y": 60,
        "wires": [
            [
                "wo2-parse-mapping-fn"
            ]
        ]
    },
    {
        "id": "wo2-parse-mapping-fn",
        "type": "function",
        "z": "wo2-tab",
        "name": "Parse mapping",
        "func": "// Parse timeline-mapping.json\nlet mapping = {};\ntry {\n    const raw = JSON.parse(msg.payload);\n    mapping = raw.mapping || raw || {};\n} catch(e) {\n    node.warn('[Watchout] timeline-mapping.json parse error, starting empty: ' + e.message);\n}\nflow.set('watchout_mapping', mapping);\nflow.set('watchout_pending', null);\nconst count = Object.keys(mapping).length;\nnode.status({ fill: 'green', shape: 'dot', text: 'Mapping loaded: ' + count + ' timelines' });\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "wo2-map-catch",
        "type": "catch",
        "z": "wo2-tab",
        "name": "Mapping file missing",
        "scope": [
            "wo2-mapping-file-in"
        ],
        "uncaught": false,
        "x": 950,
        "y": 260,
        "wires": [
            [
                "wo2-default-map-fn"
            ]
        ]
    },
    {
        "id": "wo2-default-map-fn",
        "type": "function",
        "z": "wo2-tab",
        "name": "Empty mapping",
        "func": "// Mapping file missing — start with empty mapping\nflow.set('watchout_mapping', {});\nflow.set('watchout_pending', null);\nnode.warn('[Watchout] timeline-mapping.json not found — starting with empty mapping');\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "wo2-discover-btn",
        "type": "ui-button",
        "z": "wo2-tab",
        "group": "20eba16b1f4b5a48",
        "name": "Re-discover Timelines",
        "label": "Re-discover Timelines",
        "order": 1,
        "width": "0",
        "height": "0",
        "emulateClick": false,
        "tooltip": "Fetch timeline list from Watchout and check for changes",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "wo2-discover-fn"
            ]
        ]
    },
    {
        "id": "wo2-discover-fn",
        "type": "function",
        "z": "wo2-tab",
        "name": "Prepare timelines request",
        "func": "// Build the HTTP GET request for /v0/timelines\nconst cfg  = flow.get('watchout_config') || {};\nconst host = cfg.host || 'localhost';\nconst port = cfg.port || 3019;\nmsg.method  = 'GET';\nmsg.url     = 'http://' + host + ':' + port + '/v0/timelines';\nmsg.headers = { 'Content-Type': 'application/json' };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 380,
        "wires": [
            [
                "wo2-discover-http"
            ]
        ]
    },
    {
        "id": "wo2-diff-template",
        "type": "ui-template",
        "z": "wo2-tab",
        "group": "20eba16b1f4b5a48",
        "page": "",
        "ui": "",
        "name": "Diff UI",
        "order": 2,
        "width": "0",
        "height": "0",
        "format": "<template>\n  <div style=\"padding:8px; min-height:220px;\">\n    <p v-if=\"!msg\" style=\"color:#aaa\">Waiting for discovery result...</p>\n\n    <div v-else-if=\"msg.payload.status === 'error'\" style=\"color:#f44336\">\n      <strong>Discovery error</strong><br>{{ msg.payload.error }}\n    </div>\n\n    <div v-else-if=\"msg.payload.status === 'discovered' || msg.payload.status === 'diff_ready'\">\n      <strong>\n        {{ (msg.payload.diff && (msg.payload.diff.added?.length || msg.payload.diff.removed?.length || msg.payload.diff.changed?.length))\n            ? 'Changes detected - review before saving'\n            : 'Discovery result' }}\n      </strong>\n\n      <p style=\"margin:6px 0; color:#aaa;\">\n        {{ msg.payload.count ?? 0 }} timelines discovered\n      </p>\n\n      <pre style=\"background:#1b1b2e;color:#e0e0e0;padding:8px;border-radius:4px;font-size:0.85em;max-height:200px;overflow-y:auto\">\n{{ (msg.payload.diffLines && msg.payload.diffLines.length) ? msg.payload.diffLines.join('\\n') : 'No diff lines' }}\n      </pre>\n    </div>\n\n    <div v-else-if=\"msg.payload.status === 'no_changes'\" style=\"color:#4caf50\">\n      <strong>No changes detected</strong>\n      <pre style=\"background:#1b1b2e;color:#e0e0e0;padding:8px;border-radius:4px;font-size:0.85em;max-height:180px;overflow-y:auto\">\n{{ msg.payload.diffLines ? msg.payload.diffLines.join('\\n') : '' }}\n      </pre>\n    </div>\n\n    <div v-else style=\"color:#aaa\">\n      Unknown status: {{ msg.payload.status }}\n    </div>\n  </div>\n</template>\n\n<script>\nexport default {}\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 590,
        "y": 380,
        "wires": [
            [
                "wo2-action-switch"
            ]
        ]
    },
    {
        "id": "wo2-action-switch",
        "type": "switch",
        "z": "wo2-tab",
        "name": "Confirm or Cancel?",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "confirm",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "cancel",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 460,
        "wires": [
            [
                "wo2-confirm-prepare-fn"
            ],
            [
                "wo2-cancel-fn"
            ]
        ]
    },
    {
        "id": "wo2-confirm-prepare-fn",
        "type": "function",
        "z": "wo2-tab",
        "name": "Prepare mapping write",
        "func": "// Prepare mapping JSON for file write\nconst pending = flow.get('watchout_pending');\nif (!pending) {\n    node.send({ payload: { status: 'nothing_pending' }, topic: 'watchout/confirm' });\n    return null;\n}\n\n// Update flow context immediately\nflow.set('watchout_mapping', pending);\nflow.set('watchout_pending', null);\n\n// Prepare file write\nconst cfg = flow.get('watchout_config') || {};\nmsg.filename = cfg.mappingFile || '/data/projects/XYZ-Exit10/node-red/data/timeline-mapping.json';\nmsg.payload  = JSON.stringify({ mapping: pending, lastSaved: new Date().toISOString() }, null, 2);\nmsg._pendingMapping = pending;\nmsg._savedAt = new Date().toISOString();\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 440,
        "wires": [
            [
                "wo2-write-mapping-file"
            ]
        ]
    },
    {
        "id": "wo2-write-mapping-file",
        "type": "file",
        "z": "wo2-tab",
        "name": "Write timeline-mapping.json",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 1030,
        "y": 440,
        "wires": [
            [
                "wo2-confirm-done-fn"
            ]
        ]
    },
    {
        "id": "wo2-confirm-done-fn",
        "type": "function",
        "z": "wo2-tab",
        "name": "Confirm done",
        "func": "// Confirm & Save completed\nconst mapping = msg._pendingMapping || flow.get('watchout_mapping') || {};\nnode.status({ fill: 'green', shape: 'dot', text: 'Saved: ' + Object.keys(mapping).length + ' timelines' });\nnode.send({\n    payload: {\n        status:  'saved',\n        mapping: mapping,\n        savedAt: msg._savedAt || new Date().toISOString()\n    },\n    topic: 'watchout/confirm'\n});\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 440,
        "wires": [
            [
                "wo2-status-template"
            ]
        ]
    },
    {
        "id": "wo2-cancel-fn",
        "type": "function",
        "z": "wo2-tab",
        "name": "Cancel discovery",
        "func": "// Cancel pending discovery\nflow.set('watchout_pending', null);\nnode.send({ payload: { status: 'cancelled' }, topic: 'watchout/cancel' });\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 520,
        "wires": [
            [
                "wo2-status-template"
            ]
        ]
    },
    {
        "id": "wo2-status-template",
        "type": "ui-template",
        "z": "wo2-tab",
        "group": "20eba16b1f4b5a48",
        "page": "",
        "ui": "",
        "name": "Mapping Status",
        "order": 5,
        "width": "0",
        "height": "0",
        "format": "<template>\n  <div style=\"padding:4px\">\n    <p v-if=\"!msg\" style=\"color:#aaa\">No mapping operation yet.</p>\n    <div v-else-if=\"msg.payload.status === 'saved'\" style=\"color:#4caf50\">\n      <strong>Mapping saved</strong>\n      <p style=\"font-size:0.85em;color:#aaa\">{{ msg.payload.savedAt }}</p>\n      <p><strong>{{ Object.keys(msg.payload.mapping || {}).length }} timelines active:</strong></p>\n      <div v-for=\"(tid, cid) in (msg.payload.mapping || {})\" :key=\"cid\"\n           style=\"font-family:monospace;font-size:0.85em\">\n        <span style=\"color:#80cbc4\">{{ cid }}</span>\n        <span style=\"color:#aaa\"> -&gt; id </span>\n        <span style=\"color:#1e3a8a\">{{ tid }}</span>\n      </div>\n    </div>\n    <div v-else-if=\"msg.payload.status === 'cancelled'\" style=\"color:#ff9800\">\n      Discovery cancelled - mapping unchanged.\n    </div>\n    <div v-else-if=\"msg.payload.status === 'nothing_pending'\" style=\"color:#aaa\">\n      Nothing pending - run discovery first.\n    </div>\n    <div v-else-if=\"msg.payload.status === 'error'\" style=\"color:#f44336\">\n      Save failed: {{ msg.payload.error }}\n    </div>\n  </div>\n</template>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1000,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "wo2-control-in",
        "type": "http in",
        "z": "wo2-tab",
        "name": "POST /watchout/control",
        "url": "/watchout/control",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 660,
        "wires": [
            [
                "wo2-control-fn"
            ]
        ]
    },
    {
        "id": "wo2-control-fn",
        "type": "function",
        "z": "wo2-tab",
        "name": "Prepare control request",
        "func": "// Validate input and build HTTP request for timeline control.\n// Output 1: valid command  → HTTP Request node\n// Output 2: unknown command → HTTP Response (error)\n\nconst cfg     = flow.get('watchout_config') || {};\nconst host    = cfg.host || 'localhost';\nconst port    = cfg.port || 3019;\nconst baseUrl = 'http://' + host + ':' + port;\n\nconst input   = msg.payload || {};\nconst command = input.command;\nconst mapping = flow.get('watchout_mapping') || {};\n\nfunction resolveTimelineId(contentId) {\n    return (contentId in mapping) ? mapping[contentId] : String(contentId);\n}\n\nmsg._command = command;\nmsg.headers  = { 'Content-Type': 'application/json' };\n\nswitch (command) {\n    case 'start':\n    case 'stop':\n    case 'pause': {\n        const timelineId   = resolveTimelineId(input.contentId);\n        msg._timelineId    = timelineId;\n        msg.method         = 'POST';\n        const action       = (command === 'start') ? 'play' : command;\n        msg.url            = baseUrl + '/v0/timelines/' + timelineId + '/' + action;\n        msg.payload        = null;\n        return [msg, null];\n    }\n    case 'setVar': {\n        msg.method  = 'PUT';\n        msg.url     = baseUrl + '/v0/vars/' + encodeURIComponent(input.varName);\n        msg.payload = { value: input.varValue };\n        return [msg, null];\n    }\n    case 'getState': {\n        msg.method  = 'GET';\n        msg.url     = baseUrl + '/v0/state';\n        msg.payload = null;\n        return [msg, null];\n    }\n    default: {\n        msg.statusCode = 400;\n        msg.payload    = JSON.stringify({ success: false, error: 'Unknown command: ' + command });\n        return [null, msg];\n    }\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 660,
        "wires": [
            [
                "wo2-control-http"
            ],
            [
                "wo2-control-resp"
            ]
        ]
    },
    {
        "id": "wo2-control-resp",
        "type": "http response",
        "z": "wo2-tab",
        "name": "HTTP Response",
        "statusCode": "",
        "headers": {},
        "x": 1080,
        "y": 680,
        "wires": []
    },
    {
        "id": "wo2-sse-inj",
        "type": "inject",
        "z": "wo2-tab",
        "name": "Start SSE monitor",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 1,
        "topic": "start_sse",
        "payload": "start",
        "payloadType": "str",
        "x": 160,
        "y": 780,
        "wires": [
            [
                "wo2-sse-fn"
            ]
        ]
    },
    {
        "id": "wo2-sse-fn",
        "type": "function",
        "z": "wo2-tab",
        "name": "Configure SSE URL",
        "func": "// Build the SSE endpoint URL from flow config and trigger the SSE client\nconst cfg  = flow.get('watchout_config') || {};\nconst host = cfg.host || 'host.docker.internal';\nconst port = cfg.port || 3019;\nmsg.url     = 'http://' + host + ':' + port + '/v1/sse';\nmsg.headers = { 'Accept': 'text/event-stream', 'Cache-Control': 'no-cache' };\nflow.set('watchout_sse_status', 'connecting');\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "wo2-poll-inj",
        "type": "inject",
        "z": "wo2-tab",
        "name": "Poll state (5 s)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 940,
        "wires": [
            [
                "wo2-poll-fn"
            ]
        ]
    },
    {
        "id": "wo2-poll-fn",
        "type": "function",
        "z": "wo2-tab",
        "name": "Poll gate",
        "func": "// Only poll Watchout state when SSE is not connected (fallback mode)\nif (flow.get('watchout_sse_status') === 'connected') {\n    return null;\n}\n\nconst cfg  = flow.get('watchout_config') || {};\nconst host = cfg.host || 'localhost';\nconst port = cfg.port || 3019;\nmsg.method  = 'GET';\nmsg.url     = 'http://' + host + ':' + port + '/v0/state';\nmsg.headers = { 'Content-Type': 'application/json' };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 940,
        "wires": [
            [
                "wo2-poll-http"
            ]
        ]
    },
    {
        "id": "wo2-state-template",
        "type": "ui-template",
        "z": "wo2-tab",
        "group": "e79267107587d426",
        "page": "",
        "ui": "",
        "name": "Live State",
        "order": 2,
        "width": "0",
        "height": "0",
        "format": "<template>\n  <div style=\"padding:4px\">\n    <p v-if=\"!msg\" style=\"color:#aaa\">Waiting for state...</p>\n    <div v-else>\n      <div style=\"margin-bottom:6px\">\n        <span v-if=\"msg.payload.type === 'poll'\" style=\"color:#ff9800;font-size:0.9em\">Polling (SSE offline)</span>\n        <span v-else style=\"color:#4caf50;font-size:0.9em\">SSE Live</span>\n      </div>\n      <pre style=\"background:#1b1b2e;color:#e0e0e0;padding:8px;border-radius:4px;font-size:0.82em;max-height:200px;overflow-y:auto\">{{ JSON.stringify(msg.payload.data, null, 2) }}</pre>\n    </div>\n  </div>\n</template>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1070,
        "y": 890,
        "wires": [
            []
        ]
    },
    {
        "id": "wo2-sse-status-template",
        "type": "ui-template",
        "z": "wo2-tab",
        "group": "e79267107587d426",
        "page": "",
        "ui": "",
        "name": "SSE Status",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<template>\n  <div style=\"padding:4px;font-size:0.9em\">\n    <span v-if=\"!msg\" style=\"color:#aaa\">SSE: unknown</span>\n    <span v-else-if=\"msg.payload.status === 'sse_connected'\"    style=\"color:#4caf50\">SSE Connected</span>\n    <span v-else-if=\"msg.payload.status === 'sse_disconnected'\" style=\"color:#ff9800\">SSE Disconnected - polling</span>\n    <span v-else-if=\"msg.payload.status === 'sse_error'\"        style=\"color:#f44336\">SSE Error: {{ msg.payload.message }}</span>\n  </div>\n</template>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1070,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "wo2-debug-disc",
        "type": "debug",
        "z": "wo2-tab",
        "name": "Discovery debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 320,
        "wires": []
    },
    {
        "id": "wo2-discover-http",
        "type": "http request",
        "z": "wo2-tab",
        "name": "GET /v0/timelines",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 320,
        "wires": [
            [
                "wo2-discover-parse-fn"
            ]
        ]
    },
    {
        "id": "wo2-discover-parse-fn",
        "type": "function",
        "z": "wo2-tab",
        "name": "Parse timelines response",
        "func": "// Parse GET /v0/timelines response and build diff\n\nif (msg.statusCode !== 200) {\n    msg.payload = { status: 'error', error: 'Watchout returned HTTP ' + (msg.statusCode || 'unknown') };\n    return msg;\n}\n\nfunction parseTimelineName(name) {\n    if (!name || name.startsWith('_')) return null;\n    return name.trim().toLowerCase().replace(/\\s+/g, '_').replace(/[^a-z0-9_]/g, '');\n}\n\nfunction compareMapping(oldMap, newMap) {\n    const oldKeys = Object.keys(oldMap);\n    const newKeys = Object.keys(newMap);\n    return {\n        removed:   oldKeys.filter(k => !(k in newMap)),\n        added:     newKeys.filter(k => !(k in oldMap)),\n        unchanged: oldKeys.filter(k => (k in newMap) && oldMap[k] === newMap[k]),\n        changed:   oldKeys.filter(k => (k in newMap) && oldMap[k] !== newMap[k]),\n    };\n}\n\nfunction formatDiff(diff) {\n    const lines = [];\n    diff.removed.forEach(n   => lines.push(\"REMOVED  : Timeline '\" + n + \"' no longer exists\"));\n    diff.added.forEach(n     => lines.push(\"ADDED    : New timeline '\" + n + \"' discovered\"));\n    diff.changed.forEach(n   => lines.push(\"CHANGED  : Timeline '\" + n + \"' ID has changed\"));\n    diff.unchanged.forEach(n   => lines.push(\"OK       : '\" + n + \"'\"));\n    return lines;\n}\n\nconst timelines = Array.isArray(msg.payload) ? msg.payload : [];\n\nconst newMapping = {};\ntimelines.forEach(tl => {\n    const contentId = parseTimelineName(tl.name);\n    if (contentId) newMapping[contentId] = String(tl.id);\n});\n\nconst storedMapping = flow.get('watchout_mapping') || {};\nconst diff     = compareMapping(storedMapping, newMapping);\nconst diffLines = formatDiff(diff);\n\nflow.set('watchout_pending', newMapping);\n\nconst count = Object.keys(newMapping).length;\nnode.status({ fill: 'green', shape: 'dot', text: 'Discovered: ' + count + ' timelines' });\n\nmsg.payload = { status: 'discovered', count, diffLines, newMapping, diff };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 320,
        "wires": [
            [
                "wo2-diff-template",
                "wo2-debug-disc"
            ]
        ]
    },
    {
        "id": "wo2-control-http",
        "type": "http request",
        "z": "wo2-tab",
        "name": "Watchout API call",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 660,
        "wires": [
            [
                "wo2-control-format-fn"
            ]
        ]
    },
    {
        "id": "wo2-control-format-fn",
        "type": "function",
        "z": "wo2-tab",
        "name": "Format control response",
        "func": "// Normalize the Watchout API response into a uniform JSON object\nconst command    = msg._command;\nconst timelineId = msg._timelineId;\nconst statusCode = msg.statusCode || 200;\n\nmsg.payload    = JSON.stringify({\n    success:    statusCode < 300,\n    command:    command,\n    timelineId: timelineId,\n    statusCode: statusCode,\n    body:       msg.payload\n});\nmsg.statusCode = 200;\nmsg.headers    = { 'Content-Type': 'application/json' };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 640,
        "wires": [
            [
                "wo2-control-resp"
            ]
        ]
    },
    {
        "id": "wo2-sse-event-fn",
        "type": "function",
        "z": "wo2-tab",
        "name": "Process SSE event",
        "func": "// Process an incoming SSE event from the Watchout SSE client node.\n// msg.payload = event data (auto-parsed JSON if possible)\n// msg.event   = event type string\n\nconst wasConnected = flow.get('watchout_sse_status') === 'connected';\n\nconst event = {\n    type: msg.event || 'message',\n    data: msg.payload\n};\n\nflow.set('watchout_state',      event.data || event);\nflow.set('watchout_sse_status', 'connected');\n\n// Output 1: state event for Live State UI\nconst stateMsg  = { payload: event, topic: 'watchout/state' };\n\n// Output 2: SSE status update (only send once on initial connect)\nconst statusMsg = wasConnected ? null\n    : { payload: { status: 'sse_connected' } };\n\nnode.send([stateMsg, statusMsg]);\nreturn null;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 780,
        "wires": [
            [
                "wo2-state-template"
            ],
            [
                "wo2-sse-status-template"
            ]
        ]
    },
    {
        "id": "wo2-sse-catch",
        "type": "catch",
        "z": "wo2-tab",
        "name": "SSE error",
        "scope": [
            "wo2-sse-node"
        ],
        "uncaught": false,
        "x": 590,
        "y": 840,
        "wires": [
            [
                "wo2-sse-error-fn"
            ]
        ]
    },
    {
        "id": "wo2-sse-error-fn",
        "type": "function",
        "z": "wo2-tab",
        "name": "SSE error handler",
        "func": "// Handle SSE connection errors / disconnects\nflow.set('watchout_sse_status', 'error');\nconst errMsg = (msg.error && msg.error.message) ? msg.error.message : String(msg.error || 'SSE error');\nnode.send({ payload: { status: 'sse_error', message: errMsg } });\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 840,
        "wires": [
            [
                "wo2-sse-status-template"
            ]
        ]
    },
    {
        "id": "wo2-poll-http",
        "type": "http request",
        "z": "wo2-tab",
        "name": "GET /v0/state",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 940,
        "wires": [
            [
                "wo2-poll-parse-fn"
            ]
        ]
    },
    {
        "id": "wo2-poll-parse-fn",
        "type": "function",
        "z": "wo2-tab",
        "name": "Parse poll response",
        "func": "// Handle the GET /v0/state poll response\nconst statusCode = msg.statusCode || 200;\nif (statusCode !== 200) {\n    node.warn('[Watchout Poll] HTTP ' + statusCode);\n    return null;\n}\n\nconst state = msg.payload;\nflow.set('watchout_state', state);\n\nnode.send({ payload: { type: 'poll', data: state }, topic: 'watchout/state' });\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 940,
        "wires": [
            [
                "wo2-state-template"
            ]
        ]
    },
    {
        "id": "ea5687e7fe6f95be",
        "type": "ui-button",
        "z": "wo2-tab",
        "group": "20eba16b1f4b5a48",
        "name": "Confirm & Save",
        "label": "Confirm & Save",
        "order": 3,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{\"action\":\"confirm\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 300,
        "y": 440,
        "wires": [
            [
                "wo2-action-switch"
            ]
        ]
    },
    {
        "id": "b8e7e6bbe7d88389",
        "type": "ui-button",
        "z": "wo2-tab",
        "group": "20eba16b1f4b5a48",
        "name": "Cancel",
        "label": "Cancel",
        "order": 4,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{\"action\":\"cancel\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 280,
        "y": 480,
        "wires": [
            [
                "wo2-action-switch"
            ]
        ]
    }
]